<template>
  <span :class="{ 'horizontal': horizontal }">
    <oo-currency-input :disabled="tax_uuid === '0' || calculatingFromGross" outlined type="text" label="Nettoprijs per eenheid" v-bind="{...$props, ...$attrs}" v-model="net" :class="{ 'mr-4': horizontal }"/>
    <oo-currency-input :disabled="tax_uuid === '0' || calculatingFromNet" outlined type="text" label="Brutoprijs per eenheid" v-bind="{...$props, ...$attrs}" v-model="gross"/>
  </span>
</template>

<script>
import ooCurrencyInput from "@/components/common/ooCurrencyInput/index";
export default {
  name: 'ooTaxInput',
  props: {
    label: {
      type: String,
      required: false
    },
    horizontal: {
      type: Boolean,
      default: false,
      required: false
    },
    field_identifier: {
      type: String,
      required: false
    },
    value: {
      type: String,
      default: '0',
      required: true
    },
    tax_uuid: {
      type: String,
      default: '0',
      required: true
    }
  },
  components: {
    ooCurrencyInput
  },
  async created() {
    await this.calculateFromNet(this.value);
  },
  data: function () {
    return {
      calculatingFromNet: false,
      calculatingFromGross: false,
      netInputTimer: 0,
      grossInputTimer: 0,
      netValue: '0',
      grossValue: '0'
    }
  },
  methods: {
    async calculateFromNet(newValue) {
      if(this.tax_uuid === '0') return;

      const c = await this.$store.dispatch('orderLines/action', {
        action: 'calculateTax',
        content: {
          tax_uuid: this.tax_uuid,
          price: newValue,
          input: 'net'
        }
      });
      this.grossValue = c.data.gross.toString();
      this.netValue = c.data.net.toString();
    },
    async calculateFromGross(newValue) {
      if(this.tax_uuid === '0') return;

      const c = await this.$store.dispatch('orderLines/action', {
        action: 'calculateTax',
        content: {
          tax_uuid: this.tax_uuid,
          price: newValue,
          input: 'gross'
        }
      });
      this.grossValue = c.data.gross.toString();
      this.netValue = c.data.net.toString();
    }
  },
  computed: {
    net: {
      get: function () {
        return this.netValue.toString();
      },
      set: async function (newValue) {
        this.calculatingFromNet = true;

        clearTimeout(this.netInputTimer);
        const calculator = this.calculateFromNet;
        const parent = this;

        this.netInputTimer = setTimeout(async function () {
          await calculator(newValue);
          parent.$emit('input', parent.netValue)
          parent.$emit('update:field', parent.field_identifier, parent.netValue);
          parent.calculatingFromNet = false;
        }, 500);
      }
    },
    gross: {
      get: function () {
        return this.grossValue.toString();
      },
      set: async function (newValue) {
        this.calculatingFromGross = true;

        clearTimeout(this.grossInputTimer);
        const calculator = this.calculateFromGross;
        const parent = this;

        this.grossInputTimer = setTimeout(async function () {
          await calculator(newValue);
          parent.$emit('input', parent.netValue)
          parent.$emit('update:field', parent.field_identifier, parent.netValue);
          parent.calculatingFromGross = false;
        }, 500);
      }
    }
  },
  watch: {
    value() {
      this.netValue = this.value.toString();
    },
    tax_uuid() {
      this.calculateFromNet(this.value);
    },
  }
}
</script>

<style lang="scss" scoped>
  .horizontal {
    display: flex;
    flex-direction: row;
  }
</style>