<route>
{
"name": "settings-orders",
"meta": {
"title": "Instellingen",
"label": "Orders",
"show": true,
"order":"74",
"icon": "mdi-tune-vertical-variant",
"layout": "oo-main-layout"
}
}
</route>


<script>
import templateEngine from "@/components/mixins/ooJsonTemplateEngine/index";
import {mapState} from "vuex";

export default {
  name: 'settings_orders',
  mixins: [templateEngine],
  computed: {
    ...mapState(["paymentMethods", "shippingMethods", "shippingTypes"]),
    contentViaComputed() {
      return [
        {
          _uid: "220f8a9a-601a-4377-b28d-e9869747efa1",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "220f8a9a-601a-4345-b28d-e9869747eaf0",
              component: "oo-mini-crud",
              class: "col-12 pa-0",
              props: {
                singularTitle: 'Betaalmethode',
                pluralTitle: 'Betaalmethoden',
                namespace: 'paymentMethods'
              }
            },
          ]
        },
        {
          _uid: "220f8a9a-601f-4377-b28d-e9869747eff1",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "220f8a9a-601a-6357-b78d-e9869747eff0",
              component: "oo-mini-crud",
              class: "col-12 pa-0",
              props: {
                singularTitle: 'Verzendmethode',
                pluralTitle: 'Verzendmethoden',
                namespace: 'shippingMethods'
              }
            },
          ]
        },
        {
          _uid: "220f8a9a-601a-4373-b28d-e9869747eff1",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "220f8a9a-601a-4377-b28d-e9869747eff1",
              component: "oo-mini-crud",
              class: "col-12 pa-0",
              props: {
                singularTitle: 'Verzendsoorten',
                pluralTitle: 'Verzendsoort',
                namespace: 'shippingTypes'
              }
            },
          ]
        },
       /* {
          _uid: "220f8a9a-601a-4377-b28d-e9869747eff1",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "230g8a9a-601d-4377-b28d-a9869747dfe2",
              component: "oo-data-table",
              class: "col-12 pa-0",
              props: {
                title: 'Diensten (fake)',
                headers: [
                  {
                    text: 'Label',
                    value: 'a',
                    sortable: true
                  }
                ],
                items: [
                  {a: 'Stofferen'},
                  {a: 'Schilderen'},
                  {a: 'Aflakken'},
                  {a: 'Thuis afleveren'}
                ],
                loading: false,
                selectable: false,
                actions: true,
                bare: true,
                page: 1,
                'serverItemsLength': 1
              },
            }
          ]
        }*/
      ]
    }
  },
  data() {
    return {
     /* dialog: false,
      dialogEntityType: "",
      dialogTitle: "",*/
      workbench: {},

      components: {
        'oo-mini-crud': () => import('@/components/common/ooMiniCrud/index.vue'),
        'oo-data-table': () => import('@/components/common/ooDataTable/index.vue'),
        'oo-detail-card': () => import('@/components/common/ooDetailCard/index.vue'),
        'oo-edit-modal': () => import('@/components/common/ooEditModal/index.vue')
      }
    }
  }
}
</script>