<template>
  <span class="oo-date-picker-container">
      <v-menu
          v-model="menu"
          :close-on-content-click="false"
          offset-y
          class="oo-date-menu"
          min-width="20vw"
          max-width="20vw"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
              outlined
              :value="humanReadableDate"
              :label="label"
              :rules="rules"
              readonly
              v-bind="attrs"
              v-on="on"
              clearable
              @click:clear="clearInput"
          ></v-text-field>
        </template>
        <v-date-picker
            full-width
            v-bind="{...$props, ...$attrs}"
            :value="datePickerDate"
            @change="onInput"
        ></v-date-picker>
      </v-menu>
  </span>
</template>

<script>
export default {
  name: 'ooDatePicker',
  props: {
    label: {
      type: String,
      required: false
    },
    field_identifier: {
      type: String,
      required: false
    },
    rules: {
      type: Array,
      required: false
    },
    value: {
      type: String,
      default: '',
      required: true
    }
  },
  methods: {
    onInput(e){
      this.menu = false
      this.$emit('update:field', this.field_identifier, e+'T00:00:00.000000Z');
    },
    clearInput() {
      this.$emit('update:field', this.field_identifier, '');
    }
  },
  computed: {
    humanReadableDate () {
      return this.value ? this.$moment(this.value).format('DD-M-YYYY') : ''
    },
    datePickerDate () {
      return this.value ? this.$moment(this.value).toISOString().substring(0, 10) : ''
    }
  },
  data() {
    return {
      menu: false
    }
  }
}
</script>

<style lang="scss" scoped>
  .oo-date-menu {
    position: relative;
  }
</style>