<route>
{
"name": "settings-stockManagement",
"meta": {
"title": "Instellingen",
"label": "Voorraadmanagement",
"show": false,
"order":"76",
"icon": "mdi-tune-vertical-variant",
"layout": "oo-main-layout"
}
}
</route>


<script>
import templateEngine from "@/components/mixins/ooJsonTemplateEngine/index";
import {mapState} from "vuex";

export default {
  name: 'settings_orderprocessing',
  mixins: [templateEngine],
  computed: {
    ...mapState(["orders"]),
    contentViaComputed() {
      return [
        {
          _uid: "220f8a9a-631a-4877-b22d-e9869747fef2",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "223e8a9d-602a-4347-b27d-e9839747efd0",
              component: "oo-mini-crud",
              class: "col-12 pa-0",
              props: {
                singularTitle: 'Merk',
                pluralTitle: 'Merken',
                namespace: 'productBrands'
              }
            },
          ]
        },
        {
          _uid: "220f8a9a-631a-4877-b22d-e9869747edf5",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "223e8a9d-602a-4347-b27d-e9839747efd0",
              component: "oo-mini-crud",
              class: "col-12 pa-0",
              props: {
                singularTitle: 'Categorie',
                pluralTitle: 'Categorieën',
                namespace: 'productCategories'
              }
            },
          ]
        },
      /*  {
          _uid: "220f8a9a-601a-4377-b28d-e9869747eff0",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "221f8a9a-601d-4372-b28d-e9869747dfe0",
              component: "oo-data-table",
              class: "col-12 pa-0",
              props: {
                title: 'Leveranciers (fake)',
                headers: [
                  {
                    text: 'Kolom 1',
                    value: 'a',
                    sortable: true
                  },
                  {
                    text: 'Kolom 2',
                    value: 'b',
                    sortable: true
                  },
                  {
                    text: 'Kolom 3',
                    value: 'c',
                    sortable: true
                  },
                  {
                    text: 'Kolom 4',
                    value: 'd',
                    sortable: true
                  },
                  {
                    text: 'Kolom 5',
                    value: 'e',
                    sortable: true
                  },
                ],
                items: [
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'}
                ],
                loading: false,
                selectable: false,
                actions: true,
                bare: true,
                page: 1,
                'serverItemsLength': 1
              },
            }
          ]
        }*/
      ]
    }
  },
  data() {
    return {
      components: {
        'oo-data-table': () => import('@/components/common/ooDataTable/index.vue'),
        'oo-detail-card': () => import('@/components/common/ooDetailCard/index.vue'),
        'oo-mini-crud': () => import('@/components/common/ooMiniCrud/index.vue')
      }
    }
  }
}
</script>