<template>
  <v-dialog
      v-model="dialog"
      persistent
      overlay-opacity=".95"
      overlay-color="#0A0924"
      max-width="1200px"
  >
    <span class="modal-container">
        <slot/>
    </span>
  </v-dialog>
</template>

<script>

export default {
  name: 'ooModal',
  props: {
    dialog: {
      type: Boolean,
      required: false
    }
  },
}
</script>

<style lang="scss" scoped>
.modal-container {
  background: $oo-white;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
</style>
