<template>
  <div>
    <span class="header ma-6 mb-4" v-if="title">
      <span class="header-title">{{ title }}</span>
      <span class="header-button" v-if="actions">
        <v-btn class="primary" @click="$emit('click:header-action')">{{ headerActionLabel }}</v-btn>
      </span>
    </span>
    <v-data-table class="table"
                  :sort-by="sortBy"
                  :sort-desc="sortDesc"
                  :class="{dark:dark, light:!dark}"
                  :headers="ooHeaders"
                  :items="items"
                  :items-per-page="itemsPerPage"
                  :loading="loading"
                  :page="page"
                  :server-items-length="serverItemsLength"
                  @click:row="(v) => { $emit('click:row', v) }"
                  @update:sort-by="(v) => { $emit('update:sort-by', v) }"
                  @update:sort-desc="(v) => { $emit('update:sort-desc', v) }"
                  item-key="uuid"
                  hide-default-footer
    >
      <!-- Pass down slots from parent to v-data-table -->
      <template v-for="(_, name) in $scopedSlots" :slot="name" slot-scope="slotData">
        <slot :name="name" v-bind="slotData"/>
      </template>

      <template v-slot:header.select v-if="ooSelectedItems.length > 0">
        <span class="amount">
          {{ ooSelectedItems.length }} items geselecteerd
        </span>
      </template>

      <template v-slot:body="props">
        <draggable
            @end="sortItems(props.items)"
            :options="{disabled: !draggable}"
            :list="props.items"
            tag="tbody"
        >
          <tr
              v-for="(item, index) in props.items"
              :key="index"
              @click="$emit('click:row', item)"
          >
            <template
                v-for="(header, index) in props.headers"
            >
              <td :key="'row' + index" :class="'col-' + header.value">
                <template v-if="header.value==='open'">
                  <v-btn
                      :key="'open-'+ item.id"
                      small
                      color="rgba(255, 255, 255, 0)"
                      elevation="0"
                      @click="$emit('open:item', item)"
                  >
                    <v-icon dark>mdi-chevron-right</v-icon>
                  </v-btn>
                </template>

                <template v-if="header.value==='remove'">
                  <v-btn
                      :key="'delete-'+ item.id"
                      small
                      color="rgba(255, 255, 255, 0)"
                      elevation="0"
                      @click="$emit('remove:item', item)"
                  >
                    <v-icon dark>mdi-trash-can</v-icon>
                  </v-btn>
                </template>

                <template v-if="header.value==='drag'">
                  <v-icon
                      small
                      class="page__grab-icon"
                  >
                    mdi-arrow-all
                  </v-icon>
                </template>

                <template v-if="header.value==='select'">
                  <!--<v-checkbox
                      class="ml-2 mt-0"
                      :key="'select-'+ item.id"
                      :value="item.checked"
                      @change="$emit('select:item', item, arguments[0])"
                      color="primary"
                      hide-details
                  ></v-checkbox>-->
                </template>

                <template v-if="header.value==='empty'"></template>

                <template v-else>{{ item[header.value] }}</template>
              </td>
            </template>
          </tr>
        </draggable>
      </template>

      <div class="footer mt-2 pl-8 pr-8" v-if="!bare" slot="footer" slot-scope="footer">
        <span>{{ footer.props.pagination.itemsLength }} resultaten</span>
        <oo-pagination
            :active-page="footer.props.pagination.page"
            :page-count="footer.props.pagination.pageCount"
            @update:page="(v) => { $emit('update:page', v) }"
        />
      </div>
    </v-data-table>
  </div>
</template>

<script>
import OoPagination from "@/components/common/ooPagination/index";
import draggable from 'vuedraggable'

export default {
  name: 'ooDataTable',
  components: {OoPagination, draggable},
  computed: {
    dark() {
      return config.THEME.DARK;
    },
    ooHeaders() {
      let headers = this.headers;
      if (this.selectable) headers.unshift({
        text: "",
        class: "selection",
        width: 80,
        align: "center",
        value: "select",
        sortable: false
      });
      if (this.draggable) headers.unshift({
        text: "Sorteer",
        class: "dragbar",
        width: 80,
        align: "center",
        value: "drag",
        sortable: false
      });
      if (this.actions) headers.push({text: "", width: 80, align: "center", value: "remove", sortable: false});
      if (this.actions) headers.push({text: "", width: 80, align: "center", value: "open", sortable: false});
      if (!this.bare) headers.push({text: "", width: 80, align: "center", value: "empty", sortable: false});
      return headers;
    },
    ooSelectedItems() {
      return this.items
          ? this.items.filter(function (i) {
            if (i === null || i.checked === undefined) return false;
            return i.checked === true;
          })
          : [];
    },
  },
  props: {
    headers: {
      type: Array,
      required: true
    },
    items: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      required: false
    },
    headerActionLabel: {
      type: String,
      default: "Toevoegen",
      required: false
    },
    serverItemsLength: {
      type: Number,
      required: false
    },
    page: {
      type: Number,
      default: 1,
      required: false
    },
    itemsPerPage: {
      type: Number,
      default: 50,
      required: false
    },
    sortBy: {
      type: String,
      required: false
    },
    sortDesc: {
      type: Boolean,
      required: false
    },
    loading: {
      type: Boolean,
      default: false,
      required: false
    },
    selectable: {
      type: Boolean,
      default: true,
      required: false
    },
    actions: {
      type: Boolean,
      default: false,
      required: false
    },
    bare: {
      type: Boolean,
      default: false,
      required: false
    },
    draggable: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  methods: {
    sortItems(items) {
      items.map((e, i) => {
        this.$emit('sort:item', {
          ...e,
          position:i
        });
      })
    },
  }
}
</script>

<style lang="scss" scoped>

.header {
  display: flex;

  .header-title {
    @include font-bold;
    font-size: 24px;
    line-height: 36px;
    width: 100%;
  }

  .header-button {
    text-align: right;
  }
}

.table.dark ::v-deep table {
  background: $oo-dark-gray;
  tbody tr:nth-child(even) {
    background: $bg-dark-secondary;
  }
}

.table.light ::v-deep table {
  background: $oo-white;
  tbody tr:nth-child(even) {
    background: $bg-light-secondary;
  }
}

.table {
  background: rgba(255,255,255,0) !important;

  ::v-deep tr {
    th:not(:first-child),
    td:not(:first-child) {
      border-left: 1px solid #E4E4E8;
    }

    th {
      color: $brand-primary !important;
    }
  }
}

.selection {
  position: relative;

  .amount {
    position: absolute;
    top: 0;
    left: 0;
    height: 48px;
    line-height: 48px;
    width: 200px;
    background: $bg-light-primary !important;
    border-bottom: inherit;
    text-align: left;
    padding-left: inherit;
    color: $oo-gray;
    font-size: 1.5em;
    @include font-regular;
  }
}

.text-center .v-input {
  display: inline-block;
}

.col-drag {
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  span {
    @include font-italic();
    width: 100px;
  }
}
</style>