<route>
{
"name": "error",
"meta": {
"title": "Fout",
"label": "Fout",
"show": false,
"order":"0",
"icon": "mdi-information-outline",
"layout": "oo-main-layout",
"requiresAuth": false
}
}
</route>


<template>
  <div class="col-12">
      <router-view></router-view>
  </div>
</template>