<route>
{
"name": "settings-orderProcessing",
"meta": {
"title": "Instellingen",
"label": "Orderverwerking",
"show": true,
"order":"75",
"icon": "mdi-tune-vertical-variant",
"layout": "oo-main-layout"
}
}
</route>


<script>
import templateEngine from "@/components/mixins/ooJsonTemplateEngine/index";
import {mapState} from "vuex";

export default {
  name: 'settings_orderprocessing',
  mixins: [templateEngine],
  computed: {
    ...mapState(["orders"]),
    contentViaComputed() {
      return [
        {
          _uid: "220f8a9a-601a-4377-b28d-e9869742eff0",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "220f8a9a-601a-4374-b28d-e9869747dfe0",
              component: "oo-flow-crud",
              class: "col-12 pa-0",
              props: {
                singularTitle: 'Orderverwerkingsgroep',
                pluralTitle: 'Orderverwerkingsgroepen',
                namespace: 'flows'
              },
              slot: []
            }
          ]
        },
        {
          _uid: "220f8a9a-611a-4377-b28d-e9869742edf0",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "220f8a9a-601a-4374-b28d-e9869757eee0",
              component: "oo-mini-crud",
              class: "col-12 pa-0",
              props: {
                singularTitle: 'Uitbestedingspartij',
                pluralTitle: 'Uitbestedingspartijen',
                namespace: 'suppliers'
              }
            },
            /*{
              _uid: "220f8a9a-601a-4374-b28d-e9869747dfe0",
              component: "oo-data-table",
              class: "col-12 pa-0",
              props: {
                noContentPadding: true
              },
              props: {
                title: 'Orderverwerkingsgroepen (fake)',
                headers: [
                  {
                    text: 'Label',
                    value: 'a',
                    sortable: true
                  }
                ],
                items: [
                  {a: 'Orders'},
                  {a: 'Stalen'}
                ],
                loading: false,
                selectable: false,
                actions: true,
                bare: true,
                page: 1,
                'serverItemsLength': 1
              },
            }*/
          ]
        },
/*        {
          _uid: "220f8a9a-601a-4377-b28d-e9869347eff0",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "220f8a9a-601a-4372-b28d-e5869447dfe0",
              component: "oo-data-table",
              class: "col-12 pa-0",
              props: {
                title: 'Uitbestedingspartijen (fake)',
                headers: [
                  {
                    text: 'Kolom 1',
                    value: 'a',
                    sortable: true
                  },
                  {
                    text: 'Kolom 2',
                    value: 'b',
                    sortable: true
                  },
                  {
                    text: 'Kolom 3',
                    value: 'c',
                    sortable: true
                  },
                  {
                    text: 'Kolom 4',
                    value: 'd',
                    sortable: true
                  },
                  {
                    text: 'Kolom 5',
                    value: 'e',
                    sortable: true
                  },
                ],
                items: [
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'}
                ],
                loading: false,
                selectable: false,
                actions: true,
                bare: true,
                page: 1,
                'serverItemsLength': 1
              },
            }
          ]
        },
        {
          _uid: "220f8a9a-601a-4377-b28d-e9869747eff0",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "220f8a9a-601a-4373-b28d-e9869747dfe0",
              component: "oo-data-table",
              class: "col-12 pa-0",
              props: {
                title: 'Vervoerders (fake)',
                headers: [
                  {
                    text: 'Kolom 1',
                    value: 'a',
                    sortable: true
                  },
                  {
                    text: 'Kolom 2',
                    value: 'b',
                    sortable: true
                  },
                  {
                    text: 'Kolom 3',
                    value: 'c',
                    sortable: true
                  },
                  {
                    text: 'Kolom 4',
                    value: 'd',
                    sortable: true
                  },
                  {
                    text: 'Kolom 5',
                    value: 'e',
                    sortable: true
                  },
                ],
                items: [
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'}
                ],
                loading: false,
                selectable: false,
                actions: true,
                bare: true,
                page: 1,
                'serverItemsLength': 1
              },
            }
          ]
        }*/
      ]
    }
  },
  data() {
    return {
      components: {
        'oo-data-table': () => import('@/components/common/ooDataTable/index.vue'),
        'oo-detail-card': () => import('@/components/common/ooDetailCard/index.vue'),
        'oo-mini-crud': () => import('@/components/common/ooMiniCrud/index.vue'),
        'oo-flow-crud': () => import('@/components/common/ooFlowCrud/index.vue')
      }
    }
  }
}
</script>