<template>
  <div id="oo-sub-menu-container">
    <ul id="oo-sub-menu">
      <router-link v-for="item in items" :to="item.path" :key="'oo-sub-menu-item-' + item.path" :class="{active: item.active}" v-show="item.name !== undefined">
        <li class="pl-4 pt-3 pb-3">{{ item.name }}</li>
      </router-link>
    </ul>
  </div>

</template>

<script>
export default {
  name: 'ooSubMenu',
  created() {

  },
  props: {
    items: {
      type: Array,
      required: true,
    }
  },
  data() {
    return {
      menuItems: []
    }
  }
}
</script>

<style lang="scss" scoped>
#oo-sub-menu-container {
  height: 100%;

  #oo-sub-menu {
    a {
      text-decoration: none !important;
    }

    li {
      border-left: 2px solid #B9B7C3;
      color: #000000;
    }

    li::marker {
      content: "";
    }

    .active li {
      border-left: 2px solid $brand-primary;
    }
  }
}
</style>
