<template>
  <oo-dual-modal
      :loading="loading"
      :valid="orderCreateShipmentValid"
      :dialog="show"
      @cancel="$emit('close')"
      next-label-right="Zending maken en etiket afdrukken"
      @submit="submitShipment">
    <template v-slot:left>
      <h1 class="mb-8"><span class="highlight mr-2">1.</span>Producten
        ({{ order.products.reduce((total, product) => total + parseFloat(parseFloat(product.qty).toFixed(2)), 0) }})
      </h1>
      <span class="crud-container">
          <v-progress-linear height="2" color="red" :indeterminate="loading"/>
          <v-simple-table class="modal-table">
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">
                      Aantal
                    </th>
                    <th class="text-left">
                      Product
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                      v-for="item in order.products"
                      :key="item.name"
                  >
                    <td>{{ parseFloat(item.qty) === parseInt(item.qty) ? parseInt(item.qty) : parseFloat(item.qty).toFixed(2) }}</td>
                    <td>{{ item.label }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
        </span>
    </template>
    <template v-slot:right>
      <h1 class="mb-8"><span class="highlight mr-2">2.</span>Bezorging</h1>

      <span v-if="orderShippingAddress !== undefined">
           <span class="shipping-address">
             <strong>Afleveradres</strong><br/>
             <oo-address :data="orderShippingAddress"/>
          </span>

          <v-form
              ref="form"
              v-model="orderCreateShipmentValid"
              class="flex-column mt-4"
          >
            <oo-select
                label="Bezorgmethode"
                :rules="[ v => !!v || 'Bezorgmethode is vereist']"
                @change="updateOrderShippingMethod"
                :value="upsertShipment.shipping_method_uuid"
                :items="shippingMethodOptions"
            />
            <oo-select
                label="Verzendsoort"
                :rules="[ v => !!v || 'Verzendsoort is vereist']"
                @change="updateOrderShippingType"
                :value="upsertShipment.shipping_type_uuid"
                :items="shippingTypeOptions"
            />

            <span v-for="shipment_package in upsertShipment.shipment_package" :key="shipment_package.key"
                  class="colli-input">
              <oo-text-field class="mr-4" v-model="shipment_package.length" label="Lengte (cm)"
                             :rules="[ v => !!v || 'Lengte is vereist', v => !isNaN(v) || 'Lengte  moet numeriek zijn']"/>
              <oo-text-field class="mr-4" v-model="shipment_package.width" label="Breedte (cm)"
                             :rules="[ v => !!v || 'Breedte is vereist', v => !isNaN(v) || 'Breedte  moet numeriek zijn']"/>
              <oo-text-field class="mr-4" v-model="shipment_package.height" label="Hoogte (cm)"
                             :rules="[ v => !!v || 'Hoogte is vereist', v => !isNaN(v) || 'Hoogte  moet numeriek zijn']"/>
              <oo-text-field class="mr-4" v-model="shipment_package.weight" label="Gewicht (kg)"
                             :rules="[ v => !!v || 'Gewicht is vereist', v => !isNaN(v) || 'Gewicht  moet numeriek zijn']"/>
              <v-btn class="mb-8" @click="removeShipmentPackage(shipment_package.key)" icon><v-icon
                  dark>mdi-trash-can</v-icon></v-btn>
            </span>
          </v-form>

          <span>
            <v-btn @click="createShipmentPackage">Colli toevoegen</v-btn>
          </span>
        </span>
      <span v-else class="no-address">
          <span>Deze order is momenteel nog niet voorzien van een adres,</span>
          <span>het is daarom niet mogelijk om deze order te bezorgen.</span>
          <v-btn @click="$emit('open:order',order.uuid)" class="mt-4">Open order</v-btn>
        </span>

    </template>
    <template v-slot:btn-left>
      <v-btn outlined elevation="0" class="mr-4" @click="$emit('open:productLabels')">Productlabels downloaden</v-btn>
      <v-btn outlined elevation="0" class="mr-4" @click="$emit('open:packingSlip')">Pakbon downloaden</v-btn>
    </template>
  </oo-dual-modal>
</template>

<script>
import OoSelect from "@/components/common/ooSelect";
import ooTextField from "@/components/common/ooTextField";
import ooDualModal from "@/components/common/ooDualModal";
import ooAddress from "@/components/common/ooAddress";
import {mapState} from "vuex";

export default {
  name: 'createShipmentModal',
  components: {
    OoSelect,
    ooTextField,
    ooDualModal,
    ooAddress
  },
  methods: {
    updateOrderShippingMethod(e) {
      this.upsertShipment.shipping_method_uuid = e;
    },
    updateOrderShippingType(e) {
      this.upsertShipment.shipping_type_uuid = e;
    },

    createShipmentPackage() {
      let newPackage = {
        "key": this.generateUuid(),
        "length": "",
        "width": "",
        "height": "",
        "weight": ""
      };
      this.upsertShipment.shipment_package.push(newPackage);
    },
    removeShipmentPackage(key) {
      const i = this.upsertShipment.shipment_package.findIndex(item => {
        return item.key === key
      });
      if (i > -1) this.upsertShipment.shipment_package.splice(i, 1);
    },

    generateUuid() {
      let dt = new Date().getTime();
      let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        let r = (dt + Math.random() * 16) % 16 | 0;
        dt = Math.floor(dt / 16);
        return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
      });
      return uuid;
    },

    submitShipment() {
      //Local copy
      let _upsertShipment = {...this.upsertShipment};
      _upsertShipment.shipment_package = {...this.upsertShipment.shipment_package}

      //remove UUID's
      _upsertShipment.shipment_package =
          this.upsertShipment.shipment_package.map(function(e){
            let shipmentPackage = {...e};
            delete shipmentPackage.key;
            return shipmentPackage;
          })

      //Emit without UUID's
      this.$emit('finish', 'orderCreateShipment', {upsertShipment:_upsertShipment})
    }
  },
  computed: {
    ...mapState(["shippingMethods", "shippingTypes", "customers", "customerAddresses"]),
    shippingMethodOptions() {
      return this.shippingMethods.data.map((x) => ({
            'text': x.name,
            'value': x.uuid
          }),
      );
    },
    shippingTypeOptions() {
      return this.shippingTypes.data.map((x) => ({
            'text': x.name,
            'value': x.uuid
          }),
      );
    },
    customer() {
      return this.customers.data.find(e => e.uuid === this.order.customer_uuid) ?? {};
    },
    orderShippingAddress() {
      return {
        company_name: this.customer.company_name,
        ...this.customerAddresses.data.filter((e) => e.type === 'shipping' && e.customer_uuid === this.order.customer_uuid && this.order.shipping_address_uuid === e.uuid)[0]
      };
    }
  },
  props: {
    order: {
      type: Object,
      required: true
    },
    show: {
      type: Boolean,
      required: true,
      default: false
    },
    loading: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  data() {
    return {
      orderCreateShipmentValid: false,
      upsertShipment: {
        shipping_method_uuid: '',
        shipment_package: []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.highlight {
  color: $brand-primary;
}

.no-address {
  display: flex;
  flex-direction: column;
}

.modal-table {
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}

.crud-container {
  display: flex;
  flex-direction: column;
  * {
    @include font-regular;
    font-size: 19px !important;
    line-height: 21px !important;
  }
}

.colli-input {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
}
</style>
