<template>
  <oo-dual-modal
      :valid="orderCreateShipmentFabrieksverkoopValid"
      :dialog="show"
      @cancel="$emit('close')"
      next-label-right="Zending maken en etiket afdrukken"
      @submit="$emit('finish', 'orderCreateShipmentFabrieksverkoop', {upsertShipmentFabrieksverkoop})">

    <template v-slot:left>
      <h1 class="mb-8"><span class="highlight mr-2">1.</span>Producten
        ({{ order.products.reduce((total, product) => total + parseFloat(parseFloat(product.qty).toFixed(2)), 0) }})
      </h1>
      <span class="crud-container">
          <v-progress-linear height="2" color="red" :indeterminate="loading"/>
          <v-simple-table class="modal-table">
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">
                      Aantal
                    </th>
                    <th class="text-left">
                      Product
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                      v-for="item in order.products"
                      :key="item.name"
                  >
                    <td>{{ parseFloat(item.qty) === parseInt(item.qty) ? parseInt(item.qty) : parseFloat(item.qty).toFixed(2) }}</td>
                    <td>{{ item.label }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
        </span>
    </template>
    <template v-slot:right>
      <h1 class="mb-8"><span class="highlight mr-2">2.</span>Bezorging</h1>

      <span v-if="orderShippingAddress !== undefined">
           <span class="shipping-address">
             <strong>Afleveradres</strong><br/>
             <oo-address :data="orderShippingAddress"/>
          </span>

          <v-form
              ref="form"
              v-model="orderCreateShipmentFabrieksverkoopValid"
              class="flex-column mt-4"
          >
            <oo-text-field
                label="Colli"
                v-model="upsertShipmentFabrieksverkoop.colli"
                :rules="[ v => !!v || 'Colli is vereist', v => !isNaN(v) || 'Colli moet numeriek zijn']"
            />
          </v-form>
        </span>
      <span v-else class="no-address">
          <span>Deze order is momenteel nog niet voorzien van een adres,</span>
          <span>het is daarom niet mogelijk om deze order te bezorgen.</span>
          <v-btn @click="$emit('open:order',order.uuid)" class="mt-4">Open order</v-btn>
        </span>

    </template>
    <template v-slot:btn-left>
      <v-btn outlined elevation="0" class="mr-4" @click="$emit('open:productLabels')">Productlabels downloaden</v-btn>
      <v-btn outlined elevation="0" class="mr-4" @click="$emit('open:packingSlip')">Pakbon downloaden</v-btn>
    </template>
  </oo-dual-modal>
</template>

<script>
import ooTextField from "@/components/common/ooTextField";
import ooDualModal from "@/components/common/ooDualModal";
import ooAddress from "@/components/common/ooAddress";
import {mapState} from "vuex";

export default {
  name: 'createShipmentFabrieksverkoopModal',
  components: {
    ooTextField,
    ooDualModal,
    ooAddress
  },
  props: {
    order: {
      type: Object,
      required: true
    },
    show: {
      type: Boolean,
      required: true,
      default: false
    },
    loading: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  computed: {
    ...mapState(["customers", "customerAddresses"]),
    customer() {
      return this.customers.data.find(e => e.uuid === this.order.customer_uuid) ?? {};
    },
    orderShippingAddress() {
      return {
        company_name: this.customer.company_name,
        ...this.customerAddresses.data.filter((e) => e.type === 'shipping' && e.customer_uuid === this.order.customer_uuid && this.order.shipping_address_uuid === e.uuid)[0]
      };
    }
  },
  data() {
    return {
      orderCreateShipmentFabrieksverkoopValid: false,
      upsertShipmentFabrieksverkoop: {
        colli: 0
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.highlight {
  color: $brand-primary;
}

.no-address {
  display: flex;
  flex-direction: column;
}

.crud-container {
  display: flex;
  flex-direction: column;
  * {
    @include font-regular;
    font-size: 19px !important;
    line-height: 21px !important;
  }
}

.modal-table {
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}
</style>
