<template>
  <oo-modal width="650px" :dialog="show">
    <oo-modal-row>
      <oo-modal-card>
        <h1>Productie extern</h1>
      </oo-modal-card>
    </oo-modal-row>

    <oo-modal-row>
      <oo-modal-card>
        <v-form
            ref="form"
            v-model="orderSelectOutsourceValid"
            class="flex-column col-12"
        >
            <span>
               <oo-select
                   label="Order uitbesteden aan"
                   :rules="[ v => !!v || 'Leverancier is vereist']"
                   class="mt-4"
                   @change="updateDelegate"
                   :value="delegateOrderToSupplierByEmail.delegated_to_supplier_uuid"
                   :items="supplierOptions"
               />
              <oo-text-field
                  label="Notitie"
                  :rules="[]"
                  class="mt-4"
                  v-model="delegateOrderToSupplierByEmail.delegated_to_supplier_note"
                  :items="supplierOptions"
              />
            </span>
          <span v-if="delegateOrderToSupplierByEmail.delegated_to_supplier_uuid">
              Pakbon wordt gemaild naar: {{ suppliers.data.find((e) => e.uuid === delegateOrderToSupplierByEmail.delegated_to_supplier_uuid).email }}
            </span>
        </v-form>

      </oo-modal-card>
    </oo-modal-row>

    <oo-modal-row>
      <oo-modal-card>
        <v-btn outlined elevation="0" @click="$emit('close')">Annuleren</v-btn>
        <v-btn :disabled="!orderSelectOutsourceValid" :loading="loading" elevation="0" class="primary"
               @click="$emit('finish', 'orderSelectOutsource', {delegateOrderToSupplierByEmail})">Opslaan
        </v-btn>
      </oo-modal-card>
    </oo-modal-row>
  </oo-modal>
</template>

<script>
import OoSelect from "@/components/common/ooSelect";
import ooTextField from "@/components/common/ooTextField";
import ooModal from "@/components/common/ooModal";
import ooModalRow from "@/components/common/ooModalRow";
import ooModalCard from "@/components/common/ooModalCard";
import {mapState} from "vuex";

export default {
  name: 'selectOutsourceModal',
  components: {
    OoSelect,
    ooTextField,
    ooModal,
    ooModalRow,
    ooModalCard
  },
  props: {
    order: {
      type: Object,
      required: true
    },
    show: {
      type: Boolean,
      required: true,
      default: false
    },
    loading: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  methods: {
    updateDelegate(e) {
      this.delegateOrderToSupplierByEmail.delegated_to_supplier_uuid = e;
    }
  },
  computed: {
    ...mapState(["suppliers"]),
    supplierOptions() {
      return this.suppliers.data.map((x) => ({
            'text': x.company_name,
            'value': x.uuid
          }),
      );
    }
  },
  data() {
    return {
      orderSelectOutsourceValid: false,
      delegateOrderToSupplierByEmail: {
        delegated_to_supplier_uuid: '',
        delegated_to_supplier_note: ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
