<template>
  <oo-modal
      :dialog="show"
      @cancel="$emit('close')">

    <oo-modal-row>
      <oo-modal-card>
        <h1>Order #{{ order.order_number }} bekijken</h1>
      </oo-modal-card>
    </oo-modal-row>

    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-left">
            Aantal
          </th>
          <th class="text-left">
            Product
          </th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="item in order.products"
            :key="item.name"
        >
          <td>{{ parseFloat(item.qty) === parseInt(item.qty) ? parseInt(item.qty) : parseFloat(item.qty).toFixed(2) }}
          </td>
          <td>{{ item.label }}</td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>

    <oo-modal-row>
      <oo-modal-card>
        <v-btn outlined elevation="0" @click="$emit('close')">Sluit</v-btn>
        <span>
              <v-btn outlined elevation="0" class="mr-4"
                     @click="$emit('open:productLabels')">Productlabels downloaden</v-btn>
              <v-btn outlined elevation="0" class="mr-4" @click="$emit('open:packingSlip')">Pakbon downloaden</v-btn>
              <v-btn elevation="0" class="primary" @click="$emit('open:order', order.uuid)">Bewerk</v-btn>
          </span>
      </oo-modal-card>
    </oo-modal-row>
  </oo-modal>
</template>

<script>
import ooModal from "@/components/common/ooModal";
import ooModalRow from "@/components/common/ooModalRow";
import ooModalCard from "@/components/common/ooModalCard";

export default {
  name: 'showOrderModal',
  components: {
    ooModal,
    ooModalRow,
    ooModalCard
  },
  props: {
    order: {
      type: Object,
      required: true
    },
    show: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>

</style>
