<template>
  <span>
    <oo-edit-modal
       @cancel="closeItem"
       @save="handleStoreItem"
       @reset:apiErrors="$emit('reset:apiErrors')"
       :dialog="this.dialog"
       :key="this.namespace + '_' + this.dialogIteration"
       title="Swimlane aanmaken"
       :field-meta="this.editFields"
       :fields="this.workbench"
    />
    <span class="container">
        <span class="column-descriptor mb-4">Naam</span>

        <span v-for="(swimlane, index) in swimlanes.inbox" :key="'order-swimlane-'+swimlane.uuid" class="swimlane mb-4">
            <span class="swimlane-card pa-4 disabled">
              <v-icon :color="swimlane.color" class="pr-4">mdi-login-variant</v-icon>
              {{swimlane.name}}
            </span>
            <v-btn
                v-if="swimlanes.default.length === 0 && index === swimlanes.inbox.length - 1"
                @click="createItem"
                class="primary-text mt-2 mb-2 ml-2"
                outlined
                color="rgba(255, 255, 255, 0)"
                elevation="0"
            >
            <v-icon dark>mdi-plus</v-icon>
          </v-btn>
        </span>

        <draggable v-model="swimlanes.default" group="flowSwimlaneCrud" @sort="sortItems">
          <span v-for="(swimlane, index) in swimlanes.default" :key="'order-swimlane-'+swimlane.uuid" class="swimlane mb-4">
            <span class="swimlane-card pa-4">
              <v-icon :color="swimlane.color" class="pr-4">mdi-checkbox-intermediate</v-icon>
              {{swimlane.name}}
            </span>
            <v-btn
                @click="removeItem(swimlane.uuid)"
                class="mt-2 mb-2 ml-2"
                color="rgba(255, 255, 255, 0)"
                elevation="0"
            >
              <v-icon dark>mdi-trash-can</v-icon>
            </v-btn>

             <v-btn
                 v-if="index === swimlanes.default.length - 1"
                 @click="createItem"
                 class="primary-text mt-2 mb-2 ml-2"
                 outlined
                 color="rgba(255, 255, 255, 0)"
                 elevation="0"
             >
            <v-icon dark>mdi-plus</v-icon>
          </v-btn>
        </span>
      </draggable>

      <span v-for="swimlane in swimlanes.completed" :key="'order-swimlane-'+swimlane.uuid" class="swimlane mb-4">
          <span class="swimlane-card pa-4 disabled">
            <v-icon :color="swimlane.color" class="pr-4">mdi-logout-variant</v-icon>
            {{swimlane.name}}
          </span>
      </span>

    </span>
  </span>
</template>



<script>
import ooEditModal from "@/components/common/ooEditModal/index";
import {mapActions} from "vuex";
import draggable from 'vuedraggable'

export default {
  name: 'ooFlowSwimlaneCrud',
  components: {
    ooEditModal,
    draggable
  },
  created() {
    this.refreshSwimlanes();
  },
  methods: {
    ...mapActions('toast', {
      successToast: 'success',
      warningToast: 'warning',
      errorToast: 'error'
    }),
    refreshSwimlanes() {
      this.swimlanes.inbox = this.items.filter(e => e.type === 'inbox');
      this.swimlanes.default = this.items.filter(e => e.type === 'default');
      this.swimlanes.completed =  this.items.filter(e => e.type === 'completed');
    },
    sortItems() {
      this.swimlanes.default.map((e, i) => {
        this.$emit('update:entity', {
          ...e,
          sort_order:i
        });
      })
    },
    removeItem(e) {
      this.$emit('delete:entity', e)
    },
    closeItem() {
      this.dialogIteration++;
      this.dialog = false;
    },
    async handleStoreItem(e) {
      await this.$emit('store:entity', e);
      this.dialogIteration++;
      this.dialog = false;
    },
    createItem() {
      let workbench = {uuid: ''};
      this.editFields.forEach((field) => {
        workbench[field.entity] = this.filter ? this.filter[field.entity] ?? '' : '';
      })

      //Loading defaults
      workbench.type='default';
      workbench.sort_order=this.swimlanes.default.length;

      this.workbench = workbench;

      this.dialog = true;
    },
  },
  props: {
    items: {
      type: Array,
      required: false
    }
  },
  watch: {
    items(){
      this.refreshSwimlanes();
    }
  },
  computed: {
    editFields() {
      return this.$store.getters[this.namespace + '/getEditFields'];
    },
    storeData() {
      return this.$store.state[this.namespace];
    },
  },
  data() {
    return {
      namespace: 'swimlanes',
      workbench:{},
      swimlanes:{
        inbox:[],
        default:[],
        completed:[]
      },
      dialogIteration: 0,
      dialog: false
    }
  }
}
</script>

<style lang="scss" scoped>
.column-descriptor {
  @include font-regular;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.container, .item {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.swimlane {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.swimlane-card {
  @include font-regular;
  font-size: 16px;
  line-height: 19px;

  width: 277px;
  border: 1px solid #0A092434;
  border-radius: 5px;
  overflow: hidden;
}

.swimlane-card.disabled {
  background: #E4E4E8;
}
</style>