<route>
{
"name": "settings",
"meta": {
"label": "Instellingen",
"show": true,
"order":"7",
"icon": "mdi-tune-vertical-variant",
"layout": "oo-main-layout",
"requiresAuth": true
},
"children": [
{ "path": "", "redirect": "users" }
]
}
</route>

<template>
  <div class="settings row mt-14">
    <div class="col-2 pl-14 mt-2">
      <oo-sub-menu :items="childRoutes" />
    </div>
    <div class="col-10">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import ooSubMenu from '@/components/common/ooSubMenu/index.vue';
//import routes from "vue-auto-routing";

export default {
  components: {
    ooSubMenu,
  },
  computed: {
    childRoutes() {
      let childRoutes = [];
      let currentPath = this.$route.path;

      let matched = this.$route.matched[0].path;

      this.$router.options.routes
          .find(function (route) {
            return route.path === matched;
          })
          .children
          .sort((a, b) => (a.meta !== undefined && b.meta !== undefined && a.meta.order > b.meta.order) ? 1 : -1)
          .forEach(function (child) {
            if(child.meta === undefined) return false;
            if(child.meta.show === false) return false;

            childRoutes.push({
              name: child.meta ? child.meta.label ? child.meta.label : child.meta.title : child.name, //Gotta catch them all!!
              path: matched + '/' + child.path,
              active: currentPath === matched + '/' + child.path
            })
          });

      return childRoutes;
    }
  },
  /*data() {
    return {
      dialog: false
    }
  },*/
}
</script>