<template>
  <span class="toast-container">
    <oo-toast-notification
        v-for="notification in notifications"
       :key="notification.uuid"
       :type="notification.type"
       @dismiss="dismissToast(notification.uuid)"
    >
      {{ notification.text }}
    </oo-toast-notification>
  </span>
</template>

<script>
import OoToastNotification from "@/components/common/ooToastNotification/index";
import {mapState} from "vuex";
export default {
  name: 'ooToastRenderer',
  components: {OoToastNotification},
  methods: {
    dismissToast(e){
      this.$store.dispatch('toast/dismiss', e);
    }
  },
  computed: {
    ...mapState(["toast"]),
    notifications() {
      return this.toast.notifications
    }
  }
}
</script>

<style lang="scss">
  .toast-container {
    z-index: 205; /* 203 = overlay, 204 = modal */
    position: fixed;
    justify-content: space-evenly;
    width: 500px;
    display: flex;
    flex-direction: column-reverse;
    bottom: 15px;
    right: 15px;
  }
  .toast-loading {
    position: absolute;
    bottom: 0;
    left: 0;
  }
</style>