<template>
  <ul id="oo-pagination">
    <li v-for="item in items" :key="'oo-pagination-item-' + item.page + '-' + item.label" v-bind:class="{ active: item.page === activePage }" @click="$emit('update:page', item.page)">
      {{item.label}}
    </li>
  </ul>
</template>

<script>
export default {
  name: 'ooPagination',
  computed: {
    items() {
      if(this.isNotIterable)
        return [{page: this.activePage, label: this.activePage}];

      if(this.isSmall)
        return this.getAllItems;

      if(this.activePageIsTopFour)
        return this.getFirstFive;

      if(this.activePageIsBottomFour)
        return this.getLastFive;

      return this.getCenterThree;
    },

    /* List generators */
    getAllItems() {
      let items = [];
      for (let i = 1; i <= this.pageCount; i++)
        items.push({page: i, label: i});
      return items;
    },
    getFirstFive() {
      let items = [];

      for (let i = 1; i <= 5; i++)
        items.push({page: i, label: i});

      //RIGHT
      items.push({page: this.activePage + 1, label: '>'});
      items.push({page: this.pageCount, label: '>|'});

      return items;
    },
    getLastFive() {
      let items = [];

      //LEFT
      items.push({page: 1, label: '|<'});
      items.push({page: this.activePage - 1, label: '<'});

      for (let i = this.pageCount-4; i <= this.pageCount; i++)
        items.push({page: i, label: i});

      return items;
    },
    getCenterThree() {
      let items = [];

      //LEFT
      if(this.activePage > 1) {
        items.push({page: 1, label: '|<'});
        items.push({page: this.activePage - 1, label: '<'});
        items.push({page: this.activePage - 1, label: this.activePage - 1});
      }

      //CURRENT
      items.push({page: this.activePage, label: this.activePage});

      //RIGHT
      if(this.activePage < this.pageCount) {
        items.push({page: this.activePage + 1, label: this.activePage + 1});
        items.push({page: this.activePage + 1, label: '>'});
        items.push({page: this.pageCount, label: '>|'});
      }

      return items;
    },

    /* Helpers */
    isSmall() {
      return this.pageCount <= 7;
    },
    activePageIsTopFour() {
      return this.activePage < 5;
    },
    activePageIsBottomFour() {
      return this.activePage > (this.pageCount - 4);
    },
    isNotIterable() {
      return this.activePage > this.pageCount || this.activePage <= 0;
    },
  },
  props: {
    activePage: {
      type: Number,
      required: true
    },
    pageCount: {
      type: Number,
      required: true
    },
  }
}
</script>

<style lang="scss" scoped>
#oo-pagination {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  -o-user-select: none;
  user-select: none;
  li {
    cursor: pointer;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41px;
    width: 41px;
    border: 1px solid $brand-secondary;
    color: $brand-secondary;
    border-radius: 5px;
  }
  li.active {
    background-color: $brand-secondary;
    color: $oo-white;
  }
}
</style>