<template>
  <span class="swimlaneContainer pa-0">
    <span class="header pa-0" :style="{'margin-top': '-5px', 'margin-left': '-'+(scroll+1)+'px'}">
       <span class="header-title pl-4 pr-4" >
        {{ this.title }}
      </span>
    </span>

    <draggable v-model="items" group="orderProcessing" class="swimLane pl-4 pr-4">
      <span
          v-for="element in data"
          :key="element.uuid"
          class="card"
          :class="{'card-warning': element.warning === 'medium', 'card-error': element.warning === 'high' }"
          @click="$emit('click:order', element.uuid)"
      >
        <span class="highlight" :style="{'border-color': element.color ? element.color : 'black'}"/>
        <span class="badges">
          <span v-if="element.user" class="user">{{ element.user }}</span>
          <span v-if="element.icon" class="icon"><v-icon :style="{'color': element.color ? element.color : 'black'}">{{ element.icon }}</v-icon></span>
        </span>
        <span class="orderNumber">#{{ element.order_number }}</span>
        <span class="customerName">{{ element.title }}</span>
        <span class="orderDate">{{ element.line1 }}</span>
        <span class="shipmentDate">{{ element.line2 }}</span>
      </span>
    </draggable>
  </span>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  components: {
    draggable
  },
  computed: {
    items: {
      get() {
        return this.data
      },
      set(value) {
        this.$emit('update:list', this.field_identifier, value)
      }
    }
  },

  props: {
    title: {
      type: String,
      required: true
    },
    scroll: {
      type: Number,
      default: 0,
      required: false
    },
    data: {
      type: Array,
      required: true
    },
    field_identifier: {
      type: String,
      required: false
    }
  }
}
</script>

<style lang="scss" scoped>
.card-warning {
  box-shadow:0 0 3px orange;
  background: #fff9f1;
}
.card-error {
  box-shadow:0 0 3px red;
  background: #fff1f1;
}

.swimlaneContainer {
  border-width: 1px;
  border-color: #E4E4E8;
  border-style: hidden hidden solid solid;
  background: $oo-white;
  min-width: 300px;
}

.header {
  border-left: 1px solid $oo-light-gray;
  display: flex;
  justify-content: center;
  height: 83.5px !important;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid $oo-gray;

  background: $oo-white;
  z-index: 2;

  .header-title {
    width: 100%;
    @include font-bold;
    font-size: 18px;
    line-height: 21px;
    color: $brand-secondary;
    display: flex;
    align-items: center;
  }
}

.swimLane {
  min-height: calc(100vh - 202px);
  margin-top:83.5px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 131px;
  border: 1px solid #E4E4E8; //todo: medium-gray
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;

  * {
    @include font-regular;
    font-size: 14px;
    line-height: 17px;
    flex: 1 1;
    margin: 5px;
  }

  .highlight {
    height: 5px;
    border-width: 5px;
    border-style: solid hidden hidden hidden;
    width: 50px;
    border-radius: 5px;
  }

  .badges {
    @include font-regular;
    position: absolute;
    flex-direction: row-reverse;
    justify-content: flex-start;
    display: flex;
    top: 5px;
    right: 5px;
    width: 150px;

    * {
      height: 30px;
      width: 30px;
      flex-basis: 30px;
      flex-grow: 0;
      flex-shrink: 0;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .user {
    background: #E4E4E8;
    border-radius: 15px;
    color: $oo-white;
  }
  .orderNumber {
    @include font-bold;
    font-size: 18px;
    line-height: 21px;
  }
  .customerName {
    @include font-regular;
    font-size: 14px;
    line-height: 17px;
  }
  .orderDate {
    color: #B9B7C3;
  }
  .shipmentDate {
    color: #B9B7C3;
  }
}
</style>
