/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * upgrade:
 *   - http://typekit.com/eulas/00000000000000003b9b195c
 *   - http://typekit.com/eulas/00000000000000003b9b195e
 *   - http://typekit.com/eulas/00000000000000003b9b1960
 *   - http://typekit.com/eulas/00000000000000003b9b1962
 * upgrade-lights:
 *   - http://typekit.com/eulas/00000000000000003b9b189e
 *   - http://typekit.com/eulas/00000000000000003b9b1969
 *   - http://typekit.com/eulas/00000000000000003b9b196e
 *   - http://typekit.com/eulas/00000000000000003b9b196f
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-09-29 09:58:48 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=jtp6gae&ht=tk&f=38091.38093.38095.38097.38103.38104.38109.38110&a=1392212&app=typekit&e=css");

@font-face {
    font-family:"upgrade";
    src:url("https://use.typekit.net/af/465107/00000000000000003b9b195c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/465107/00000000000000003b9b195c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/465107/00000000000000003b9b195c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
    font-family:"upgrade";
    src:url("https://use.typekit.net/af/0622e9/00000000000000003b9b195e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/0622e9/00000000000000003b9b195e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/0622e9/00000000000000003b9b195e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
    font-family:"upgrade";
    src:url("https://use.typekit.net/af/b238e9/00000000000000003b9b1960/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/b238e9/00000000000000003b9b1960/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/b238e9/00000000000000003b9b1960/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
    font-family:"upgrade";
    src:url("https://use.typekit.net/af/fb00c9/00000000000000003b9b1962/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/fb00c9/00000000000000003b9b1962/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/fb00c9/00000000000000003b9b1962/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:300;
}

@font-face {
    font-family:"upgrade-lights";
    src:url("https://use.typekit.net/af/7ffdff/00000000000000003b9b189e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/7ffdff/00000000000000003b9b189e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/7ffdff/00000000000000003b9b189e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
    font-family:"upgrade-lights";
    src:url("https://use.typekit.net/af/f4d475/00000000000000003b9b1969/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/f4d475/00000000000000003b9b1969/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/f4d475/00000000000000003b9b1969/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:500;
}

@font-face {
    font-family:"upgrade-lights";
    src:url("https://use.typekit.net/af/e86726/00000000000000003b9b196e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/e86726/00000000000000003b9b196e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/e86726/00000000000000003b9b196e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
    font-family:"upgrade-lights";
    src:url("https://use.typekit.net/af/3efa2e/00000000000000003b9b196f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3efa2e/00000000000000003b9b196f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3efa2e/00000000000000003b9b196f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
}

.tk-upgrade { font-family: "upgrade",sans-serif; }
.tk-upgrade-lights { font-family: "upgrade-lights",sans-serif; }
