<route>
{
"name": "customer",
"meta": {
"label": "Klanten",
"show": true,
"order":"2",
"icon": "mdi-account-group",
"layout": "oo-main-layout",
"requiresAuth": true
},
"children": [
{ "path": "", "redirect": "list" }
]
}
</route>

<template>
  <router-view></router-view>
</template>