<template>
  <span>
      <v-menu
          v-model="menu"
          :close-on-content-click="false"
          offset-y
          min-width="20vw"
          max-width="20vw"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
              outlined
              :value="computedDateFormatted"
              :label="label"
              readonly
              v-bind="attrs"
              v-on="on"
              clearable
              @click:clear="clearInput"
          ></v-text-field>
        </template>
        <v-time-picker
            format="24hr"
            full-width
            v-bind="{...$props, ...$attrs}"
            @change="onInput"
        ></v-time-picker>
      </v-menu>
  </span>
</template>

<script>
export default {
  name: 'ooTimePicker',
  props: {
    label: {
      type: String,
      required: false
    },
    field_identifier: {
      type: String,
      required: false
    },
    value: {
      type: String,
      required: true
    }
  },
  methods: {
    onInput(e){
      this.menu = false
      this.$emit('update:field', this.field_identifier, e);
    },
    clearInput() {
      this.$emit('update:field', this.field_identifier, '');
    }
  },
  computed: {
    computedDateFormatted () {
      return this.value ?? ''
    },
  },
  data() {
    return {
      menu: false
    }
  }
}
</script>