<route>
{
"name": "settings-usersAndGroups",
"meta": {
"title": "Instellingen",
"label": "Gebruikers en groepen",
"show": true,
"order":"71",
"icon": "mdi-tune-vertical-variant",
"layout": "oo-main-layout"
}
}
</route>

<script>
import templateEngine from "@/components/mixins/ooJsonTemplateEngine/index";

export default {
  name: 'settings_usersAndGroups',
  mixins: [templateEngine],
  computed: {
    contentViaComputed() {
      return [
        {
          _uid: "220f8a9a-631a-4877-b22d-e9869747eef0",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "223e8a9d-602a-4347-b27d-e9839747efd0",
              component: "oo-mini-crud",
              class: "col-12 pa-0",
              props: {
                singularTitle: 'Gebruiker',
                pluralTitle: 'Gebruikers',
                namespace: 'users'
              }
            },
          ]
        }
        /*{
          _uid: "220f8a9f-601a-4377-b28d-e9865647eef0",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "120f8a9a-601a-4377-b28e-e9869747dfe0",
              component: "oo-data-table",
              class: "col-12 pa-0",
              props: {
                title: 'Groepen (fake)',
                headers: [
                  {
                    text: 'Naam',
                    value: 'a',
                    sortable: true
                  },
                ],
                items: [
                  {a: 'Administrator'},
                  {a: 'Medewerker'}
                ],
                loading: false,
                selectable: false,
                actions: true,
                bare: true,
                page: 1,
                'serverItemsLength': 1
              },
            }
          ]
        },*/
      ]
    },
  },
  data() {
    return {
      dialog: false,
      dialogTitle: "",
      workbench: {},
      components: {
        'oo-mini-crud': () => import('@/components/common/ooMiniCrud/index.vue'),
        'oo-data-table': () => import('@/components/common/ooDataTable/index.vue'),
        'oo-detail-card': () => import('@/components/common/ooDetailCard/index.vue'),
        'oo-edit-modal': () => import('@/components/common/ooEditModal/index.vue')
      }
    }
  }
}
</script>