<route>
{
"name": "settings-upholstry",
"meta": {
"title": "Instellingen",
"label": "Stoffering",
"show": false,
"order":"77",
"icon": "mdi-tune-vertical-variant",
"layout": "oo-main-layout"
}
}
</route>


<script>
import templateEngine from "@/components/mixins/ooJsonTemplateEngine/index";
import {mapState} from "vuex";

export default {
  name: 'settings_upholstry',
  mixins: [templateEngine],
  computed: {
    ...mapState(["orders"]),
    contentViaComputed() {
      return [
        {
          _uid: "220f8a9a-601a-4345-b28f-e9869747afa2",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "243f8a9a-601a-4377-b28a-e9869747dff0",
              component: "oo-data-table",
              class: "col-12 pa-0",
              props: {
                title: 'Soorten stofferingen (fake)',
                headers: [
                  {
                    text: 'Kolom 1',
                    value: 'a',
                    sortable: true
                  },
                  {
                    text: 'Kolom 2',
                    value: 'b',
                    sortable: true
                  },
                  {
                    text: 'Kolom 3',
                    value: 'c',
                    sortable: true
                  },
                  {
                    text: 'Kolom 4',
                    value: 'd',
                    sortable: true
                  },
                  {
                    text: 'Kolom 5',
                    value: 'e',
                    sortable: true
                  },
                ],
                items: [
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'}
                ],
                loading: false,
                selectable: false,
                actions: true,
                bare: true,
                page: 1,
                'serverItemsLength': 1
              },
            }
          ]
        },
        {
          _uid: "220f8a3a-601a-4377-b28d-e9869747eff0",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "220a2a9a-601a-4377-b28d-e9869747dfa6",
              component: "oo-data-table",
              class: "col-12 pa-0",
              props: {
                title: 'Stoffeerders (fake)',
                headers: [
                  {
                    text: 'Kolom 1',
                    value: 'a',
                    sortable: true
                  },
                  {
                    text: 'Kolom 2',
                    value: 'b',
                    sortable: true
                  },
                  {
                    text: 'Kolom 3',
                    value: 'c',
                    sortable: true
                  },
                  {
                    text: 'Kolom 4',
                    value: 'd',
                    sortable: true
                  },
                  {
                    text: 'Kolom 5',
                    value: 'e',
                    sortable: true
                  },
                ],
                items: [
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'}
                ],
                loading: false,
                selectable: false,
                actions: true,
                bare: true,
                page: 1,
                'serverItemsLength': 1
              },
            }
          ]
        }
      ]
    }
  },
  data() {
    return {
      components: {
        'oo-data-table': () => import('@/components/common/ooDataTable/index.vue'),
        'oo-detail-card': () => import('@/components/common/ooDetailCard/index.vue')
      }
    }
  }
}
</script>