<route>
{
"name": "upholstry",
"meta": {
"title": "Stoffering",
"label": "Stoffering",
"show": false,
"order":"6",
"icon": "mdi-calendar-month-outline",
"layout": "oo-main-layout",
"requiresAuth": true
}
}
</route>


<template>
  <div class="orderProcessing">
    Deze pagina is leeg.
  </div>
</template>
