<template>
  <span>
    <v-text-field outlined type="text" :label="label" v-bind="{...$props, ...$attrs}" v-model="displayValue" @blur="isInputActive = false" @focus="isInputActive = true"/>
  </span>
</template>

<script>
export default {
  name: 'ooCurrencyInput',
  props: {
    label: {
      type: String,
      required: false
    },
    field_identifier: {
      type: String,
      required: false
    },
    rules: {
      type: Array,
      required: false
    },
    value: {
      type: String,
      default: '0',
      required: true
    }
  },
  data: function() {
    return {
      isInputActive: false
    }
  },
  computed: {
    displayValue: {
      get: function() {
        if (this.isInputActive)
          return this.value.toString().replace('.', ',')

        return Intl.NumberFormat("nl-NL", {
          style: "currency",
          currency: "EUR"
        }).format(this.value)
      },
      set: function(e) {
        let newValue = e.replace(',', '.');

        if (isNaN(newValue))
          newValue = 0

        this.$emit('input', newValue)
        this.$emit('update:field', this.field_identifier, newValue);
      }
    }
  }
}
</script>