<template>
  <span>
    <v-textarea outlined @input="onInput" v-bind="{...$props, ...$attrs}">
      <slot/>
    </v-textarea>
  </span>
</template>

<script>
export default {
  name: 'ooTextarea',
  props: {
    field_identifier: {
      type: String,
      required: false
    }
  },
  methods: {
    onInput(e) {
      this.$emit('update:field', this.field_identifier, e);
    },
  }
}
</script>