<template>
  <span class="statusContainer">
    <span class="title pt-2">
      {{ title }}
    </span>

    <span v-for="item in items" :key="item.name" class="item ml-8 pt-2">
      {{ item.title }}:
      <span class="item-value">
        {{ item.value }}
      </span>
    </span>

    <span class="slot">
      <slot />
    </span>
  </span>
</template>

<script>
export default {
  name: 'ooStatusHeader',
  props: {
    title: {
      type: String,
      required: false
    },
    items: {
      type: Array,
      required: false
    }
  },
}
</script>

<style lang="scss" scoped>
  .statusContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    * {
      font-size: 24px;
      line-height: 29px;
    }

    .title {
      @include font-bold;
    }

    .item {
      @include font-regular;
      .item-value {
        color: $brand-primary;
      }
    }

    .slot {
      margin-left: auto;
      >* {
        width: 100%;
      }
    }
  }
</style>