<route>
{
"name": "home",
"alias":"/",
"meta": {
"title": "Dashboard",
"label": "Dashboard",
"show": true,
"order":"1",
"icon": "mdi-speedometer",
"layout": "oo-main-layout",
"requiresAuth": true
}
}
</route>

<script>
import templateEngine from '@/components/mixins/ooJsonTemplateEngine/index.vue';

export default {
  name: 'home_index',
  mixins: [templateEngine],
  computed: {
    contentViaComputed() {
      return [
      /*  {
          _uid: "d0a4bc75-208e-487d-9294-6d9e1bbb719c",
          component: "oo-statistics-card",
          class: "col-12 pa-8",
          props: {
            horizontal: true,
            large: true,
            primary: true,
            title: "Kerncijfers",
            statistics: [
              {label: 'Orders', 'value': 4814},
              {label: 'Omzet', 'value': '€107.122'},
              {label: 'Voorraadniveau', 'value': '50%'},
              {label: 'Artikelen op voorraad', 'value': 2410},
              {label: 'Afspraken', 'value': 851},
              {label: 'Stofferingen', 'value': 421},
            ],
          },
        },
        {
          _uid: "d0a4bc75-208e-487d-9294-6d9e1bbb719b",
          component: "oo-statistics-card",
          class: "col-12 col-md-4 pa-8",
          props: {
            title: "Orderstatussen",
            statistics: [
              {label: 'Op voorraad', 'value': '45%'},
              {label: 'Beperkte voorraad', 'value': '5%'},
              {label: 'Niet op voorraad', 'value': '50%'},
            ],
          },
        },
        {
          _uid: "d0a4bc75-208e-487d-9294-6d9e1bbb719a",
          component: "oo-statistics-card",
          class: "col-12 col-md-4 pa-8",
          props: {
            title: "Voorraadstatussen",
            statistics: [
              {label: 'Nieuw', 'value': 105},
              {label: 'In behandeling', 'value': 24},
              {label: 'Orderverwerking', 'value': 65},
              {label: 'Backorder', 'value': 40},
              {label: 'Verzonden', 'value': 4000}
            ],
          },
        },
        {
          _uid: "d0a4bc75-208e-487d-9294-6d9e1bbb719d",
          component: "oo-statistics-card",
          class: "col-12 col-md-4 pa-8",
          props: {
            title: "Voorraadstatussen",
            statistics: [
              {label: 'Op voorraad', 'value': '45%'},
              {label: 'Beperkte voorraad', 'value': '5%'},
              {label: 'Niet op voorraad', 'value': '50%'},
            ],
          },
        },
        {
          _uid: "d0a4bc75-208e-487d-9294-6d9e1bbb718b",
          component: "oo-statistics-card",
          class: "col-12 col-md-4 pa-8",
          props: {
            title: "Orderstatussen",
            statistics: [
              {label: 'Op voorraad', 'value': '45%'},
              {label: 'Beperkte voorraad', 'value': '5%'},
              {label: 'Niet op voorraad', 'value': '50%'},
            ],
          },
        },
        {
          _uid: "d0a4bc75-208e-487d-9294-6d9e1bbb718a",
          component: "oo-statistics-card",
          class: "col-12 col-md-4 pa-8",
          props: {
            title: "Voorraadstatussen",
            statistics: [
              {label: 'Nieuw', 'value': 105},
              {label: 'In behandeling', 'value': 24},
              {label: 'Orderverwerking', 'value': 65},
              {label: 'Backorder', 'value': 40},
              {label: 'Verzonden', 'value': 4000}
            ],
          },
        },
        {
          _uid: "d0a4bc75-208e-487d-9294-6d9e1bbb718d",
          component: "oo-statistics-card",
          class: "col-12 col-md-4 pa-8",
          props: {
            title: "Voorraadstatussen",
            statistics: [
              {label: 'Op voorraad', 'value': '45%'},
              {label: 'Beperkte voorraad', 'value': '5%'},
              {label: 'Niet op voorraad', 'value': '50%'},
            ],
          },
        },
        {
          _uid: "d0a4bc75-208e-487d-9294-6d9e1bbb717b",
          component: "oo-statistics-card",
          class: "col-12 col-md-4 pa-8",
          props: {
            title: "Orderstatussen",
            statistics: [
              {label: 'Op voorraad', 'value': '45%'},
              {label: 'Beperkte voorraad', 'value': '5%'},
              {label: 'Niet op voorraad', 'value': '50%'},
            ],
          },
        },
        {
          _uid: "d0a4bc75-208e-487d-9294-6d9e1bbb717a",
          component: "oo-statistics-card",
          class: "col-12 col-md-4 pa-8",
          props: {
            title: "Voorraadstatussen",
            statistics: [
              {label: 'Nieuw', 'value': 105},
              {label: 'In behandeling', 'value': 24},
              {label: 'Orderverwerking', 'value': 65},
              {label: 'Backorder', 'value': 40},
              {label: 'Verzonden', 'value': 4000}
            ],
          },
        },
        {
          _uid: "d0a4bc75-208e-487d-9294-6d9e1bbb717d",
          component: "oo-statistics-card",
          class: "col-12 col-md-4 pa-8",
          props: {
            title: "Voorraadstatussen",
            statistics: [
              {label: 'Op voorraad', 'value': '45%'},
              {label: 'Beperkte voorraad', 'value': '5%'},
              {label: 'Niet op voorraad', 'value': '50%'},
            ],
          },
        }*/
      ];
    }
  },
  data() {
    return {
      appName: 'FullFillableCore',
      components: {
        'oo-statistics-card': () => import('@/components/common/ooStatisticsCard/index.vue')
      }
    }
  }
}
</script>