<template>
  <div class="j-container">
    <div v-for="c in content" :class="c.class" :key="'container-' + c._uid">
      <!--<span v-if="typeof c.slot === 'string'">
        {{c.slot}}
      </span>-->

      <component
          v-if="(c.renderWhen !== undefined && c.renderWhen === true) || c.renderWhen === undefined"
          :is="components[c.component]"
          :key="c._uid"
          v-bind="c.props"
          v-on="parseEvents(c.events)"
      >
        <template v-if="c.actions !== undefined" #actions>
          <!--{{c.action}}-->
          <oo-json-component-renderer
              :content="c.actions"
              :components="components"
              @executeMethod="emitExecuteMethod"
          />
        </template>
        <template v-if="c.slot !== undefined">
          <oo-json-component-renderer
              :content="c.slot"
              :components="components"
              @executeMethod="emitExecuteMethod"
          />
        </template>
      </component>
    </div>
  </div>
</template>

<script>
export default {
  name: "oo-json-component-renderer",
  methods: {
    emitExecuteMethod() {
      this.$emit('executeMethod', ...arguments)
    },
    parseEvents(events) {
      if (!events) return;
      let self = this;
      Object.keys(events).forEach(
          function (name) {
            if (typeof events[name] === 'string') {
              //We're converting a string into emit methods so we're able to identify and rethrow emitted events.
              //This is a way of writing the following lines (dynamically) into one line.
              //@click:item="this.$emit('ooClickProduct')"
              //@delete:item="this.$emit('ooDeleteOrder')"
              //@click:row="this.$emit('ooClickRow')"

              //string
              let methodName = events[name];

              //lambda method
              events[name] = function () {
                self.$emit('executeMethod', methodName, ...arguments)
              };
            }
          }
      );
      return events;
    },
  },
  props: {
    content: {
      type: Array,
      required: false
    },
    components: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.j-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
</style>
