<template>
  <v-dialog
      v-model="dialog"
      persistent
      overlay-opacity=".95"
      overlay-color="#0A0924"
      max-width="1750px"
  >
    <span class="modal-container">
      <span class="left pa-10">
        <slot name="left" class="slotcontent"/>
        <span class="buttonbar">
          <v-btn outlined @click="$emit('cancel')">{{ cancelLabel }}</v-btn>
          <span>
            <slot name="btn-left" class="mr-4"></slot>
            <v-btn v-if='!rightSideOpen' @click="rightSideOpen = !rightSideOpen" class="primary">{{ nextLabelLeft }}</v-btn>
          </span>
        </span>
      </span>

      <span class="right pa-10">
        <slot v-if='rightSideOpen' class="slotcontent" name="right"/>
        <span v-if='rightSideOpen' class="buttonbar-reverse">
          <v-btn :disabled="!valid" :loading="loading" @click="$emit('submit')" class="primary">{{ nextLabelRight }}</v-btn>
        </span>
      </span>
    </span>
  </v-dialog>
</template>

<script>

export default {
  name: 'ooDualModal',
  props: {
    valid: {
      type: Boolean,
      default: true,
      required: false
    },
    loading: {
      type: Boolean,
      default: false,
      required: false
    },
    dialog: {
      type: Boolean,
      required: false
    },
    cancelLabel: {
      type: String,
      default: 'Annuleren',
      required: false
    },
    nextLabelLeft: {
      type: String,
      default: 'Verder',
      required: false
    },
    nextLabelRight: {
      type: String,
      default: 'Verder',
      required: false
    },
    collapsed: {
      type: Boolean,
      default: true,
      required: false
    },
  },
  watch: {
    dialog() {
      //back to default.
      this.rightSideOpen = !this.collapsed;
    }
  },
  data() {
    return {
      rightSideOpen: false
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-container {
  height: 800px;
  background: $oo-white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .left,
  .right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: .6 1;
    position: relative;
  }

  .right {
    flex: .4 1;
    background: $oo-light-gray;
  }

  .slotcontent {
    flex: 1 1;
  }

  .buttonbar,
  .buttonbar-reverse {
    position: absolute;
    bottom: 25px;
    right: 25px;
    left: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .buttonbar-reverse {
    flex-direction: row-reverse;
  }
}
</style>
