<template>
  <span>
    <oo-order-lines-create-modal
        @cancel="closeItem"
        @save="handleStoreItems"
        :dialog="this.createDialog"
        :field-meta="this.editFields"
        :fields="this.workbench"

        :title="this.dialogTitle"
        :singularTitle="singularTitle"
        :pluralTitle="pluralTitle"
        :key="this.namespace + '_' + this.dialogIteration + '_create'"
        :index="this.currentIndex"
    />
    <!--
      Removed from oo-order-lines-create-modal
      @reset:apiErrors="resetApiErrors"
    -->
     <oo-order-line-edit-modal
         @cancel="closeItem"
         @save="handleStoreItem"
         @reset:apiErrors="resetApiErrors"
         :title="this.dialogTitle"
         :dialog="this.editDialog"
         :field-meta="this.editFields"
         :fields="this.workbench"
         :key="this.namespace + '_' + this.dialogIteration + '_edit'"
     />
      <oo-data-table
          @remove:item="deleteEntity"
          @open:item="openItem"
          @click:header-action="createItem"
          @sort:item="handleSortItem"

          :title="this.pluralTitle"
          :headers="this.headers"
          :items="this.formattedStoreItems"

          :draggable="true"
          :selectable="false"
          :actions="true"
          :bare="true"
          :page="1"
          :serverItemslength="1"

          sort-by="position"
          :sort-desc="false"
      />
  </span>
</template>

<script>
import ooDataTable from "@/components/common/ooDataTable/index";
import ooOrderLinesCreateModal from "@/components/common/ooOrderLinesCreateModal/index";
import ooOrderLineEditModal from "@/components/common/ooOrderLineEditModal/index";
import {mapActions} from "vuex";

export default {
  name: 'ooOrderLineCrud',
  components: {
    ooDataTable,
    ooOrderLinesCreateModal,
    ooOrderLineEditModal
  },
  created() {
      if(this.customEntityFetch)
        this.$store.dispatch(
            this.customEntityFetch.key,
            this.customEntityFetch.payload
        );

      else this.$store.dispatch(this.namespace + '/fetchPage', 1);
  },
  methods: {
    /* Regular mappers are still where they are supposed to be */
    ...mapActions('toast', {
      successToast: 'success',
      warningToast: 'warning',
      errorToast: 'error'
    }),
    ...mapActions('orderLines', [
      "storeEntity",
      "deleteEntity",
      "resetFlags",
      "resetApiErrors"
    ]),

    formatCurrency(e){
      return Intl.NumberFormat("nl-NL", {
        style: "currency",
        currency: "EUR"
      }).format(e)
    },

    createItem() {
      this.dialogTitle = this.pluralTitle + " toevoegen";

      let workbench = {uuid: ''};
      this.editFields.forEach((field) => {
        workbench[field.entity] = this.filter ? this.filter[field.entity] ?? '' : '';
      })
      this.workbench = workbench;

      this.createDialog = true;
    },
    openItem(e) {
      let localItem = {...this.storeItems.find(item => item.uuid === e.uuid)}; //shallow copy
      this.dialogTitle = this.singularTitle + " bewerken";

      let workbench = {uuid: e.uuid};
      this.editFields.forEach((field) => {
        workbench[field.entity] = localItem[field.entity];
      })
      this.workbench = workbench;

      this.editDialog = true;
    },
    async handleStoreItem(e) {
      await this.storeEntity(e);

      if(this.storeData.success) {
        this.resetFlags();
        this.successToast(this.singularTitle + ' opgeslagen')
        this.closeItem();
      }
    },

    async handleSortItem(e) {
      let item = this.storeItems.filter(i => i.uuid === e.uuid);
      await this.storeEntity({...item[0], position: e.position});
    },
    async handleStoreItems(e) {
      //Multiple items = store array
      await Promise.all(
          await e.map(item => this.storeEntity(item))
      );

      //Only checking last success-status, for now.
      if(this.storeData.success) {
        this.resetFlags();
        this.successToast(e.length + ' ' + this.pluralTitle + ' opgeslagen')
        this.closeItem();
      }
    },
    closeItem() {
      this.dialogIteration++;
      this.createDialog = false;
      this.editDialog = false;
    },
  },
  props: {
    singularTitle: {
      type: String,
      required: true
    },
    pluralTitle: {
      type: String,
      required: true
    },
    filter: {
      type: Object,
      required: false
    },
    customEntityFetch: {
      type: Object,
      required: false
    }
  },
  computed: {
    currentIndex() {
      return Math.max(...this.storeItems.map(o => o.position), 0)+1;
    },
    editFields() {
      return this.$store.getters['orderLines/getEditFields'];
    },
    listFields() {
      return this.$store.getters['orderLines/getListFields']
    },
    localEntitiesByProps() {
      return this.$store.getters['orderLines/getLocalEntitiesByProps']
    },
    storeData() {
      return this.$store.state['orderLines'];
    },
    headers() {
      if(this.listFields === undefined)
        return [];

      return [
          ...this.listFields.map(x => ({
            'text': x.label,
            'value': x.entity,
            'sortable': false
          })),
          {text: 'Nettoprijs totaal', value:'total_price_net', sortable:false}
      ];
    },
    storeItems(){
      if(this.$store.state[this.namespace] === undefined)
        return [];

      if(this.filter !== undefined) {
        return this.localEntitiesByProps(
          this.filter
        );
      }

      return this.$store.state[this.namespace].data;
    },
    formattedStoreItems() {
      let items = [];

      this.storeItems.map(e => items.push({...e}));

      items.map(e => {
        e.total_price_net = this.formatCurrency(parseFloat(e.unit_price_net)*parseFloat(e.qty));
        e.unit_price_net =  this.formatCurrency(parseFloat(e.unit_price_net));
        e.qty = parseFloat(e.qty).toFixed(2).replace('.', ',');
      });

      return items;
    }
  },
  data() {
    return {
      namespace: 'orderLines',
      dialogIteration: 0,
      createDialog: false,
      editDialog: false,
      dialogTitle: "",
      workbench: {},
    }
  }
}
</script>