<template>
  <span>
    <v-text-field
        :append-icon="phoneNumber !== false ? 'mdi-whatsapp' : ''"
        outlined
        @input="onInput"
        @click:append="openWhatsapp"
        v-bind="{...$props, ...$attrs}"
        v-on="$listeners">
      <slot/>
    </v-text-field>
  </span>
</template>

<script>
//https://api.whatsapp.com/send/?phone=31641459317&text=Ik+heb+interesse+in+de+auto+die+te+koop+staat&app_absent=0
export default {
  name: 'ooPhoneInput',
  props: {
    field_identifier: {
      type: String,
      required: false
    },
    value: {
      type: String,
      required: false
    }
  },
  methods: {
    onInput(e){
      this.$emit('update:field', this.field_identifier, e);
    },
    openWhatsapp() {
      window.open('https://api.whatsapp.com/send/?phone='+this.phoneNumber, '_blank', 'location=no,height=570,width=520,scrollbars=no,status=no');
    }
  },
  computed: {
   phoneNumber(){
     if(this.value === undefined) return false;

     let phoneNumber = this.value;

     //Remove junk
     phoneNumber = phoneNumber.replace(/\+/g, '00'); //replace + with 00
     phoneNumber = phoneNumber.replace(/\D/g,''); //remove non-numeric characters

     //Fix missing parts
     if(phoneNumber.startsWith("06"))
       phoneNumber = '31'+phoneNumber.substring(1);

     if(phoneNumber.startsWith("316"))
       phoneNumber = '00'+phoneNumber;

     if(phoneNumber.startsWith("00316")&&phoneNumber.length === 13)
       return phoneNumber;

     return false;
    }
  }
}
</script>