<route>
{
"name": "login",
"meta": {
"title": "Auth",
"label": "Auth",
"show": false,
"order":"0",
"icon": "mdi-speedometer",
"layout": "oo-login-layout"
}
}
</route>

<template>
  <v-form>
    <v-container>
      <v-row>
        <v-col cols="12" md="12" class="mb-4">
         <span class="login-title">
           Inloggen
         </span>
        </v-col>
        <v-col cols="12" md="12">
          <v-text-field
              v-model="username"
              label="Gebruikersnaam"
              placeholder="Typ hier uw gebruikersnaam"
              outlined
              required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="12">
          <v-text-field
              v-model="password"
              label="Wachtwoord"
              placeholder="Typ hier uw wachtwoord"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show1 ? 'text' : 'password'"
              @click:append="show1 = !show1"
              @keydown="keydown"
              outlined
              required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
         <!-- <span class="login-forgot-password">
             Wachtwoord vergeten?
          </span>-->
        </v-col>
        <v-col cols="12" md="6">
          <v-btn @click="login" class="login-button primary" x-large>Inloggen</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>

export default {
  name: 'login',
  methods: {
    keydown(e) {
      if (e.key === 'Enter') this.login();
    },
    async login() {
      await this.$store.dispatch('auth/login', {email: this.username, password: this.password});
      this.$router.push('/');
    }
  },
  computed: {
    contentViaComputed() {
      return [
        {
          _uid: "d0a4bc75-208e-487d-9294-6d9e1bbb717d",
          component: "oo-detail-card",
          class: "col-12 pa-8",
          props: {
            title: "Login",
          },
        }
      ];
    }
  },
  data() {
    return {
      username: '',
      password: '',
      show1: false
    }
  }
}
</script>

<style lang="scss" scoped>
.login-title {
  @include font-bold;
  font-size: 36px;
  line-height: 43px;
}
.login-button {
  width: 100%;
}
.login-forgot-password {
  line-height: 50px;
}
</style>