<template>
  <v-card class="card pt-6 pl-0 pr-0">
    <span v-if="this.title || this.keepTitleMargin" class="highlight oo-modal-card-title pl-6 pr-6">
      <span v-if="this.title">{{ this.title }}</span>
    </span>
    <div class="content mb-0 pa-6" :class="{reverse: this.reverse, column: this.column}">
      <slot/>
    </div>
  </v-card>
</template>

<script>
export default {
  name: 'ooModalCard',
  props: {
    title: {
      type: String,
      required: false
    },
    reverse: {
      type: Boolean,
      default: false,
      required: false
    },
    column: {
      type: Boolean,
      default: false,
      required: false
    },
    keepTitleMargin: {
      type: Boolean,
      required: false
    }
  }
}
</script>

<style lang="scss">
.oo-modal-card-title {
  @include font-bold;
  font-size: 40px;
  line-height: 48px;
  width: 100%;
}

.card table {
  border-top: 2px solid $brand-primary;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content.reverse {
  flex-direction: row-reverse;
}

.content.column {
  flex-direction: column;
}
</style>