<template>
  <oo-modal :dialog="dialog">
    <span class="title pa-8">{{this.title}}</span>

    <oo-modal-row>
      <oo-modal-card column>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
        >
          <span class="form-section">
            <span class="description">Omschrijving</span>
            <span class="content">
              <span
                v-for="field in fieldMeta" :key="'oo-edit-modal-'+ field.entity"
            >
             <v-text-field
                 v-show="false"
                 v-if="field.type === 'String' && field.hide"
                 v-model="localFields[field.entity]"
                 type="text"
             />
            <v-select
                v-if="field.type === 'Select'" outlined
                :rules="[...field.validation, hasApiError(field)]"
                @input="resetApiErrors"
                v-model="localFields[field.entity]"
                :label="field.label"
                :items="field.options"
                :multiple="field.multipleOptions !== undefined && field.multipleOptions === true"
            />
            <v-text-field
                v-if="field.type === 'String' && !field.hide" outlined
                :rules="[...field.validation, hasApiError(field)]"
                @input="resetApiErrors"
                type="text"
                v-model="localFields[field.entity]" :label="field.label"
            />
            <v-text-field
                v-if="field.type === 'Password'" outlined
                :rules="[...field.validation, hasApiError(field)]"
                @input="resetApiErrors"
                type="password"
                v-model.number="localFields[field.entity]" :label="field.label"
            />
            <v-text-field
                v-if="field.type === 'Double' || field.type === 'Number'" outlined
                :rules="[...field.validation, hasApiError(field)]"
                @input="resetApiErrors"
                type="number"
                step=".1"
                v-model.number="localFields[field.entity]"
                :label="field.label"
            />

            <oo-date-picker
                v-if="field.type === 'Date'" outlined
                :rules="[...field.validation, hasApiError(field)]"

                :field_identifier="field.entity"
                :value="localFields[field.entity]"
                @update:field="updateField"

                :label="field.label"
            />
          </span>
            </span>
          </span>

          <hr class="divider mt-2 mb-8" />

          <span class="form-section">
            <span class="description">Swimlanes</span>
            <span class="content">
              <oo-flow-swimlane-crud
                  @store:entity="this.insertSwimlane"
                  @update:entity="this.updateSwimlane"
                  @delete:entity="this.deleteSwimlane"
                  :items="sortedSwimlanes(localFields._swimlanes.filter(e => e._action !== 'delete'))"
              />
            </span>
          </span>
        </v-form>
      </oo-modal-card>
    </oo-modal-row>


    <span class="button-container pa-4">
      <v-btn outlined elevation="0" @click="$emit('cancel')" class="mr-4">Annuleren</v-btn>
      <v-btn :disabled="!valid" elevation="0" class="primary" @click="storeFields">Opslaan</v-btn>
    </span>
  </oo-modal>
</template>

<script>
import ooModal from "@/components/common/ooModal/index";
import ooModalRow from "@/components/common/ooModalRow/index";
import ooModalCard from "@/components/common/ooModalCard/index";
import ooDatePicker from "@/components/common/ooDatePicker/index";
import ooFlowSwimlaneCrud from "@/components/common/ooFlowSwimlaneCrud/index";

export default {
  name: 'ooFlowEditModal',
  components: {
    ooModal,
    ooModalRow,
    ooModalCard,
    ooDatePicker,
    ooFlowSwimlaneCrud
  },
  data() {
    return {
      valid: false,
      localFields: {
        _swimlanes:[]
      }
    }
  },
  methods: {
    async storeFields() {
      await this.$refs.form.validate()
      if(this.valid) this.$emit('save', this.localFields);
    },
    resetApiErrors(){
      this.$emit('reset:apiErrors', this.localFields);
    },
    updateField(fieldname, value) {
      this.localFields[fieldname] = value;
      this.localfields = {...this.localfields};
    },
    hasApiError(field) {
      if (field.apiErrors.length > 0) return field.apiErrors.join(', ');
      return true;
    },

    async insertSwimlane(e) {
      this.localFields._swimlanes.push({...e, uuid: this.generateUuid(), order_uuid: this.id, _action: 'create'});
    },
    async updateSwimlane(e) {
      let swimlaneIndex = this.localFields._swimlanes.findIndex(function (workbenchItem) {
        return workbenchItem.uuid === e.uuid;
      });

      // undefined = update,
      // create = still create so, ignore
      // remove = removed so, ignore
      if(this.localFields._swimlanes[swimlaneIndex]._action === undefined)
        this.localFields._swimlanes[swimlaneIndex]._action = 'update';

      //Updating props here
      this.localFields._swimlanes[swimlaneIndex].sort_order = e.sort_order;

      //This line triggers the vue-watchers to update and removes 'deleted' entries
      this.localFields._swimlanes = this.sortedSwimlanes(this.localFields._swimlanes );
    },
    async deleteSwimlane(e) {
      let swimlaneIndex = this.localFields._swimlanes.findIndex(function (workbenchItem) {
        return workbenchItem.uuid === e;
      });

      if(this.localFields._swimlanes[swimlaneIndex]._action === 'create')
        delete this.localFields._swimlanes[swimlaneIndex];

      else this.localFields._swimlanes[swimlaneIndex]._action = 'delete';

      //This line triggers the vue-watchers to update and removes 'deleted' entries
      this.localFields._swimlanes = this.localFields._swimlanes.filter(() => true);
    },

    sortedSwimlanes(e){
      return e.sort((a,b) => {
          if(a.sort_order < b.sort_order)
            return -1;
          if(a.sort_order > b.sort_order)
            return 1;
          return 0;
      });
    },

    generateUuid() {
      let dt = new Date().getTime();
      let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        let r = (dt + Math.random() * 16) % 16 | 0;
        dt = Math.floor(dt / 16);
        return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
      });
      return uuid;
    },
  },
  watch: {
    fields: function (newVal) {
      this.localFields = newVal
    }
  },
  props: {
    title: {
      type: String,
      required: true
    },
    dialog: {
      type: Boolean,
      required: true
    },
    fields: {
      type: Object,
      required: false
    },
    fieldMeta: {
      type: Array,
      required: false
    },
  }
}
</script>

<style lang="scss" scoped>
  .title {
    @include font-bold;
    font-size: 24px;
    line-height: 29px;
    color: #0A0924;

    border-bottom: 2px solid $brand-secondary;
  }

  .form-section {
    display: flex;
    flex-direction: row;

    .content,
    .description {
      @include font-regular;
      font-size: 19px;
      line-height: 21px;
      color: #0A0924;

      flow: 1 1;
      display: flex;
      flex-direction: column;

    }

    .description {
      width: 175px;
      margin-left: 10px;
    }
  }

  .divider {
    color: #fff;
    border: none;
    border-bottom: 1px solid $oo-gray;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
</style>