<template>
    <v-img
        max-width="42"
        height="42"
        :src="require('../../../assets/icons/' + this.src + '-icon.svg')"
        :alt="this.src"
    />
</template>

<script>
export default {
  name: 'ooIcon',
  props: {
    src: {
      type: String,
      required: true
    },
  }
}
</script>
