<route>
{
"name": "customer-edit",
"meta": {
"title": "Klant bewerken",
"show": false,
"order":"32",
"icon": "mdi-information-outline",
"layout": "oo-main-layout",
"requiresAuth": true
}
}
</route>

<script>
import {mapActions, mapState} from 'vuex';
import {eventbus} from '@/main';
import templateEngine from '@/components/mixins/ooJsonTemplateEngine/index.vue';

export default {
  name: 'customer_edit',
  mixins: [templateEngine],
  created() {
    this.loadData();
    this.fetchData();
    eventbus.$on('customerEditStoreCustomer', this.handleStoreCustomer);
  },
  beforeDestroy() {
    eventbus.$off('customerEditStoreCustomer')
  },
  methods: {
    ...mapActions('toast', {
      successToast: 'success',
      warningToast: 'warning',
      errorToast: 'error'
    }),
    ...mapActions('customers', {
      fetchCustomer: 'fetchEntity',
      storeCustomer: 'storeEntity',
      resetCustomer: 'resetFlags'
    }),
    ...mapActions('customerGroups', {
      fetchCustomerGroupsPage: 'fetchPage'
    }),

    openOrder(e) {
      this.$router.push({
        name: 'order-edit',
        params: {id: e.uuid}
      })
    },

    loadData() {
      this.workbench = {...this.workbench, ...this.$store.getters['customers/getLocalEntitiesByProps']({uuid: this.id})[0]};
    },
    async fetchData() {
      await Promise.all([
        this.fetchCustomerGroupsPage(1),
        this.fetchCustomer(this.id)
      ])

      this.loadData();
    },
    async handleStoreCustomer() {
      await this.storeCustomer(this.workbench);

      if (this.customers.success) {
        this.successToast('Klant opgeslagen');
        this.$router.push({
          name: 'customer-list',
        })
      }
      this.resetCustomer();
    },
    updateField(fieldname, value) {
      this.workbench[fieldname] = value;
    },
    hasApiError(field) {
      if (field.apiErrors.length > 0) return field.apiErrors.join(', ');
      return true;
    }
  },
  props: {
    id: {
      type: String,
      required: true
    },
  },
  computed: {
    ...mapState(["customers", "customerGroups", "customerAddresses"]),
    customerGroupOptions() {
      return this.customerGroups.data.map((x) => ({
            'text': x.name,
            'value': x.uuid
          }),
      );
    },
    contentViaComputed() {
      return [
        {
          _uid: "b0a4bc75-208e-427d-9596-6d9e1bbb719c",
          component: "oo-detail-card",
          class: "col-12 pa-8",
          props: {
            title: "Klantinformatie"
          },
          slot: [
            {
              _uid: "f0f4bc75-234a-487d-9246-6d9e1bbe619a",
              component: "oo-select",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Groep",
                field_identifier: "customer_group_uuid",
                value: this.workbench.customer_group_uuid,
                items: this.customerGroupOptions
              },
            },
            {
              _uid: "f0f4bc75-234a-487d-9246-6d9e1bbe639c",
              component: "oo-text-field",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Naam",
                field_identifier: "name",
                value: this.workbench.name,
                rules: []
              },
            },
            {
              _uid: "f0f4bc33-234a-487b-9246-6d9e1bff619d",
              component: "oo-text-field",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Bedrijfsnaam",
                field_identifier: "company_name",
                value: this.workbench.company_name
              },
            },
            {
              _uid: "f0f4bc75-234a-434d-9336-6d9e1bbe619d",
              component: "oo-text-field",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "E-mailadres",
                field_identifier: "email",
                value: this.workbench.email
              },
            },
            {
              _uid: "f0f4bc75-234a-434d-9336-6c9e1cfe629d",
              component: "oo-text-field",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "E-mailadres facturatie",
                field_identifier: "email_billing",
                value: this.workbench.email_billing
              },
            },
            {
              _uid: "f0f4bc75-234a-487d-9246-6d9e1fff619f",
              component: "oo-text-field",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Telefoonnummer",
                field_identifier: "phone_number",
                value: this.workbench.phone_number
              },
            }
          ]
        },
        {
          _uid: "b0a4bc75-208b-487d-9396-6d9b1bbb749c",
          component: "oo-detail-card",
          class: "col-12 pa-8",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "223e8e4d-602a-3647-b27d-e9839737fas0",
              component: "oo-mini-crud",
              class: "col-12 pa-0",
              props: {
                singularTitle: 'Adres',
                pluralTitle: 'Adressen',
                namespace: 'customerAddresses',
                customEntityFetch: {
                  key: 'customers/fetchAddresses',
                  payload: this.id
                },
                filter: {
                  customer_uuid: this.id.toString()
                },
              }
            },
          ]
        },
        {
          _uid: "b0a4bc75-208b-487d-9396-6d9b1bfb249c",
          component: "oo-detail-card",
          class: "col-12 pa-8",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "223e8e4d-602a-3647-b27d-e9839737fas0",
              component: "oo-mini-crud",
              class: "col-12 pa-0",
              events: {
                'click:row': 'openOrder',
              },
              props: {
                singularTitle: 'Order',
                pluralTitle: 'Orders',
                namespace: 'orders',
                actions: false,
                customEntityFetch: {
                  key: 'customers/fetchOrders',
                  payload: this.id
                },
                filter: {
                  customer_uuid: this.id.toString()
                },
              }
            },
          ]
        },
        {
          _uid: "f0f4bc75-234a-487d-9296-6d9e1fbb619c",
          component: "oo-detail-card",
          class: "col-12 pa-8",
          props: {
            title: "Notities",
          },
          slot: [
            {
              _uid: "f5e4bc75-234a-487d-9246-6d9e1fff629e",
              component: "oo-textarea",
              class: "col-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Notitie",
                field_identifier: "note",
                value: this.workbench.note
              },
            }
          ]
        },
      ];
    }
  },
  data() {
    return {
      workbench: {
        ...this.$store.getters['customers/init'],
      },
      components: {
        'oo-detail-card': () => import('@/components/common/ooDetailCard/index.vue'),
        'oo-data-table': () => import('@/components/common/ooDataTable/index.vue'),
        'oo-select': () => import('@/components/common/ooSelect/index.vue'),
        'oo-text-field': () => import('@/components/common/ooTextField/index.vue'),
        'oo-textarea': () => import('@/components/common/ooTextarea/index.vue'),
        'oo-mini-crud': () => import('@/components/common/ooMiniCrud/index.vue')
      }
    }
  }
}
</script>
