<route>
{
"name": "settings-customers",
"meta": {
"title": "Instellingen",
"label": "Klanten",
"show": true,
"order":"73",
"icon": "mdi-tune-vertical-variant",
"layout": "oo-main-layout"
}
}
</route>


<script>
import templateEngine from "@/components/mixins/ooJsonTemplateEngine/index";

export default {
  name: 'settings_customers',
  mixins: [templateEngine],
  computed: {
    contentViaComputed() {
      return [
        {
          _uid: "220f8a9a-601a-4377-b28d-e9869747eff0",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "223e8e4d-602a-3647-b27d-e9839737fad0",
              component: "oo-mini-crud",
              class: "col-12 pa-0",
              props: {
                singularTitle: 'Klantgroep',
                pluralTitle: 'Klantgroepen',
                namespace: 'customerGroups'
              }
            },
          ]
        }
      ]
    }
  },
  data() {
    return {
/*      dialog: false,
      dialogTitle: "",*/
      workbench: {},
      components: {
        'oo-mini-crud': () => import('@/components/common/ooMiniCrud/index.vue'),
        'oo-detail-card': () => import('@/components/common/ooDetailCard/index.vue'),
      }
    }
  }
}
</script>