<template>
  <v-alert @input="closeToast" :type="this.type" dismissible>
    <slot/>
    <v-progress-linear :value="this.progress" reverse height="6" rounded class="toast-loading"></v-progress-linear>
  </v-alert>
</template>

<script>
export default {
  name: 'ooToastNotification',
  created() {
    setInterval(() => {
      this.progress >= this.stepSize
          ? this.progress -= this.stepSize
          : this.closeToast();
    }, 100);
  },

  props: {
    type: {
      type: String,
      required: false
    }
  },
  methods: {
    closeToast() {
      this.progress = 0;
      if (this.open) {
        this.open = false;
        this.$emit('dismiss');
      }
    }
  },
  data() {
    return {
      open: true,
      stepSize: 2,
      progress: 200
    }
  }
}
</script>

<style lang="scss" scoped>
.toast-loading {
  position: absolute;
  bottom: 0;
  left: 0;
}
</style>