<route>
{
"name": "orderProcessing-edit",
"meta": {
"title": "Orderverwerking",
"label": "Orderverwerking",
"show": false,
"order":"41",
"icon": "mdi-cube-send",
"layout": "oo-main-layout",
"requiresAuth": true
}
}
</route>

<template>
  <div class="orderProcessing">
    <select-outsource-modal
        :order="workbench.order"
        :loading="finishingSwimlaneAction"
        :show="activeActions.orderSelectOutsource"

        @open:productLabels="openProductLabels"
        @open:packingSlip="openPackingSlip"
        @open:order="openOrder"
        @finish="finishSwimlaneAction"
        @close="activeActions.orderSelectOutsource = false"
    />

    <show-order-modal
        :order="workbench.order"
        :loading="finishingSwimlaneAction"
        :show="activeActions.showOrder"

        @open:productLabels="openProductLabels"
        @open:packingSlip="openPackingSlip"
        @open:order="openOrder"
        @close="activeActions.showOrder = false"
    />

    <create-shipment-modal
        :order="workbench.order"
        :loading="finishingSwimlaneAction || orderLines.loading"
        :show="activeActions.orderCreateShipment"

        @open:productLabels="openProductLabels"
        @open:packingSlip="openPackingSlip"
        @open:order="openOrder"
        @finish="finishSwimlaneAction"
        @close="activeActions.orderCreateShipment = false"
    />

    <create-shipment-fabrieksverkoop-modal
        :order="workbench.order"
        :loading="finishingSwimlaneAction || orderLines.loading"
        :show="activeActions.orderCreateShipmentFabrieksverkoop"

        @open:productLabels="openProductLabels"
        @open:packingSlip="openPackingSlip"
        @open:order="openOrder"
        @finish="finishSwimlaneAction"
        @close="activeActions.orderCreateShipmentFabrieksverkoop = false"
    />

    <v-progress-linear color="red" height="3" :indeterminate="orders.loading" />

    <span no-gutters class="orderProcessingRow" :style="{'opacity': (orders.loading ? '0.4' : '1')}" @scroll="setScroll">
      <oo-swim-lane
          :scroll="scroll"
          v-for="swimlane in orderedSwimlanes"
          :title="swimlane.name"
          :key="swimlane.uuid"
          :field_identifier="swimlane.uuid"
          :data="swimlaneOrders(swimlane.uuid)"
          @update:list="updateList"
          @click:order="(e) => startSwimlaneAction('showOrder', '', e, '')"
          class="col"
      />
    </span>
  </div>
</template>

<script>
import {mapActions, mapState} from 'vuex';
import createShipmentFabrieksverkoopModal from '@/views/core/orderProcessing/__modals__/createShipmentFabrieksverkoopModal.vue';
import createShipmentModal from '@/views/core/orderProcessing/__modals__/createShipmentModal.vue';
import selectOutsourceModal from '@/views/core/orderProcessing/__modals__/selectOutsourceModal.vue';
import showOrderModal from '@/views/core/orderProcessing/__modals__/showOrderModal.vue';
import ooSwimLane from '@/components/common/ooSwimLane/index.vue';

export default {
  name: 'flow_show',

  mounted: function() {
    this.timer = setInterval(this.timerTick, 1000)
  },

  beforeDestroy() {
    clearInterval(this.timer);
  },

  beforeRouteEnter(to, from, next) {
    next(vm => vm.loadPageData(to.params))
  },

  async beforeRouteUpdate(to, from, next) {
    await this.loadPageData(to.params)
    next()
  },

  methods: {
    ...mapActions('toast', {
      successToast: 'success',
      warningToast: 'warning',
      errorToast: 'error'
    }),
    ...mapActions('flows', {
      fetchOrders: 'fetchOrders',
      fetchFlow: 'fetchEntity',
      fetchSwimlanes: 'fetchSwimlanes'
    }),
    ...mapActions('swimlanes', {
      fetchSwimlaneOrders: 'fetchOrders',
      storeSwimlane: 'storeEntity',
      resetSwimlane: 'resetFlags'
    }),
    ...mapActions('orders', {
      fetchOrderCustomerAddress: 'fetchCustomerAddress',
      fetchOrder: 'fetchEntity'
    }),
    ...mapActions('customers', {
      fetchCustomer: 'fetchEntity'
    }),
    ...mapActions('shippingMethods', {
      fetchShippingMethods: 'fetch'
    }),
    ...mapActions('shippingTypes', {
      fetchShippingTypes: 'fetch'
    }),
    ...mapActions('suppliers', {
      fetchSuppliers: 'fetch'
    }),

    openProductLabels() {
      const url = config.API_URL + "orders/" + this.workbench.order.uuid + "/downloadProductLabels";
      this.downloadFile(url);
    },

    openPackingSlip() {
      const url = config.API_URL + "orders/" + this.workbench.order.uuid + "/downloadPackingSlip";
      this.downloadFile(url);
    },

    downloadFile(href) {
      Object.assign(document.createElement('a'), {
        href: href,
        target: '_blank',
        download: true,
      }).click();
    },

    setScroll(e) {
      this.scroll = e.target.scrollLeft;
    },

    async loadPageData(params) {
      this.workbench = {
        order: {
          ...this.workbench.order,
          products: [...this.workbench.order.products],
        }
      };
      this.setData(params); //set workbench based on 'cached' data in store,
      await this.fetchData(1, params);
      await this.fetchData(2, params);
    },

    setData(params) {
      this.workbench = {
        ...this.workbench,
        ...this.$store.getters['flows/getLocalEntitiesByProps']({uuid: params.id})[0],
        swimlanes: [...this.$store.getters['swimlanes/getLocalEntitiesByProps']({flow_uuid: params.id})]
      };
      this.updateRefreshDate();
    },

    async fetchData(stage, params) {
      switch (stage) {
        case 1:
          await Promise.all([
            this.fetchFlow(params.id),
            this.fetchSwimlanes(params.id),
            this.fetchOrders(params.id),
            this.fetchShippingMethods({}),
            this.fetchShippingTypes({}),
            this.fetchSuppliers({})
          ])
          break;

        case 2:
          await Promise.all(this.workbench.swimlanes.map(async (swimlane) => {
            await this.fetchSwimlaneOrders(swimlane.uuid)
          }));
          break;
      }
      this.setData(params);
    },

    getSwimlane(uuid) {
      return this.$store.getters['swimlanes/getLocalEntitiesByProps']({uuid})[0];
    },

    getOrder(uuid) {
      return this.$store.getters['orders/getLocalEntitiesByProps']({uuid})[0];
    },

    async getOrderProducts(uuid) {
      await this.$store.dispatch('orders/fetchGenerics', uuid);
      let products = this.$store.getters['orders/orderLines'](uuid).filter(e => e.type === 'generic');

      products.sort((a,b) => {
        const ia = parseInt(a.position);
        const ib = parseInt(b.position);

        if(ia < ib)
          return -1;
        if(ia > ib)
          return 1;
        return 0;
      });

      return products;
    },

    swimlaneOrders(uuid) {
      const swimlane = this.getSwimlane(uuid);
      const orders = this.$store.getters['swimlanes/getOrders'](uuid);

      return orders.map((order) => {
        let order_created_date = order?.order_created_date
            ?  this.$moment(order.order_created_date).format('DD-M-YYYY')
            : 'onbekend';

        let order_shipping_date = order?.order_shipping_date
            ? this.$moment(order.order_shipping_date).format('DD-M-YYYY')
            : 'onbekend';

        return {
          uuid: order.uuid,
          color: swimlane.color ?? '',
          warning: order.warning,
          icon: order?.delegated_to_supplier_uuid ? 'mdi-rocket-launch' : '',
          order_number: order?.order_number ?? '000000',
          title: order?.customerName ?? 'Onbekend',
          line1: 'Besteldatum: ' + order_created_date,
          line2: 'Verzenddatum: ' + order_shipping_date,
        }
      })
    },
    async updateList(swimlaneUuid, updatedList) {
      let flowUuid = this.id;
      let currentList = this.swimlaneOrders(swimlaneUuid);
      let swimlane = this.getSwimlane(swimlaneUuid);

      let currentListUuids = currentList.map(e => e.uuid);
      let updatedListUuids = updatedList.map(e => e.uuid);

      let difference = updatedListUuids.filter(x => !currentListUuids.includes(x));

      if(difference.length > 0) {
        await Promise.all(difference.map(async (orderUuid) => {

        if(swimlane.entry_action)
            return this.startSwimlaneAction(swimlane.entry_action, flowUuid, orderUuid, swimlaneUuid);

        return this.switchOrderToSwimlane(flowUuid, orderUuid, swimlaneUuid);
        }));
      }

      // Race condition: At least 2 swimlanes asynchronously dispatch 'updateList' when dragging an order,
      // We need to give other swimlanes the chance to dispatch 'switchOrder' before fetching orders.
      await new Promise(resolve => setTimeout(resolve, 600)); //this should do the trick ¯\_(ツ)_/¯
      await this.fetchSwimlaneOrders(swimlaneUuid);
    },

    async startSwimlaneAction(action, flowUuid = ``, orderUuid = ``, swimlaneUuid = ``) {
      //Fetching crucial information
      let order = this.getOrder(orderUuid);
      this.fetchCustomer(order.customer_uuid);
      this.fetchOrderCustomerAddress(order.customer_uuid);

      //Populating workbench for use in dialog
      this.workbench.order = {
        uuid: orderUuid,
        order_flow: flowUuid,
        order_swimlane: swimlaneUuid,
        ...order,
        products: await this.getOrderProducts(orderUuid)
      };

      //Open the correct dialog
      this.activeActions[action] = true;
    },

    async finishSwimlaneAction(action, modalPayload = {}){
      this.finishingSwimlaneAction = true;

      //Create payload based on modalPayload
      let payload = {...modalPayload};

      //Switch order with payload
      await this.switchOrderToSwimlane(this.workbench.order.order_flow, this.workbench.order.uuid, this.workbench.order.order_swimlane, payload);

      //Reload all flows + orders
      this.loadPageData({id: this.id});

      //Close dialogs
      this.activeActions[action] = false;
      this.finishingSwimlaneAction = false;
    },

    async switchOrderToSwimlane(flowUuid, orderUuid, swimlaneUuid, payload = {}) {
      let request = await this.$store.dispatch('flows/action', {uuid: flowUuid, action: 'switchOrderToSwimlane', identifiers:[orderUuid, swimlaneUuid], content:payload});
      if(request.callback !== undefined)
        this.downloadFile(request.callback);
    },

    openOrder(uuid) {
     this.$router.push({
        name: 'order-edit',
        params: {id: uuid}
      });
    },

    updateRefreshDate() {
      let now = Date.now();
      this.lastRefresh = now > this.lastRefresh ? now : this.lastRefresh;
    },

    timerTick() {
        let countdown = (this.lastRefresh+this.refreshTime*1000) - Date.now();
        if(countdown < 0)
          this.loadPageData({id: this.id})
    },
  },
  props: {
    id: {
      type: String,
      required: true
    },
  },
  components: {
    createShipmentFabrieksverkoopModal,
    createShipmentModal,
    selectOutsourceModal,
    showOrderModal,
    ooSwimLane
  },
  computed: {
    ...mapState(["swimlanes", "swimlaneOrderLinks", "shippingMethods", "shippingTypes", "suppliers", "orders", "orderLines", "customers", "customerAddresses"]),
    orderedSwimlanes() {
      return [...this.workbench.swimlanes].sort((a, b) => (a.sort_order > b.sort_order) ? 1 : -1)
    }
  },
  data() {
    return {
      workbench: {
        order: {
          uuid: '',
          order_flow: '',
          order_swimlane: '',
          products: [],
        },
        swimlanes: [],
        flows: [],
      },

      scroll: 0,

      activeActions: {
        orderCreateShipment: false,
        orderCreateShipmentFabrieksverkoop: false,
        orderSelectOutsource: false,
        showOrder: false
      },

      finishingSwimlaneAction: false,

      timer: null,
      lastRefresh: 0,
      refreshTime: 60, //seconds
    }
  },
}
</script>

<style lang="scss" scoped>
.orderProcessingRow {
  flex-wrap: nowrap;
  overflow-x: scroll;
  -ms-overflow-style:scrollbar;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;

  /*test after removing v-row*/
  display: flex;
  flex-direction:row;
  padding: 0px;
}
</style>