<template>
  <span class="customer-list-header-actions">
     <!--<v-btn outlined>Importeren</v-btn>-->
     <v-btn class="primary" to="/customer/create">Aanmaken</v-btn>
  </span>
</template>

<script>
import {VBtn} from 'vuetify/lib';

export default {
  name: 'customer_list_header_2',
  components: {
    VBtn
  },
}
</script>

<style lang="scss">
  .customer-list-header-actions {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap-reverse;

    >* {
      width: 120px;
      margin-top: 3px;
      margin-left: 6px;
      margin-bottom: 3px;
    }
  }
</style>