<template>
    <v-text-field class="customer-search" @keyup="updateSearchField" v-model="searchQuery" label="Zoeken op klantnaam" outlined hide-details></v-text-field>
</template>


<script>
import {VTextField} from 'vuetify/lib';
import {eventbus} from "@/main";

export default {
  name: 'customer_list_header_1',
  components: {
    VTextField
  },
  methods: {
    updateSearchField(e) {
      if(this.timeout) {
        clearTimeout(this.timeout);
        this.timeout = null;
      }

      if(e.keyCode === 13) {
        eventbus.$emit('customerListSearchCustomer', this.searchQuery);
        return;
      }

      this.timeout = setTimeout(() => {
        eventbus.$emit('customerListSearchCustomer', this.searchQuery);
      }, 2000);
    }
  },
  data() {
    return {
      searchQuery: '',
      timeout: false
    }
  }
}
</script>

<style lang="scss">
.customer-search {
  width: 100%;
  max-width: 510px;
}
</style>
