<route>
{
"name": "customer-list",
"meta": {
"title": "Klanten",
"show": false,
"order":"21",
"icon": "mdi-account-group",
"layout": "oo-main-layout",
"requiresAuth": true
}
}
</route>

<script>
import {mapState} from 'vuex';
import templateEngine from '@/components/mixins/ooJsonTemplateEngine/index.vue';
import {eventbus} from "@/main";

export default {
  name: 'customer_index',
  mixins: [templateEngine],
  async created() {
    await this.handleSearch('');
    eventbus.$on('customerListSearchCustomer', this.handleSearch);
  },
  beforeDestroy() {
    eventbus.$off('customerListSearchCustomer')
  },
  methods: {
    updatePage(e) {
      this.$store.dispatch('customers/fetchPage', e);
    },
    selectItem(e, value) {
      let copy = {...e};
      copy.checked = value;
      this.updateItem(copy);
    },
    updateItem(e) {
      this.$store.dispatch('customers/updateItem', e);
    },
    removeItem(e) {
      this.$store.dispatch('customers/deleteEntity', e);
    },
    openItem(e) {
      let uuid = e.uuid;
      this.$router.push({
        name: 'customer-edit',
        params: {id: uuid}
      })
    },
    async handleSearch(e) {
      await this.$store.dispatch('customers/setSearchQuery', e);
      this.$store.dispatch('customers/fetchPage', 1);
    }
  },
  computed: {
    ...mapState(["customers"]),
    listFields() {
      return this.$store.getters['customers/getListFields']
    },
    headers() {
      if(this.listFields === undefined)
        return [];

      return this.listFields.map(x => ({
        'text': x.label,
        'value': x.entity,
        'sortable': false
      }));
    },
    contentViaComputed() {
      return [{
        _uid: "210f8a9a-601a-4377-b28d-e9869747efe0",
        component: "oo-data-table",
        class: "col-12 pa-0",
        events: {
          'update:page': 'updatePage',
          'select:item': 'selectItem',
          'remove:item': 'removeItem',
          'open:item': 'openItem'
        },
        props: {
          headers: this.headers,
          items: this.customers.data.filter(({ uuid: dataUuid }) => this.customers.pagination.selection.some((paginationUuid) => dataUuid === paginationUuid )),
          loading: this.customers.loading,
          actions: true,
          page: this.customers.pagination.current_page,
          'serverItemsLength': this.customers.pagination.total
        },
      }]
    }
  },
  data() {
    return {
      components: {
        'oo-data-table': () => import('@/components/common/ooDataTable/index.vue')
      }
    }
  }
}
</script>
