<template>
  <v-card :elevation="this.elevation" class="card" v-bind:class="{ primary }">
    <span v-if="this.title" class="titlebar pa-6">
      <span class="oo-title">
        {{ this.title }}
      </span>
      <span class="actions">
        <slot name="actions" />
      </span>
    </span>

    <div class="content" :class="{'pa-6':!noContentPadding}">
      <slot />
      {{this.text}}
    </div>
  </v-card>
</template>

<script>
export default {
  name: 'ooDetailCard',
  props: {
    primary: {
      type: Boolean,
      required: false
    },
    noContentPadding: {
      type: Boolean,
      default: false,
      required: false
    },
    title: {
      type: String,
      required: false
    },
    text: {
      required: false
    },
    elevation: {
      type: Number,
      required: false,
      default: 2
    }
  }
}
</script>

<style lang="scss" scoped>
.titlebar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .oo-title {
    @include font-bold;
    flex: 1 1;
    font-size: 24px !important;
    line-height: 29px;
    display: inline-block;
  }

  .actions ::v-deep .j-container {
    justify-content: flex-end !important;
  }

  .actions:last-child {
    flex: 0 1 40%;
  }
}

.card table {
  border-top: 2px solid $brand-primary;
}

.primary {
  background: $brand-secondary !important;
  ::v-deep * {
    color: $oo-white !important;
  }
  ::v-deep .primary--text {
    color: $oo-white !important;
  }
}
</style>