<template>
  <span>
    <v-switch outlined @change="onInput" v-model="localValue" v-bind="{...$props, ...$attrs}"><slot/></v-switch>
  </span>
</template>

<script>
export default {
  name: 'ooSwitch',
  props: {
    value: {
      type: Boolean,
      required: true,
    },
    field_identifier: {
      type: String,
      required: false
    }
  },
  methods: {
    onInput(e){
      this.$emit('update:field', this.field_identifier, !!e);
    },
  },
  watch: {
    value(){
      this.localValue = this.value;
    }
  },
  data() {
    return {
      localValue: this.value
    }
  }
}
</script>