<template>
  <span class="order-overview">
     <!--<span class="discount">
       <v-btn disabled>Korting toepassen</v-btn>
     </span>
-->
     <span class="items">
      <span class="item">
        <span class="item-title">Totaal</span>
        <span>
          {{
            Intl.NumberFormat("nl-NL", {
              style: "currency",
              currency: "EUR"
            }).format(order.totals.totalNet)
          }}
        </span>
      </span>
        <span class="item">
        <span class="item-title">BTW</span>
        <span>
          {{
              Intl.NumberFormat("nl-NL", {
                style: "currency",
                currency: "EUR"
              }).format(order.totals.totalTax)
            }}
        </span>
      </span>
        <span class="item">
        <span class="item-title">Totaal inclusief BTW</span>
        <span>
          {{
              Intl.NumberFormat("nl-NL", {
                style: "currency",
                currency: "EUR"
              }).format(order.totals.totalGross)
            }}
        </span>
      </span>
     </span>
  </span>
</template>

<script>
export default {
  name: 'ooOrderOverview',
  props: {
    order: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.order-overview {
  display: flex;
  flex-direction: row;

  .discount {
    flex: .4 1;
  }
  .items {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .item-title {
        font-weight: 500;
      }
    }
  }
}
</style>