<template>
  <oo-modal :dialog="dialog">
    <oo-modal-row>
      <oo-modal-card :keep-title-margin="true" :title="this.title" column>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
        >
          <span
              v-for="field in fieldMeta" :key="'oo-edit-modal-'+ field.entity"
          >
             <v-text-field
                 v-show="false"
                 v-if="field.type === 'String' && field.hide"
                 v-model="localFields[field.entity]"
                 type="text"
             />
            <v-select
                v-if="field.type === 'Select'" outlined
                :rules="[...field.validation, hasApiError(field)]"
                @input="resetApiErrors"
                v-model="localFields[field.entity]"
                :label="field.label"
                :items="field.options"
                :multiple="field.multipleOptions !== undefined && field.multipleOptions === true && typeof localFields[field.entity] !== 'string'"
            />
            <v-text-field
                v-if="field.type === 'String' && !field.hide" outlined
                :rules="[...field.validation, hasApiError(field)]"
                @input="resetApiErrors"
                type="text"
                v-model="localFields[field.entity]" :label="field.label"
            />
            <v-text-field
                v-if="field.type === 'Password'" outlined
                :rules="[...field.validation, hasApiError(field)]"
                @input="resetApiErrors"
                type="password"
                v-model.number="localFields[field.entity]" :label="field.label"
            />
            <v-text-field
                v-if="field.type === 'Double' || field.type === 'Number'" outlined
                :rules="[...field.validation, hasApiError(field)]"
                @input="resetApiErrors"
                type="number"
                step=".1"
                v-model.number="localFields[field.entity]"
                :label="field.label"
            />

            <oo-date-picker
                v-if="field.type === 'Date'" outlined
                :rules="[...field.validation, hasApiError(field)]"

                :field_identifier="field.entity"
                :value="localFields[field.entity]"
                @update:field="updateField"

                :label="field.label"
            />

            <span
                v-if="field.type === 'Color'"
                class="color-wrapper"
            >
              <span class="color-label">{{field.label}}</span>
              <v-color-picker
                  :value="localFields[field.entity]"
                  @update:color="(e) => localFields[field.entity] = e.hex"
                  dot-size="25"
                  hide-inputs
                  hide-canvas
                  mode="hexa"
                  swatches-max-height="200"
              />
            </span>

          </span>
        </v-form>
      </oo-modal-card>
    </oo-modal-row>

    <oo-modal-row>
      <oo-modal-card>
        <v-btn outlined elevation="0" @click="$emit('cancel')">Annuleren</v-btn>
        <v-btn :disabled="!valid" elevation="0" class="primary" @click="storeFields">Opslaan</v-btn>
      </oo-modal-card>
    </oo-modal-row>
  </oo-modal>
</template>

<script>
import ooModal from "@/components/common/ooModal/index";
import ooModalRow from "@/components/common/ooModalRow/index";
import ooModalCard from "@/components/common/ooModalCard/index";
import ooDatePicker from "@/components/common/ooDatePicker/index";

export default {
  name: 'ooEditModal',
  components: {
    ooModal,
    ooModalRow,
    ooModalCard,
    ooDatePicker
  },
  data() {
    return {
      valid: false,
      localFields: {}
    }
  },
  methods: {
    async storeFields() {
      await this.$refs.form.validate()
      if(this.valid) this.$emit('save', this.localFields);
    },
    resetApiErrors(){
      this.$emit('reset:apiErrors', this.localFields);
    },
    updateField(fieldname, value) {
      this.localFields[fieldname] = value;
      this.localfields = {...this.localfields};
    },
    hasApiError(field) {
      if (field.apiErrors.length > 0) return field.apiErrors.join(', ');
      return true;
    }
  },
  watch: {
    fields: function (newVal) {
      this.localFields = newVal
    }
  },
  props: {
    title: {
      type: String,
      required: true
    },
    dialog: {
      type: Boolean,
      required: true
    },
    fields: {
      type: Object,
      required: false
    },
    fieldMeta: {
      type: Array,
      required: false
    },
  }
}
</script>

<style lang="scss" scoped>
  .color-wrapper {
    border-collapse: collapse;
    border-color: $oo-gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    display: block;
    position: relative;
    width: 100%;
    >* {
      max-width: 900px !important;
    }
  }
  .color-label {
    background: $oo-white;
    color: $oo-gray;
    padding-left: 2px;
    padding-right: 2px;
    z-index: 2;
    position: absolute;
    left: 10px;
    top: -5px;
    font-size: 13px;
    line-height: 11px;
  }
</style>