<template>
  <oo-modal :dialog="dialog">
    <oo-modal-row>
      <oo-modal-card :keep-title-margin="true" :title="title" column>
      <!--  <v-tabs
            center-active
            light
            class="mb-4"
            fixed-tabs
            v-model="activeTab"
        >
          <v-tab class="create-orderline-tab">Voorraad{{ this.singularTitle }}</v-tab>
          <v-tab class="create-orderline-tab">Handmatig {{ this.singularTitle }}</v-tab>
        </v-tabs>-->

        <v-autocomplete label="Zoeken..." v-if="activeTab === 0" :items="orderableItemOptions" v-model="selectedOrderableItem" @change="createOrderLine">
          <template v-slot:selection="{item}">
            #{{ item.value.sku }} {{ item.value.label }}
          </template>

          <template v-slot:item="{item}">
            <span class="orderlines-create-modal-search-item">
              <span>#{{ item.value.sku }}</span>
              <span class="flex-grow-1">{{ item.value.label }}</span>
              <span class="justify-center">
                <v-icon
                  large
                  color="purple darken-2"
                >
                  mdi-circle-medium
                </v-icon>
              </span>
              <span class="justify-end">XX<span class="superscript">99</span></span>
            </span>
          </template>
        </v-autocomplete>
        <v-btn class="primary mt-3 mb-6" v-if="activeTab === 1" @click="createOrderLine">
          Lege {{ this.singularTitle }}regel toevoegen aan order
        </v-btn>

        <v-form
            ref="form"
            v-model="valid"
        >
          <span class="orderlines-create-modal-orderline" v-for="orderline in orderLines" :key="orderline.internalUuid">
            <span
                v-for="field in fieldMeta"
                :key="'oo-edit-modal-'+ field.entity"
                :class="{ 'mr-4': !field.hide }"
            >
              <v-text-field
                  v-show="false"
                  v-if="field.type === 'String' && field.hide"
                  v-model="orderline[field.entity]"
                  type="text"
                  :disabled="!isUpdatable(field.entity)"
              />
              <v-text-field
                  v-if="field.type === 'String' && !field.hide" outlined
                  :rules="[...field.validation, hasApiError(field)]"
                  @input="resetApiErrors"
                  type="text"
                  v-model="orderline[field.entity]" :label="field.label"
                  :disabled="!isUpdatable(field.entity)"
              />
              <v-select
                  v-if="field.type === 'Tax' && !field.hide" outlined
                  :rules="[...field.validation, hasApiError(field)]"
                  @input="resetApiErrors"
                  v-model="orderline[field.entity]"
                  :label="field.label"
                  :items="taxOptions"
                  :disabled="!isUpdatable(field.entity)"
              />
              <v-text-field
                  v-if="(field.type === 'Double' || field.type === 'Number') && !field.hide" outlined
                  :rules="[...field.validation, hasApiError(field)]"
                  @input="resetApiErrors"
                  type="number"
                  step=".1"
                  v-model.number="orderline[field.entity]"
                  :label="field.label"
                  :disabled="!isUpdatable(field.entity)"
              />
               <oo-tax-input
                   :horizontal="true"
                   :rules="[...field.validation, hasApiError(field)]"
                   v-if="field.type === 'Currency'" outlined
                   @update:field="resetApiErrors"
                   v-model="orderline[field.entity]"
                   :label="field.label"
                   :tax_uuid="orderline['tax_uuid']"
               />
            </span>
            <v-btn class="mb-8" @click="removeOrderLine(orderline.internalUuid)" icon><v-icon
                dark>mdi-trash-can</v-icon></v-btn>
          </span>
        </v-form>
      </oo-modal-card>
    </oo-modal-row>

    <oo-modal-row>
      <oo-modal-card>
        <v-btn outlined elevation="0" @click="$emit('cancel')">Annuleren</v-btn>
        <v-btn :disabled="!valid" elevation="0" class="primary" @click="storeFields">Opslaan</v-btn>
      </oo-modal-card>
    </oo-modal-row>
  </oo-modal>
</template>

<script>
import ooModal from "@/components/common/ooModal/index";
import ooModalRow from "@/components/common/ooModalRow/index";
import ooModalCard from "@/components/common/ooModalCard/index";
import {mapActions, mapState} from "vuex";
import ooTaxInput from "@/components/common/ooTaxInput/index";

export default {
  name: 'ooOrderLinesCreateModal',
  components: {
    ooModal,
    ooModalRow,
    ooModalCard,
    ooTaxInput
  },
  data() {
    return {
      internalIndex: 0,
      selectedOrderableItem: 0,
      activeTab: 1,
      valid: false,
      orderLines: [],
      localFields: {}
    }
  },
  computed: {
    ...mapState(["taxes", "orderableItems"]),
    currentIndex() {
      return this.index + this.orderLines.length;
    },
    taxOptions() {
      //Guessing that this has already been fetched by the parent: /order/
      return this.taxes.data.map((x) => ({
            'text': x.name,
            'value': x.uuid
          }),
      );
    },
    orderableItemOptions() {
      return this.orderableItems.data.map((x) => ({
            'text': x.sku + ' ' + x.label,
            'value': x
          }),
      );
    },
  },
  created() {
    this.fetchOrderableItems({});
  },
  methods: {
    ...mapActions('orderableItems', {
      fetchOrderableItems: 'fetch'
    }),
    createOrderLine(props = {}) {
      let customDefaults = {
        internalUuid: this.generateUuid(),
        qty: 1,
        position: this.currentIndex,
        unit_price_net: '0',
        tax_uuid: '1eb34fb7-ba1d-6450-94f0-08002707d37b'
      };

      let filteredProps = {
       /* type: props.type,*/
        linked_entity_uuid: props.uuid,
        label: props.label,
      };

      let newOrderline = {
        ...this.$store.getters['orderLines/init'],
        ...this.fields,
        ...customDefaults,
        ...filteredProps
      };

      this.orderLines.push(newOrderline);
    },
    removeOrderLine(key) {
      const i = this.orderLines.findIndex(item => {
        return item.internalUuid === key
      });
      if (i > -1) this.orderLines.splice(i, 1);
    },
    generateUuid() {
      let dt = new Date().getTime();
      let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        let r = (dt + Math.random() * 16) % 16 | 0;
        dt = Math.floor(dt / 16);
        return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
      });
      return uuid;
    },
    async storeFields() {
      await this.$refs.form.validate()
      if (this.valid) this.$emit('save', this.orderLines);
    },
    resetApiErrors() {
      this.$emit('reset:apiErrors', this.localFields);
    },
    hasApiError(field) {
      if (field.apiErrors.length > 0) return field.apiErrors.join(', ');
      return true;
    },
    isUpdatable(field) {
      let fields = ['order_uuid', 'type', 'label', 'linked_entity_uuid', 'qty', 'unit_price_net', 'tax_uuid']
      return fields.includes(field)
    }
  },
  watch: {
    fields: function (newVal) {
      this.localFields = newVal
    }
  },
  props: {
    title: {
      type: String,
      required: true
    },
    singularTitle: {
      type: String,
      required: true
    },
    pluralTitle: {
      type: String,
      required: true
    },
    dialog: {
      type: Boolean,
      required: true
    },
    fields: {
      type: Object,
      required: false
    },
    fieldMeta: {
      type: Array,
      required: false
    },
    index: {
      type: Number,
      default: 0,
      required: false
    }
  }
}
</script>

<style lang="scss">
.orderlines-create-modal-orderline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.create-orderline-tab {
  max-width: 5000px !important;
}

.orderlines-create-modal-search-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  >:first-child {
    color: $oo-gray;
  }
  >* {
    display: flex;
    flex-basis: 50px;
    flex-grow: .2;
  }
  .superscript {
    width: 5px;
    font-size: .5em;
  }
}

</style>