<template>
  <span>
    <oo-transactions-edit-modal
       @cancel="closeItem"
       @save="handleStoreItem"
       @reset:apiErrors="$emit('reset:apiErrors')"
       :dialog="this.dialog"
       title="Betaling registreren"
       :field-meta="this.editFields"
       :fields="this.workbench"
       :key="this.namespace + '_' + this.dialogIteration"
    />
    <span class="container">
      <span class="item-header">Geregistreerde betalingen</span>
      <span v-if="items.length === 0">Er zijn nog geen betalingen geregistreerd</span>
      <!--
        order_uuid": "fk",
        "payment_number": "string",
        "amount": "decimal(14,5)",
        "completed_at": "date",
        "isCompleted": "calculated"
      -->
        <span v-for="transaction in items" :key="'order-transaction-'+transaction.uuid" class="item-payment">

          <span v-if="transaction.completed_at">
            {{ $moment(transaction.completed_at).format('DD-M-YYYY') }} / {{ transaction.payment_number }}
          </span>

          <span v-if="paymentMethods.data.length > 0">
            {{paymentMethods.data.find((e) => e.uuid === transaction.payment_method_uuid).name}}
          </span>

          <span>
            {{
              Intl.NumberFormat("nl-NL", {
                style: "currency",
                currency: "EUR"
              }).format(transaction.amount)
            }}
          </span>

          <span v-if="transaction.state">
            {{ transaction.state }}
          </span>

          <v-btn
              small
              color="rgba(255, 255, 255, 0)"
              elevation="0"
          >
            <v-icon dark @click="removeItem(transaction.uuid)">mdi-trash-can</v-icon>
          </v-btn>
        </span>

      <v-btn outlined class="mt-2" @click="createItem"> Betaling registreren </v-btn>

      <span class="item mt-6">
        <span class="item-header">Openstaand bedrag</span>
        <span>
          {{
            Intl.NumberFormat("nl-NL", {
              style: "currency",
              currency: "EUR"
            }).format(totalDueToPay)
          }}
        </span>
      </span>
    </span>
  </span>
</template>

<script>
import ooTransactionsEditModal from "@/components/common/ooTransactionsEditModal/index";
import {mapActions, mapState} from "vuex";

export default {
  name: 'ooLocalMiniCrud',
  components: {
    ooTransactionsEditModal
  },
  methods: {
    ...mapActions('toast', {
      successToast: 'success',
      warningToast: 'warning',
      errorToast: 'error'
    }),
    removeItem(e) {
      this.$emit('delete:entity', e)
    },
    closeItem() {
      this.dialogIteration++;
      this.dialog = false;
    },
    async handleStoreItem(e) {
      await this.$emit('store:entity', e);
      this.dialogIteration++;
      this.dialog = false;
    },
    createItem() {
      let workbench = {uuid: ''};
      this.editFields.forEach((field) => {
        workbench[field.entity] = this.filter ? this.filter[field.entity] ?? '' : '';
      })

      this.workbench = workbench;

      this.dialog = true;
    }
  },
  props: {
    totalDueToPay: {
      type: Number,
      default: 0,
      required: false
    },
    items: {
      type: Array,
      required: false
    }
  },
  computed: {
    ...mapState(["paymentMethods"]),
    editFields() {
      return this.$store.getters[this.namespace + '/getEditFields'];
    },
    listFields() {
      return this.$store.getters[this.namespace + '/getListFields']
    },

    storeData() {
      return this.$store.state[this.namespace];
    },
    headers() {
      return this.listFields.map(x => ({
        'text': x.label,
        'value': x.entity,
        'sortable': false
      }));
    },
  },
  data() {
    return {
      namespace: 'orderTransactions',
      workbench: {},
      dialogIteration: 0,
      dialog: false
    }
  }
}
</script>

<style lang="scss" scoped>
.container, .item {
  display: flex;
  flex-direction: column;
  padding: 0px;
  white-space: nowrap;
}

.item-header {
  @include font-bold;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.item-payment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  >:first-child {
    width: 175px;

  }
  >span {
    overflow: hidden;
    width: 50px;
    flex-grow: 1;
    margin-right: 8px;
    text-align: left;
  }
}
</style>