<template>
  <oo-modal :dialog="dialog">
    <oo-modal-row>
      <oo-modal-card :keep-title-margin="true" :title="this.title" column>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
        >
          <span
              v-for="field in fieldMeta" :key="'oo-edit-modal-'+ field.entity"
          >
            <v-text-field
                 v-show="false"
                 v-if="field.type === 'String' && field.hide"
                 v-model="localFields[field.entity]"
                 type="text"
             />
            <v-text-field
                v-if="field.type === 'String' && !field.hide" outlined
                :rules="[...field.validation, hasApiError(field)]"
                @input="resetApiErrors"
                type="text"
                v-model="localFields[field.entity]" :label="field.label"
            />
            <v-text-field
                v-if="field.type === 'Password'" outlined
                :rules="[...field.validation, hasApiError(field)]"
                @input="resetApiErrors"
                type="password"
                v-model.number="localFields[field.entity]" :label="field.label"
            />
            <v-text-field
                v-if="field.type === 'Double' || field.type === 'Number'" outlined
                :rules="[...field.validation, hasApiError(field)]"
                @input="resetApiErrors"
                type="number"
                step=".1"
                v-model.number="localFields[field.entity]"
                :label="field.label"
            />
            <oo-tax-input
               :rules="[...field.validation, hasApiError(field)]"
               v-if="field.type === 'Currency'" outlined
               @update:field="resetApiErrors"
               v-model="localFields[field.entity]"
               :label="field.label"
               :tax_uuid="localFields['tax_uuid']"
            />
            <v-select
                v-if="field.type === 'Tax' && !field.hide" outlined
                :rules="[...field.validation, hasApiError(field)]"
                @input="resetApiErrors"
                v-model="localFields[field.entity]"
                :label="field.label"
                :items="taxOptions"
            />
          </span>


        </v-form>
      </oo-modal-card>
    </oo-modal-row>

    <oo-modal-row>
      <oo-modal-card>
        <v-btn outlined elevation="0" @click="$emit('cancel')">Annuleren</v-btn>
        <v-btn :disabled="!valid" elevation="0" class="primary" @click="storeFields">Opslaan</v-btn>
      </oo-modal-card>
    </oo-modal-row>
  </oo-modal>
</template>

<script>
import ooModal from "@/components/common/ooModal/index";
import ooModalRow from "@/components/common/ooModalRow/index";
import ooModalCard from "@/components/common/ooModalCard/index";
import ooTaxInput from "@/components/common/ooTaxInput/index";
import {mapState} from "vuex";

export default {
  name: 'ooOrderLineEditModal',
  components: {
    ooModal,
    ooModalRow,
    ooModalCard,
    ooTaxInput
  },
  computed: {
    ...mapState(["taxes"]),
    taxOptions() {
      //Guessing that this has already been fetched by the parent: /order/
      return this.taxes.data.map((x) => ({
            'text': x.name,
            'value': x.uuid
          }),
      );
    },
  },
  methods: {
    async storeFields() {
      await this.$refs.form.validate()
      if(this.valid) this.$emit('save', this.localFields);
    },
    resetApiErrors(){
      this.$emit('reset:apiErrors', this.localFields);
    },
    hasApiError(field) {
      if (field.apiErrors.length > 0) return field.apiErrors.join(', ');
      return true;
    },
  },
  watch: {
    fields: function (newVal) {
      this.localFields = newVal
    }
  },
  props: {
    title: {
      type: String,
      required: false
    },
    dialog: {
      type: Boolean,
      required: true
    },
    fields: {
      type: Object,
      required: false
    },
    fieldMeta: {
      type: Array,
      required: false
    },
  },
  data() {
    return {
      valid: false,
      localFields: {}
    }
  }
}
</script>