<route>
{
"name": "error-maintenance",
"meta": {
"title": "Geen toegang",
"label": "Geen toegang",
"show": false,
"order":"0",
"icon": "mdi-information-outline",
"layout": "oo-login-layout",
"requiresAuth": false
}
}
</route>


<template>
  <div class="error_maintenance">
    <h1>Tijdelijk onbeschikbaar</h1>
    <span>De server staat in onderhoudsmodus, binnen enkele ogenblikken kunt u weer inloggen.</span>
  </div>
</template>

<script>
export default {
  name: 'error_maintenance',
}
</script>