<template>
  <span>
    <v-text-field outlined @input="onInput" v-bind="{...$props, ...$attrs}" v-on="$listeners"><slot/></v-text-field>
  </span>
</template>

<script>
export default {
  name: 'ooTextField',
  props: {
    field_identifier: {
      type: String,
      required: false
    }
  },
  methods: {
    onInput(e){
      this.$emit('update:field', this.field_identifier, e);
    },
  }
}
</script>