<route>
{
"name": "about",
"meta": {
"title": "Systeeminformatie",
"label": "Systeeminformatie",
"show": false,
"order":"8",
"icon": "mdi-information-outline",
"layout": "oo-main-layout"
}
}
</route>

<template>
  <div class="about">
    <h1>Welkom op de informatiepagina van <i>{{ companyName }}</i></h1>
    <span>
      Deze informatie staat <u>niet</u> in de core <br/>
      Maar de logica van deze <a @click="up()">rekenen</a> knop wel {{ sum1 }} + {{ sum2 }} = {{ this.test }}
    </span>
  </div>
</template>

<script>
import Core from '@/views/core/about/index.vue';

export default {
  name: 'about_index',
  mixins: [Core]
}
</script>
