<route>
{
"name": "custom",
"meta": {
"title": "Standalone custom page",
"label": "Standalone custom page",
"show": false,
"order":"9",
"icon": "mdi-puzzle-outline",
"layout": "oo-main-layout"
}
}
</route>

<template>
  <div class="standalone">
    <h1>Klantspecifiek</h1>
    <span>
      Deze pagina is specifiek gemaakt voor de klant zonder gebruik te maken van core-functionaliteit.
    </span>
  </div>
</template>