<route>
{
"name": "error-NotPermitted",
"meta": {
"title": "Geen toegang",
"label": "Geen toegang",
"show": false,
"order":"0",
"icon": "mdi-information-outline",
"layout": "oo-main-layout",
"requiresAuth": false
}
}
</route>


<template>
  <div class="error_notPermitted">
    <h2>Helaas, u heeft geen toegang tot deze informatie.</h2>
  </div>
</template>

<script>
export default {
  name: 'error_notPermitted',
}
</script>