<route>
{
"name": "stockManagement",
"meta": {
"title": "Voorraadmanagement (fake)",
"label": "Voorraadmanagement",
"show": false,
"order":"5",
"icon": "mdi-garage-variant",
"layout": "oo-main-layout",
"requiresAuth": true
}
}
</route>

<script>
import {mapState} from 'vuex';
import templateEngine from '@/components/mixins/ooJsonTemplateEngine/index.vue';

export default {
  name: 'stock_management_index',
  mixins: [templateEngine],
  created() {
    this.$store.dispatch('stock/getAllStock');
  },
  methods: {
    createStock() {
      alert('Created order');
    },
  },
  computed: mapState({
    contentViaComputed: state => [
      {
        _uid: "210f8a9a-601a-4377-b28d-e9869747efe0",
        component: "oo-data-table",
        class: "col-12 pa-0",
        props: {
          headers: [
            {
              text: 'ID',
              value: 'id',
              sortable: true
            },
            {
              text: 'Merk',
              value: 'brand',
              sortable: true
            },
            {
              text: 'Productnaam',
              value: 'name',
              sortable: true
            },
            {
              text: 'Kenmerk',
              value: 'reference',
              sortable: true
            },
            {
              text: 'Status',
              value: 'status',
              sortable: true
            }
          ],
          actions: true,
          items: state.stock.all,
          slot: [
            {
              _uid: "200f8a9a-601a-4377-b28d-e9869747efe0",
              value: 'status',
              component: 'template',
            }
          ],
        }
      }
    ],
  }),
  data() {
    return {
      components: {
        'oo-data-table': () => import('@/components/common/ooDataTable/index.vue')
      }
    }
  }
}
</script>