<template>
  <span>
    <v-btn class="ooBtn" :class="{primary:primary}" :outlined="!primary" v-on:click="$emit('click', $event)" v-bind="{...$props, ...$attrs}">{{ label }}</v-btn>
  </span>
</template>

<script>
export default {
  name: 'ooBtn',
  props: {
    field_identifier: {
      type: String,
      required: false
    },
    label: {
      type: String,
      required: false
    },
    primary: {
      type: Boolean,
      default: false,
      required: false
    }
  }
}
</script>

<style lang="scss" scoped>
  .ooBtn {
    width: 100%;
  }
</style>