<template>
  <v-app>
    <oo-toast-renderer />
    <div class="main">
      <v-card
          :loading="auth.loading"
          class="card"
          max-width="374">
        <template slot="progress">
          <v-progress-linear
              color="primary"
              height="10"
              indeterminate
          ></v-progress-linear>
        </template>
        <div class="card-content">
          <span class="item photo">
            <span class="headline-container">
              <span class="headline">Hallo!</span>
              <span class="subtitle">Welkom terug.</span>
            </span>
          </span>
          <span class="item"><slot/></span>
        </div>
      </v-card>
    </div>
  </v-app>
</template>

<script>
import {mapState} from "vuex";
import OoToastRenderer from "@/components/layout/ooToastRenderer/index";

export default {
  components: {
    OoToastRenderer
  },
  data() {
    return {
      loading: true
    }
  },
  computed: {
    ...mapState(["auth"]),
  },
  name: 'ooLoginLayout',
}
</script>

<style lang="scss" scoped>
#app {
  @include font-regular;
}

.main {
  height: 100%;
  width: 100%;
  background: $bg-dark-primary;
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: center !important;
  padding: 50px;

  .card {
    height: 100%;
    width: 100%;
    min-height: 250px;
    max-height: 690px;
    min-width: 500px;
    max-width: 1310px !important;
    position: relative;

    .card-content {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      height: 100%;

      .headline-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 65px;
        left: 65px;
      }

      .headline, .subtitle {
        color: $oo-white;
      }

      .headline {
        @include font-bold;
        font-size: 64px;
        line-height: 76px;
      }

      .subtitle {
        @include font-regular;
        font-size: 40px;
        line-height: 48px;
      }

      .item:first-child {
        flex: 1 1 60%;
        background: url('~@/assets/login-image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }

      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px !important;
        flex: 1 1 40%;
      }
    }
  }
}

@media only screen and (max-width: 780px)  {
  .main .card .card-content {
    .item:first-child {
      display: none;
    }
    .item {
    }
  }
}
</style>
