<route>
{
"name": "settings-general",
"meta": {
"title": "Instellingen",
"label": "Basis",
"show": true,
"order":"72",
"icon": "mdi-tune-vertical-variant",
"layout": "oo-main-layout"
}
}
</route>

<script>
import {mapState} from "vuex";
import templateEngine from "@/components/mixins/ooJsonTemplateEngine/index";

export default {
  name: 'settings_general',
  mixins: [templateEngine],
  computed: {
    ...mapState(["orders"]),
    contentViaComputed() {
      return [
        {
          _uid: "220f8a9a-631a-4877-b22d-e9869747eef0",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "223e8a9d-602a-4347-b27d-e9839747efd0",
              component: "oo-mini-crud",
              class: "col-12 pa-0",
              props: {
                singularTitle: 'BTW Percentage',
                pluralTitle: 'BTW Percentages',
                namespace: 'taxes'
              }
            },
          ]
        },
       /* {
          _uid: "220f8a9a-601a-4377-b28d-e9869747eef1",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "220f8a9a-601a-4377-b28d-e9869747dfe0",
              component: "oo-data-table",
              class: "col-12 pa-0",
              props: {
                title: "Eenheden (fake)",
                headers: [
                  {
                    text: 'Kolom 1',
                    value: 'a',
                    sortable: true
                  },
                  {
                    text: 'Kolom 2',
                    value: 'b',
                    sortable: true
                  },
                  {
                    text: 'Kolom 3',
                    value: 'c',
                    sortable: true
                  },
                  {
                    text: 'Kolom 4',
                    value: 'd',
                    sortable: true
                  },
                  {
                    text: 'Kolom 5',
                    value: 'e',
                    sortable: true
                  },
                ],
                items: [
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'},
                  {a: '1', b: '2', c: '3', d: '4', e: '5'}
                ],
                loading: false,
                selectable: false,
                actions: true,
                bare: true,
                page: 1,
                'serverItemsLength': 1
              },
            }
          ]
        },
        {
          _uid: "220f8a9a-601a-4377-b28d-e9869747ffe2",
          component: "oo-detail-card",
          class: "col-12",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "220f8a9c-601a-4377-b28d-e9869747dfd0",
              component: "oo-data-table",
              class: "col-12 pa-0",
              props: {
                title: "Orderstatussen (fake)",
                headers: [
                  {
                    text: 'Status',
                    value: 'a',
                    sortable: true
                  }
                ],
                items: [
                  {a: 'Verzonden'},
                  {a: 'Ingeboekt'},
                  {a: 'Uitgeleverd'},
                  {a: 'Ingepakt'}
                ],
                loading: false,
                selectable: false,
                actions: true,
                bare: true,
                page: 1,
                'serverItemsLength': 1
              },
            }
          ]
        }*/
      ]
    }
  },
  data() {
    return {
      components: {
        'oo-data-table': () => import('@/components/common/ooDataTable/index.vue'),
        'oo-detail-card': () => import('@/components/common/ooDetailCard/index.vue'),
        'oo-mini-crud': () => import('@/components/common/ooMiniCrud/index.vue')
      }
    }
  }
}
</script>