<template>
  <v-app>
    <oo-toast-renderer />

    <oo-navigation-drawer />

    <oo-toolbar>
      <template #header>
        {{title}}
      </template>
      <template #custom-1>
        <slot name="custom-1" />
      </template>
      <template #custom-2>
        <slot name="custom-2" />
      </template>
    </oo-toolbar>

    <v-main class="main" :class="{dark:dark, light:!dark}">
      <v-container class="container pa-0 col-12">
        <slot />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  import ooToolbar from '@/components/layout/ooToolbar/index.vue';
  import ooNavigationDrawer from '@/components/layout/ooNavigationDrawer/index.vue';
  import OoToastRenderer from "@/components/layout/ooToastRenderer/index";

  export default {
    name: 'ooMainLayout',
    computed: {
      title() {
        if(this.$route.meta.title !== null) return this.$route.meta.title;
        if(this.$route.name !== null) return this.$route.name;
        return "";
      },
      dark() {
        return config.THEME.DARK;
      }
    },
    components: {
      OoToastRenderer,
      ooNavigationDrawer,
      ooToolbar
    }
  }
</script>

<style lang="scss">
  .main.light {
    background: $oo-light-gray;
  }

  .main.dark {
    background: $oo-gray;
  }

  #app {
    @include font-regular;
  }
</style>
