<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          :src="require('../../../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        />
      </v-col>

      <v-col class="mb-4">
        <p class="subheading font-weight-regular">
          {{ this.appName }} word ontwikkeld door OKE Online,
          <br>voor meer informatie kunt u onze
          <a
            href="https://okeonline.nl"
            target="_blank"
          >website</a> bezoeken
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'HelloWorld',
    props: {
      appName: {
        type: String,
        required: true
      },
    }
  }
</script>
