<route>
{
"name": "about",
"meta": {
"title": "Systeeminformatie",
"label": "Systeeminformatie",
"show": true,
"order":"8",
"icon": "mdi-information-outline",
"layout": "oo-main-layout",
"requiresAuth": true
}
}
</route>


<template>
  <div class="about">
    <h1>Welkom op de informatiepagina van {{ companyName }} FulFillable</h1>
    <span>
        We gaan <a @click="up()">rekenen</a> middels mixins! <br/> {{ sum1 }} + {{ sum2 }} = {{ this.test }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'about_index',
  computed: {
    test() {
      return this.sum1 + this.sum2
    },
  },
  methods: {
    up() {
      return this.sum1 = this.sum1 + 1;
    },
  },
  data() {
    return {
      sum1: 5,
      sum2: 10,
      companyName: 'FulFillableCore'
    }
  }
}
</script>
