<template>
  <span>
    <v-btn outlined class="mr-4" to="/customer/list">Annuleren</v-btn>
    <v-btn class="primary" @click="createCustomer" >Opslaan</v-btn>
    <!--:disabled="customers.loading"-->
  </span>
</template>


<script>
import {mapState} from 'vuex';
import {eventbus} from '@/main';
import {VBtn} from 'vuetify/lib';

export default {
  name: 'customer_create_handler',
  methods: {
    createCustomer() {
      eventbus.$emit('customerCreateCreateCustomer');
    }
  },
  computed: {
    ...mapState(["customers"]),
  },
  components: {
    VBtn
  },
}
</script>
