<route>
{
"name": "customer-create",
"meta": {
"title": "Klant aanmaken",
"show": false,
"order":"32",
"icon": "mdi-information-outline",
"layout": "oo-main-layout",
"requiresAuth": true
}
}
</route>

<script>
import {mapActions, mapState} from 'vuex';
import {eventbus} from '@/main';
import templateEngine from '@/components/mixins/ooJsonTemplateEngine/index.vue';

export default {
  name: 'customer_create',
  mixins: [templateEngine],
  created() {
    this.fetchCustomerGroupsPage(1);
    eventbus.$on('customerCreateCreateCustomer', this.handleStoreCustomer);
  },
  beforeDestroy() {
    eventbus.$off('customerCreateCreateCustomer')
  },
  methods: {
    ...mapActions('toast', {
      successToast: 'success',
      warningToast: 'warning',
      errorToast: 'error'
    }),
    ...mapActions('customers', {
      fetchCustomer: 'fetchEntity',
      storeCustomer: 'storeEntity',
      resetCustomer: 'resetFlags'
    }),
    ...mapActions('customerAddresses', {
      storeAddress: 'storeEntity',
    }),
    ...mapActions('customerGroups', {
      fetchCustomerGroupsPage: 'fetchPage'
    }),

    async handleStoreCustomer() {
      let parent = this;

     await this.storeCustomer(this.workbench).then(
          function (e) {
            if (e !== undefined && e.operation === true) parent.workbench.customer_uuid = e.affectedModel.uuid;
          }
      );

      if (this.workbench.customer_uuid !== 0 && this.workbench.customer_addresses.length > 0)
        await this.handleStoreAddresses();

      if (this.customers.success) {
        this.exit();
      }

      await this.resetCustomer();
    },

    async exit() {
      this.successToast('Klant opgeslagen');

      if(this.routeOnSuccess) {
        this.$router.push({
          name: 'customer-list',
        })
      }

      this.$emit('created:entity', this.workbench.customer_uuid);
    },

    async handleStoreAddresses() {
      let parent = this;

      await Promise.all(
          await this.workbench.customer_addresses.map(async function (e) {
            // eslint-disable-next-line no-unused-vars
            let {uuid, ...addressWithoutUuid} = e;
            await parent.storeAddress({...addressWithoutUuid, customer_uuid: parent.workbench.customer_uuid});
          })
      );
    },

    updateField(fieldname, value) {
      this.workbench[fieldname] = value;
    },

    generateUuid() {
      let dt = new Date().getTime();
      let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        let r = (dt + Math.random() * 16) % 16 | 0;
        dt = Math.floor(dt / 16);
        return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
      });
      return uuid;
    },

    async upsertAddress(e) {
      const i = this.workbench.customer_addresses.findIndex(item => {
        return e?.uuid ? e.uuid === item.uuid : false;
      });
      if (i > -1) Object.assign(this.workbench.customer_addresses[i], e);
      else this.workbench.customer_addresses.push({...e, uuid: this.generateUuid()});
    },
    async deleteAddress(e) {
      this.workbench.customer_addresses = this.workbench.customer_addresses.filter(function (workbenchCustomerAddress) {
        return workbenchCustomerAddress.uuid !== e.uuid;
      })
    }
  },
  computed: {
    ...mapState(["customers", "customerAddresses", "customerGroups"]),
    customerGroupOptions() {
      return this.customerGroups.data.map((x) => ({
            'text': x.name,
            'value': x.uuid
          }),
      );
    },
    contentViaComputed() {
      return [
        {
          _uid: "b0a4bc75-208e-427d-9596-6d9e1bbb719c",
          component: "oo-detail-card",
          class: "col-12 pa-8",
          props: {
            title: "Klantinformatie"
          },
          slot: [
            {
              _uid: "f0f4bc75-234a-487d-9246-6d9e1bbe619a",
              component: "oo-select",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Groep",
                field_identifier: "customer_group_uuid",
                value: this.workbench.customer_group_uuid,
                items: this.customerGroupOptions
              },
            },
            {
              _uid: "f0f4bc75-234a-487d-9246-6d9e1bbe639c",
              component: "oo-text-field",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Naam",
                field_identifier: "name",
                value: this.workbench.name
              },
            },
            {
              _uid: "f0f4bc33-234a-487b-9246-6d9e1bff619d",
              component: "oo-text-field",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Bedrijfsnaam",
                field_identifier: "company_name",
                value: this.workbench.company_name
              },
            },
            {
              _uid: "f0f4bc75-234a-434d-9336-6d9e1bbe619d",
              component: "oo-text-field",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "E-mailadres",
                field_identifier: "email",
                value: this.workbench.email
              },
            },
            {
              _uid: "f0f4bc75-234a-434d-9336-6c9e1cfe629d",
              component: "oo-text-field",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "E-mailadres facturatie",
                field_identifier: "email_billing",
                value: this.workbench.email_billing
              },
            },
            {
              _uid: "f0f4bc75-234a-487d-9246-6d9e1fff619f",
              component: "oo-text-field",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Telefoonnummer",
                field_identifier: "phone_number",
                value: this.workbench.phone_number
              },
            }
          ]
        },
        {
          _uid: "b0a4bc75-218b-487d-9396-6d9b1bbb749c",
          component: "oo-detail-card",
          class: "col-12 pa-8",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "223e8e4d-602a-3647-b28d-e9839737fba0",
              component: "oo-local-mini-crud",
              class: "col-12 pa-0",
              events: {
                'store:entity': 'upsertAddress',
                'delete:entity': 'deleteAddress',
              },
              props: {
                singularTitle: 'Adres',
                pluralTitle: 'Adressen',
                namespace: 'customerAddresses',
                items: this.workbench.customer_addresses
              }
            },
          ]
        },
        {
          _uid: "f0f4bc75-234a-487d-9296-6d9e1fbb611a",
          component: "oo-detail-card",
          class: "col-12 pa-8",
          props: {
            title: "Notities",
          },
          slot: [
            {
              _uid: "f5e4bc75-234a-487d-9246-6d9e1fff629e",
              component: "oo-textarea",
              class: "col-md-12 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Notitie",
                field_identifier: "note",
                value: this.workbench.note
              },
            }
          ]
        },
      ];
    }
  },
  data() {
    return {
      workbench: {
        customer_uuid: 0,
        customer_group_uuid: 0,
        customer_addresses: []
      },
      components: {
        'oo-detail-card': () => import('@/components/common/ooDetailCard/index.vue'),
        'oo-data-table': () => import('@/components/common/ooDataTable/index.vue'),
        'oo-select': () => import('@/components/common/ooSelect/index.vue'),
        'oo-text-field': () => import('@/components/common/ooTextField/index.vue'),
        'oo-textarea': () => import('@/components/common/ooTextarea/index.vue'),
        'oo-local-mini-crud': () => import('@/components/common/ooLocalMiniCrud/index.vue')
      }
    }
  },
  props: {
    routeOnSuccess: {
      type: Boolean,
      default: true,
      required: false
    }
  }
}
</script>
