<template>
  <span class="container">
    <span v-if="data.company_name">{{data.company_name}}</span>
    <span><span v-if="data.company_name">t.a.v.</span> {{data.name}}</span>
    <span>{{data.street_line_1}} {{data.street_number}}{{data.street_number_addition}}</span>
    <span>{{data.zipcode}} {{data.city}}</span>
    <span>{{data.country}}</span>
  </span>
</template>

<script>
export default {
  name: 'ooAddress',
  props: {
    data: {
      type: Object,
      required: true
    },
  }
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  flex-direction: column;
}
</style>
