<template>
  <span>
    <oo-customer-creator
        v-if="createCustomerDialog"
        :key="'create_' + dialogIteration"
        @save="handleStoreCustomer"
        @cancel="closeCustomerDialog"
    />

    <oo-modal :dialog="selectCustomerDialog">
      <oo-modal-row>
        <oo-modal-card :keep-title-margin="true" title="Selecteer een klant" row>
          <oo-select class="flex-grow-1 mr-4" label="Klant" @change="updateCustomerUuid" :value="customerUuid" :items="customerOptions" />
           <v-btn large class="mt-1" @click="createCustomerDialog = true" icon>
             <v-icon dark>mdi-plus</v-icon>
           </v-btn>
        </oo-modal-card>
      </oo-modal-row>

      <oo-modal-row>
        <oo-modal-card>
          <v-btn outlined elevation="0" @click="closeCustomerSelector">Annuleren</v-btn>
          <v-btn :disabled="customerUuid === 0" elevation="0" class="primary" @click="createOrder">Verder</v-btn>
        </oo-modal-card>
      </oo-modal-row>
    </oo-modal>

    <span class="order-list-header-actions">
      <v-btn class="primary" @click="openCustomerSelector">Aanmaken</v-btn>
    </span>
  </span>
</template>

<script>
import {VBtn} from 'vuetify/lib';
import {mapActions, mapState} from "vuex";

import ooModal from '@/components/common/ooModal/index.vue';
import ooModalCard from '@/components/common/ooModalCard/index.vue';
import ooModalRow from '@/components/common/ooModalRow/index.vue';
import ooSelect from '@/components/common/ooSelect/index.vue';
import ooCustomerCreator from '@/components/common/ooCustomerCreator/index.vue';
//import {eventbus} from "@/main";

export default {
  name: 'order_list_header_2',
  components: {
    VBtn,
    ooModal,
    ooModalCard,
    ooModalRow,
    ooSelect,
    ooCustomerCreator
  },
  methods: {
    ...mapActions('toast', {
      successToast: 'success',
      warningToast: 'warning',
      errorToast: 'error'
    }),
    ...mapActions('customers', {
      fetchCustomers: 'fetch',
      storeCustomer: 'storeEntity',
      resetCustomer: 'resetFlags'
    }),
    ...mapActions('orders', {
      storeOrder: 'storeEntity',
    }),
    ...mapActions('customerAddresses', {
      storeAddress: 'storeEntity',
    }),

    openCustomerSelector() {
      this.selectCustomerDialog = true;
    },
    closeCustomerSelector() {
      this.selectCustomerDialog = false;
      this.customerUuid = 0;
    },
    updateCustomerUuid(e) {
      this.customerUuid = e;
    },
    /*async updateAndFetchCustomerUuid(e) {
      this.createCustomerDialog = false;
      await this.fetchCustomers({});
      this.customerUuid = e;
    },*/
    async handleStoreCustomer(e) {
      let {customer, customerBillingAddress, customerShippingAddress} = e;
      let addresses = [{...customerBillingAddress, type:['billing']}, {...customerShippingAddress, type:['shipping']}];
      let parent = this;

      await this.storeCustomer(customer).then(
          function (e) {
            if (e !== undefined && e.operation === true)  parent.customerUuid = e.affectedModel.uuid;
          }
      );

      if (this.customerUuid !== 0 && addresses.length > 0)
        await this.handleStoreAddresses(addresses);

      if (this.customers.success) {
        this.createCustomerDialog = false;
        await this.fetchCustomers({});
      }

      await this.resetCustomer();
    },

    closeCustomerDialog() {
      this.dialogIteration++
      this.createCustomerDialog = false;
    },

    async handleStoreAddresses(addresses) {
      let parent = this;

      await Promise.all(
          await addresses.map(async function (e) {
            // eslint-disable-next-line no-unused-vars
            let {uuid, ...addressWithoutUuid} = e;
            await parent.storeAddress({...addressWithoutUuid, customer_uuid: parent.customerUuid});
          })
      );
    },

    async createOrder() {
      let order = await this.storeOrder({
        "customer_uuid": this.customerUuid,
        "order_email": this.customers.data.find(e=> e.uuid === this.customerUuid).email,
        "order_telephone":  this.customers.data.find(e=> e.uuid === this.customerUuid).phone_number,
        "is_concept": true
      });

      if(this.orders.success) {
        this.$router.push({
          name: 'order-edit',
          params: {id: order['affectedUuid']}
        })
      }

      this.closeCustomerSelector();
    }
  },
  created() {
    this.fetchCustomers({});
  },
  computed: {
    ...mapState(["customers", "orders"]),
    customerOptions() {
      return this.customers.data.map((x) => ({
            'text': x.name,
            'value': x.uuid
          }),
      );
    },
  },
  data() {
    return {
      dialogIteration: 0,
      createCustomerDialog: false,
      selectCustomerDialog: false,
      customerUuid: 0,
    }
  }
}
</script>

<style lang="scss">
.order-list-header-actions {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap-reverse;

  > * {
    width: 120px;
    margin-top: 3px;
    margin-left: 6px;
    margin-bottom: 3px;
  }
}

.flex-50 {
  flex: 0 .5 50%;
}

</style>