<template>
  <v-text-field class="order-search" @keyup="updateSearchField" v-model="searchQuery" label="Zoeken op ordernummer" outlined hide-details></v-text-field>
</template>


<script>
import {VTextField} from 'vuetify/lib';
import {eventbus} from "@/main";

export default {
  name: 'order_list_header_1',
  methods: {
    updateSearchField(e) {
      if (this.timeout) {
        clearTimeout(this.timeout);
        this.timeout = null;
      }

      if (e.keyCode === 13) {
        eventbus.$emit('orderListSearchOrder', this.searchQuery);
        return;
      }

      this.timeout = setTimeout(() => {
        eventbus.$emit('orderListSearchOrder', this.searchQuery);
      }, 2000);
    },
  },
  components: {
    VTextField
  },
  data(){
    return {
      searchQuery: "",
      timeout: false
    }
  }
}
</script>

<style lang="scss">
.order-search {
  width: 100%;
  max-width: 510px;
}
</style>
