<route>
{
"name": "order-list",
"meta": {
"title": "Orders",
"show": false,
"order":"31",
"icon": "mdi-format-list-bulleted",
"layout": "oo-main-layout",
"requiresAuth": true
}
}
</route>

<script>
import {mapState} from 'vuex';
import templateEngine from '@/components/mixins/ooJsonTemplateEngine/index.vue';
import {eventbus} from "@/main";

export default {
  name: 'order_index',
  mixins: [templateEngine],
  async created() {
    await this.handleSearch('');
    eventbus.$on('orderListSearchOrder', this.handleSearch);
  },
  beforeDestroy() {
    eventbus.$off('orderListSearchOrder')
  },
  methods: {
    updatePage(e) {
      this.$store.dispatch('orders/fetchPage', e);
    },
    selectItem(e, value) {
      let copy = {...e};
      copy.checked = value;
      this.updateItem(copy);
    },
    updateItem(e) {
      this.$store.dispatch('orders/updateItem', e);
    },
    removeItem(e) {
      this.$store.dispatch('orders/deleteEntity', e);
    },
    openItem(e) {
      let uuid = e.uuid;
      this.$router.push({
        name: 'order-edit',
        params: {id: uuid}
      })
    },
    async handleSearch(e) {
      await this.$store.dispatch('orders/setSearchQuery', e);
      this.$store.dispatch('orders/fetchPage', 1);
    }
  },
  computed: {
    ...mapState(["orders"]),
    listFields() {
      return this.$store.getters['orders/getListFields']
    },
    headers() {
      if(this.listFields === undefined)
        return [];

      return this.listFields.map(x => ({
        'text': x.label,
        'value': x.entity,
        'sortable': false
      }));
    },
    items() {
      let data = [...this.orders.data.filter(({ uuid: dataUuid }) => this.orders.pagination.selection.some((paginationUuid) => dataUuid === paginationUuid ))];
      data.map((element, index) => data[index] = {...element, 'totals-totalGross': '€' + parseFloat(element.totals.totalGross).toFixed(2)})
      return data;
    },
    contentViaComputed() {
      return [{
        _uid: "210f8a9a-601a-4377-b28d-e9869747efe0",
        component: "oo-data-table",
        class: "col-12 pa-0",
        events: {
          'update:page': 'updatePage',
          'select:item': 'selectItem',
          'remove:item': 'removeItem',
          'open:item': 'openItem'
        },
        props: {
          headers: this.headers,
          //items: this.orders.data
          items: this.items,
          loading: this.orders.loading,
          actions: true,
          page: this.orders.pagination.current_page,
          'serverItemsLength': this.orders.pagination.total
        },
      }]
    }
  },
  data() {
    return {
      components: {
        'oo-data-table': () => import('@/components/common/ooDataTable/index.vue')
      }
    }
  }
}
</script>
