<template>
  <span>
     <oo-edit-modal
         @cancel="closeItem"
         @save="handleStoreItem"
         @reset:apiErrors="$emit('reset:apiErrors')"
         :dialog="this.dialog"
         :title="this.dialogTitle"
         :field-meta="this.editFields"
         :fields="this.workbench"
         :key="this.namespace + '_' + this.dialogIteration"
     />
      <oo-data-table
          @open:item="openItem"
          @click:header-action="createItem"
          @remove:item="removeItem"

          :title="this.pluralTitle"
          :headers="this.headers"
          :items="this.items"

          :selectable="false"
          :actions="true"
          :bare="true"
          :page="1"
          :serverItemslength="1"
      />
  </span>
</template>

<script>
import ooDataTable from "@/components/common/ooDataTable/index";
import ooEditModal from "@/components/common/ooEditModal/index";
import {mapActions} from "vuex";

export default {
  name: 'ooLocalMiniCrud',
  components: {
    ooDataTable,
    ooEditModal
  },
  methods: {
    ...mapActions('toast', {
      successToast: 'success',
      warningToast: 'warning',
      errorToast: 'error'
    }),
    removeItem(e) {
      this.$emit('delete:entity', e)
    },
    closeItem() {
      this.dialogIteration++;
      this.dialog = false;
    },
    async handleStoreItem(e) {
      await this.$emit('store:entity', e);
      this.successToast(this.singularTitle + ' aangemaakt')
      this.dialogIteration++;
      this.dialog = false;
    },
    openItem(e) {
      this.dialogTitle = this.singularTitle + " " + e.name + " bewerken";

      let workbench = {uuid: e.uuid};
      this.editFields.forEach((field) => {
        workbench[field.entity] = e[field.entity];
      })
      this.workbench = workbench;

      this.dialog = true;
    },
    createItem() {
      this.dialogTitle = this.singularTitle + " toevoegen";

      let workbench = {uuid: ''};
      this.editFields.forEach((field) => {
        workbench[field.entity] = this.filter ? this.filter[field.entity] ?? '' : '';
      })
      this.workbench = workbench;

      this.dialog = true;
    }
  },
  props: {
    singularTitle: {
      type: String,
      required: true
    },
    pluralTitle: {
      type: String,
      required: true
    },
    namespace: {
      type: String,
      required: true
    },
    items: {
      type: Array,
      required: true
    },
    filter: {
      type: Object,
      required: false
    }
  },
  computed: {
    editFields() {
      return this.$store.getters[this.namespace + '/getEditFields'];
    },
    listFields() {
      return this.$store.getters[this.namespace + '/getListFields']
    },

    storeData() {
      return this.$store.state[this.namespace];
    },
    headers() {
      return this.listFields.map(x => ({
        'text': x.label,
        'value': x.entity,
        'sortable': false
      }));
    },
  },
  data() {
    return {
      dialog: false,
      dialogIteration: 0,
      dialogTitle: "",
      workbench: {}
    }
  }
}
</script>