<template>
  <v-app-bar app height="182" class="pl-0 v-app-bar" flat>
    <div class="oo-toolbar">
      <v-toolbar height="89" class="title-bar-1">
        <v-spacer></v-spacer>
        <!--<v-btn icon name="help">
          <v-icon>mdi-lifebuoy</v-icon>
        </v-btn>
        <v-btn icon name="notifications">
          <v-icon>mdi-bell-outline</v-icon>
        </v-btn>-->
      </v-toolbar>

      <v-toolbar height="89" flat class="title-bar-2">
        <span class="title-bar-2-content">
            <v-toolbar-title class="font-weight-bold oo-title">
              <span class="slot-wrapper">
                <slot name="header"/>
              </span>
            </v-toolbar-title>

            <span class="header-custom-1">
               <span class="slot-wrapper">
                  <slot name="custom-1"/>
               </span>
            </span>

            <span class="header-custom-2">
               <span class="slot-wrapper">
                  <slot name="custom-2"/>
               </span>
            </span>
        </span>
      </v-toolbar>
    </div>
  </v-app-bar>
</template>

<style lang="scss">
.v-app-bar {
  border-bottom: 2px solid $brand-primary !important;

  .v-toolbar__content {
    padding: 0;
  }
}

.oo-toolbar {
  width: 100%;
  padding: 0;

  .oo-title {
    font-size: 34px !important;
    line-height: 41px !important;
  }

  .title-bar-1 {
    z-index: 2;
    .v-toolbar__content {
      padding-right: 20px;
    }
  }

  .title-bar-2-content {
    height: 89px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    >* {
      flex-grow: 1;
      width: 100px;
    }

    .header-custom-2 {
      width: 200px;
    }

    /* Start of slot wrapper*/
    >:first-child .slot-wrapper {
      justify-content: flex-start;
    }
    >* .slot-wrapper {
      padding: 15px;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
    >:last-child .slot-wrapper {
      justify-content: flex-end;
    }
    /* End of slot wrapper*/
  }
}

</style>