<template>
  <span>
    <v-select outlined @input="onInput" class="ooSelect" v-on:change="$emit('change', $event)" v-bind="{...$props, ...$attrs}"><slot/></v-select>
  </span>
</template>

<script>
export default {
  name: 'ooSelect',
  props: {
    field_identifier: {
      type: String,
      required: false
    }
  },
  methods: {
    onInput(e){
      this.$emit('update:field', this.field_identifier, e);
    },
  }
}
</script>

<style lang="scss" scoped>
.ooSelect {
  min-width: 250px;
}
</style>