<template>
    <span class="oo-modal-row">
      <slot />
    </span>
</template>

<script>

export default {
  name: 'ooModalRow',
}
</script>

<style lang="scss">
.oo-modal-row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  .card {
    box-shadow: none !important;
    border-radius: 0;
    border: 0;
    width: 100%;
    background: $oo-white;
    /*flex-grow: 0;*/
    flex-shrink: 1;
  }

  >:nth-child(even) {
    background: $oo-light-gray;
    width: 80%;
    * {
      background: inherit;
    }
  }
}
</style>
