<template>
    <component-renderer
      :components="components"
      :content="content"
      @executeMethod="executeMethod"
    />
</template>

<script>
import componentRenderer from '@/components/common/ooJsonComponentRenderer/index.vue';

export default {
  name: "oo-json-template-engine",
  components: {
    componentRenderer
  },
  computed: {
    content() {
      if (this.contentViaProps) return this.contentViaProps;
      if (this.contentViaComputed) return this.contentViaComputed;
      return this.contentViaData;
    }
  },
  methods: {
    executeMethod() {
      //remove index 0 (method name)
      let method = arguments[0];
      delete arguments[0];

      //Shift index to the left
      Object.keys(arguments).forEach((key) => {
        arguments[key-1] = arguments[key];
      });
      delete arguments[arguments.length-1];

      this[method](...arguments);
    }
  },
  data() {
    return {
      components: {}
    }
  },
  props: {
    contentViaProps: {
      type: Array,
      required: false
    }
  }
}
</script>