<template>
  <v-navigation-drawer app
                       width="332"
                       class="nav"
                       :mini-variant="menuClosed"
                       fixed
                       permanent
                       :dark="darkMenu" >
  <div class="menu-top-wrap">
    <v-list class="mt-3">
      <v-list-item>
        <v-list-item-icon class="mr-3">
          <oo-icon src="fulfillable" />
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title class="font-weight-bold username">
            {{ userData.name }}
          </v-list-item-title>
          <v-list-item-subtitle>{{ userData.role }}</v-list-item-subtitle>
          <v-list-item-subtitle style="display:none;">{{ auth.bearerToken }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-list nav class="mt-8">
      <v-list-item v-for="menuItem in menuItems" :key="menuItem.path" link :to="menuItem.path">
        <v-list-item-icon class="mr-3">
          <v-icon>{{ menuItem.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-title>{{ menuItem.name }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </div>

  <div class="menu-bottom-wrap">
    <v-list nav dense>
      <v-list-item @click="menuOpen = !menuOpen">
        <v-list-item-icon class="mr-3">
          <v-icon :class="{ open: menuOpen, center: true, 'menu-toggle': true }" small>mdi-chevron-right-box-outline</v-icon>
        </v-list-item-icon>
        <v-list-item-subtitle>Menu minimaliseren</v-list-item-subtitle>
      </v-list-item>
    </v-list>

    <div class="logout" :class="{dark:darkMenu, light:!darkMenu}">
      <v-list nav dense>
        <v-list-item @click="logout" link>
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-logout-variant</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Uitloggen</v-list-item-title>
        </v-list-item>
      </v-list>
    </div>
  </div>
  </v-navigation-drawer>
</template>

<script>
  import ooIcon from '@/components/common/ooIcon/index.vue';
  import {mapState} from "vuex";
  import store from "@/store";

  export default {
    name: 'ooNavigationDrawer',
    components: {
      ooIcon
    },
    created() {
      this.$router.options.routes.filter(route => { return route.meta.show }).forEach(route => {
        this.menuItems.push({
          name: route.meta.label ? route.meta.label : 'Not set',//route.name
          path: route.path,
          icon: route.meta.icon
        })
      })

      this.handleResize();
    },
    methods: {
      async logout() {
        await this.$store.dispatch('auth/logout');
        this.$router.push({
          name: 'login',
        })
      },
      handleResize() {
        const windowSizeUpdated = this.windowWidth !== window.innerWidth;
        this.windowWidth = window.innerWidth;

        if(windowSizeUpdated && this.windowWidth < 800)
          this.menuOpen = false

        if(windowSizeUpdated && this.windowWidth >= 800)
          this.menuOpen = true
      }
    },
    mounted() {
      window.addEventListener('resize', this.handleResize);
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.handleResize);
    },
    computed: {
      ...mapState(["auth"]),
      darkMenu() {
        return config.THEME.DARK_NAVIGATION || config.THEME.DARK;
      },
      menuClosed() {
        return !this.menuOpen;
      },
      userData() {
        return store.getters['auth/getUserData'];
      }
    },
    data() {
      return {
        windowWidth: 0,
        menuOpen: true,
        menuItems: []
      }
    }
  }
</script>

<style lang="scss">

  .username {
    font-size: 18px/21px;
  }

  .v-list-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 90px !important;
    padding: 0;
    margin: 0;
    i, .v-image {
      max-width: 30px;
    }
  }

  .menu-toggle {
    transform: rotate(0deg);
    transform-origin: center center;
    transition: transform .5s ease-in-out;
  }

  .menu-toggle.open {
    transform: rotate(-180deg);
    transform-origin: center center;
    transition: transform .5s ease-in-out;
  }

  .menu-top-wrap .v-icon {
    color: $brand-primary !important;
  }

  .v-navigation-drawer__content {
    /* Minor hack.. should not update css of children ¯\_(ツ)_/¯ */
    margin-bottom: 120px !important;
  }

  .menu-bottom-wrap {
    /* Height is part of the same minor hack */
    height:110px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .logout.light {
      background-color: $bg-light-secondary;
    }
    .logout.dark {
      background-color: $bg-dark-secondary;
    }
  }
</style>
