<template>
  <component :is="this.$route.meta.layout || 'div'">
    <router-view/>
    <template #custom-1>
      <router-view name="custom-1"/>
    </template>
    <template #custom-2>
      <router-view name="custom-2"/>
    </template>
  </component>
</template>

<script>
import ooLoginLayout from "@/templates/ooLoginLayout";
import ooMainLayout from "@/templates/ooMainLayout";

export default {
  name: 'App',
  components: {
    ooLoginLayout,
    ooMainLayout
  }
}
</script>

<style lang="scss">
.v-btn--outlined {
  color: $brand-secondary !important;
}
</style>
