<template>
  <span v-if="order !== undefined">
    <v-btn outlined class="mr-4" to="/order/list">Annuleren</v-btn>
    <v-btn v-if="order.is_concept" class="primary mr-4" @click="storeConcept">Concept opslaan</v-btn>
    <v-btn v-if="order.is_concept" class="primary" @click="storeOrder">Maak definitief</v-btn> <!--:disabled="orders.loading"-->
    <v-btn v-if="!order.is_concept" class="primary" @click="storeOrder">Opslaan</v-btn>
  </span>
</template>


<script>
import {mapState} from 'vuex';
import {eventbus} from '@/main';
import {VBtn} from 'vuetify/lib';

export default {
  name: 'order_edit_handler',
  methods: {
    storeOrder() {
      eventbus.$emit('orderEditStoreOrder');
    },
    storeConcept() {
      eventbus.$emit('orderEditStoreConcept');
    }
  },
  //{this.$route.params.id}}
  //this.fetchOrder(this.id)
  computed: {
    ...mapState(["orders"]),
    order() {
      return this.$store.getters['orders/getLocalEntitiesByProps']({uuid: this.$route.params.id})[0]
    },
  },
  components: {
    VBtn
  }
}
</script>
