<script src="../../../../store/modules/toast.js"></script>
<route>
{
"name": "order-edit",
"meta": {
"title": "Order bekijken/bewerken",
"show": false,
"order":"32",
"icon": "mdi-information-outline",
"layout": "oo-main-layout",
"requiresAuth": true
}
}
</route>

<script>
import {mapActions, mapState} from 'vuex';
import {eventbus} from '@/main';
import templateEngine from '@/components/mixins/ooJsonTemplateEngine/index.vue';
import set from 'lodash/set'

export default {
  name: 'order_edit',
  mixins: [templateEngine],
  async created() {
    eventbus.$on('orderEditStoreOrder', this.handleStoreOrder);
    eventbus.$on('orderEditStoreConcept', this.handleStoreConcept);

    this.loadData();
    await this.fetchData(1);
    await this.fetchData(2);
  },
  beforeDestroy() {
    eventbus.$off('orderEditStoreOrder');
    eventbus.$off('orderEditStoreConcept');
  },
  watch: {
    'workbench.shipping_address_uuid': function (newValue) {
      if (this.workbench.shipping_is_billing) {
        this.workbench.billing_address_uuid = newValue;
      }
    },
    'workbench.shipping_is_billing': function (checked) {
      if (checked)
        this.workbench.billing_address_uuid = this.workbench.shipping_address_uuid;

      else
        this.workbench.billing_address_uuid = 0;
    }
  },
  methods: {
    ...mapActions('toast', {
      successToast: 'success',
      warningToast: 'warning',
      errorToast: 'error'
    }),
    ...mapActions('orders', {
      fetchOrderCustomerAddress: 'fetchCustomerAddress',
      fetchOrderTransactions: 'fetchOrderTransactions',
      fetchOrderDocuments: 'fetchOrderDocuments',
      fetchOrder: 'fetchEntity',
      storeOrder: 'storeEntity',
      resetOrder: 'resetFlags'
    }),
    ...mapActions('customers', {
      fetchCustomer: 'fetchEntity'
    }),
    ...mapActions('taxes', {
      fetchTaxes: 'fetch'
    }),
    ...mapActions('paymentMethods', {
      fetchPaymentMethods: 'fetch'
    }),
    ...mapActions('shippingMethods', {
      fetchShippingMethods: 'fetch'
    }),
    ...mapActions('shippingTypes', {
      fetchShippingTypes: 'fetch'
    }),
    ...mapActions('flows', {
      fetchFlows: 'fetch'
    }),

    openCustomer() {
      this.$router.push({
        name: 'customer-edit',
        params: {id: this.workbench.customer_uuid}
      })
    },

    openProductLabels() {
      const url = config.API_URL + "orders/" + this.id + "/downloadProductLabels";
      this.downloadFile(url);
    },

    openPackingSlip() {
      const url = config.API_URL + "orders/" + this.id + "/downloadPackingSlip";
      this.downloadFile(url);
    },

    openDocument(e) {
      const url = config.API_URL + "order-documents/" + e.uuid + "/download/" + e.deeplink_code;
      this.downloadFile(url);
    },

    downloadFile(href) {
      Object.assign(document.createElement('a'), {
        href: href,
        target: '_blank',
        download: true,
      }).click();
    },

    concatenateAddress(addresss) {
      return addresss.name + ', '
          + (addresss.street_line_1 ?? '') + ' '
          + (addresss.street_number ?? '') + ''
          + (addresss.street_number_addition ?? '') + ', '
          + (addresss.zipcode ?? '') + ''
          + (addresss.region ?? '');
    },
    loadData() {
      let orders = this.$store.getters['orders/getLocalEntitiesByProps']({uuid: this.id});
      let orderTransactions = this.$store.getters['orderTransactions/getLocalEntitiesByProps']({order_uuid: this.id});
      let orderDocuments = this.$store.getters['orderDocuments/getLocalEntitiesByProps']({order_uuid: this.id});

      let current_order = {};
      if(orders !== undefined && orders.length > 0)
        current_order = orders[0];

      this.workbench = {...this.workbench, ...current_order};
      this.workbench.shipping_is_billing = this.workbench.shipping_address_uuid === this.workbench.billing_address_uuid;
      this.workbench.order_delivery_date = current_order.order_delivery_date === null ? '' : current_order.order_delivery_date;//catch null
      this.workbench.order_flow = this.workbench.inFlows ? this.workbench.inFlows[0] : '';
      this.workbench.order_transactions = orderTransactions ?? [];
      this.workbench.order_documents = orderDocuments ?? [];
    },
    async fetchData(stage) {
      switch (stage) {
        case 1:
          await Promise.all([
            this.fetchFlows({}),
            this.fetchTaxes({}),
            this.fetchPaymentMethods({}),
            this.fetchShippingMethods({}),
            this.fetchShippingTypes({}),
            this.fetchOrder(this.id),
            this.fetchOrderTransactions(this.id),
            this.fetchOrderDocuments(this.id)
          ]);
          break;
        case 2:
          await Promise.all([
            this.fetchCustomer(this.workbench.customer_uuid),
            this.fetchOrderCustomerAddress(this.workbench.customer_uuid)
          ]);
          break;
      }

      this.loadData();
    },
    async handleStoreConcept() {
      await this.storeOrder({...this.workbench, is_concept: true});

      if (this.orders.success) {
        this.successToast('Concept opgeslagen');
        /*this.$router.push({
          name: 'order-list',
        })*/
        await this.fetchData(1);
        await this.fetchData(2);
      }
      this.resetOrder();
    },
    async handleStoreOrder() {
      await this.storeOrder({...this.workbench, is_concept: false});

      if (this.orders.success) {
        this.successToast('Order opgeslagen');
        /*this.$router.push({
          name: 'order-list',
        })*/
        await this.fetchData(1);
        await this.fetchData(2);
      }
      this.resetOrder();
    },
    updateField(fieldname, value) {
      set(this.workbench, fieldname, value);
    },
    generateUuid() {
      let dt = new Date().getTime();
      let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        let r = (dt + Math.random() * 16) % 16 | 0;
        dt = Math.floor(dt / 16);
        return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
      });
      return uuid;
    },
    async insertTransaction(e) {
      this.workbench.order_transactions.push({...e, uuid: this.generateUuid(), order_uuid: this.id, storeAction: 'create'});
    },
    async sendInvoice() {
      let r = await this.$store.dispatch('orders/action', {uuid: this.id, action: 'sendInvoice'});
      if(r.operation === true) this.successToast('Factuuraanvraag verwerkt');
      else this.warningToast('Factuur kon niet worden aangemaakt');
      //this.workbench.order_transactions.push({...e, uuid: this.generateUuid(), order_uuid: this.id, storeAction: 'create'});
    },
    async deleteTransaction(e) {
      let transactionIndex = this.workbench.order_transactions.findIndex(function (workbenchItem) {
        return workbenchItem.uuid === e;
      });

      if(this.workbench.order_transactions[transactionIndex].storeAction === 'create')
        delete this.workbench.order_transactions[transactionIndex];

      else this.workbench.order_transactions[transactionIndex].storeAction = 'remove';

      //This line triggers the vue-watchers to update and removes 'deleted' entries
      this.workbench.order_transactions = this.workbench.order_transactions.filter(() => true);
    }
  },
  props: {
    id: {
      type: String,
      required: true
    },
  },
  computed: {
    ...mapState(["customers", "customerAddresses", "paymentMethods", "shippingMethods", "shippingTypes", "orders", "flows", "orderTransactions", "orderDocuments", "taxes", "products", "services"]),

    //Mappers
    taxOptions() {
      return this.taxes.data.map((x) => ({
            'text': x.name,
            'value': x.uuid
          }),
      );
    },
    flowOptions() {
      return this.flows.data.map((x) => ({
            'text': x.name,
            'value': x.uuid
          }),
      );
    },
    paymentMethodOptions() {
      return this.paymentMethods.data.map((x) => ({
            'text': x.name,
            'value': x.uuid
          }),
      );
    },
    shippingMethodOptions() {
      return this.shippingMethods.data.map((x) => ({
            'text': x.name,
            'value': x.uuid
          }),
      );
    },
    shippingTypeOptions() {
      return this.shippingTypes.data.map((x) => ({
            'text': x.name,
            'value': x.uuid
          }),
      );
    },
    shippingAddressOptions() {
      return this.customerAddresses.data.filter((e) => e.type === 'shipping' && e.customer_uuid === this.workbench.customer_uuid).map((x) => ({
            'text': this.concatenateAddress(x),
            'data': {company_name: this.customer.company_name, ...x},
            'value': x.uuid
          }),
      );
    },
    billingAddressOptions() {
      if (this.workbench.shipping_is_billing)
        return this.shippingAddressOptions;

      return this.customerAddresses.data.filter((e) => e.type === 'billing' && e.customer_uuid === this.workbench.customer_uuid).map((x) => ({
            'text': this.concatenateAddress(x),
            'data': {company_name: this.customer.company_name, ...x},
            'value': x.uuid
          }),
      );
    },

    computedOrderDate() {
      return this.workbench.order_created_date
          ? this.$moment(this.workbench.order_created_date).format('DD-M-YYYY')
          : 'Onbekend';
    },

    computedOrderStatus() {
      if(this.workbench.state === 'concept') return 'Concept'
      if(this.workbench.state === 'new') return 'Nieuw'
      if(this.workbench.state === 'processing') return 'In behandeling'
      if(this.workbench.state === 'completed') return 'Verwerkt'
      return 'Onbekend'
    },

    customer() {
      return this.customers.data.find(e => e.uuid === this.workbench.customer_uuid) ?? {};
    },

    products() {
      return this.workbench.order_lines ?? [];
    },
    services() {
      return this.workbench.order_lines ?? [];
    },
    contentViaComputed() {
      return [
        {
          _uid: "d0a4bc75-208e-487d-9294-6d9e1bfff119c",
          component: "oo-status-header",
          class: "col-12 pa-8 pb-0 pt-12",
          props: {
            primary: true,
            title: "#" + (this.workbench.order_number ?? '000000'),
            items: [
              {
                title: 'Besteldatum',
                value: this.computedOrderDate
              },
              {
                title: 'Orderstatus',
                value: this.computedOrderStatus
              },
            ]
          },
          slot: [
            {
              _uid: "f0e4bc33-234a-487d-9246-6d9e1ffe336c",
              component: "oo-select",
              renderWhen: config.APP_VARIANT !== 'custom_webkarpet',
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Vestiging",
                field_identifier: "establishment",
                value: this.workbench.establishment,
                items: ['Genemuiden', 'Oudenbosch']
              }
            }
          ]
        },
        {
          _uid: "d0a4bc75-208e-487d-9294-6d9e1bfff419c",
          component: "oo-detail-card",
          class: "col-12 pa-8 pt-6",
          renderWhen: this.workbench.state !== 'concept',
          props: {
            primary: true,
            title: "Orderverwerking",
            noContentPadding: true
          },
          actions: [{
            _uid: "f0e4bc75-234a-411a-9246-1d9e1fbe112f",
            class: 'col-12',
            component: "oo-select",
            events: {
              'update:field': 'updateField',
            },
            props: {
              label: "Groep",
              'hide-details': true,
              field_identifier: "order_flow",
              value: this.workbench.order_flow,
              items: this.flowOptions
            },
          }],
        },
        {
          _uid: "b0a4bc75-208e-487d-9296-6d9e1bbb719c",
          component: "oo-detail-card",
          class: "col-12 pa-8",
          props: {
            title: "Klantinformatie"
          },
          actions: [
            {
              _uid: "f2e4bd33-234a-487d-9246-6d1e1bfe312c",
              component: "oo-btn",
              events: {
                'click': 'openCustomer',
              },
              props: {
                label: "Ga naar klant"
              }
            },
          ],
          slot: [
            {
              _uid: "f0e4bc75-234a-411a-9246-1d9e1fbe139c",
              component: "oo-address-selector",
              class: "col-md-6 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Bezorgadres",
                field_identifier: "shipping_address_uuid",
                value: this.workbench.shipping_address_uuid,
                items: this.shippingAddressOptions
              },
            },
            {
              _uid: "f7e4bc25-254a-487d-9246-6d9e1bbe132c",
              component: "oo-address-selector",
              class: "col-md-6 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Factuuradres",
                disabled: this.workbench.shipping_is_billing,
                field_identifier: "billing_address_uuid",
                value: this.workbench.billing_address_uuid,
                items: this.billingAddressOptions
              },
            },
            {
              _uid: "f0e4bc75-234a-411a-9246-6d9e1bbe139c",
              component: "oo-text-field",
              class: "col-md-6 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "email",
                field_identifier: "order_email",
                value: this.workbench.order_email
              },
            },
            {
              _uid: "f0e4bc75-254a-487d-9246-6d9e1bbe1d39c",
              component: "oo-phone-input",
              class: "col-md-6 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "telefoon",
                field_identifier: "order_telephone",
                value: this.workbench.order_telephone
              },
            },
            {
              _uid: "f7e4bc25-264a-487d-924a-6d9e1bbe112c",
              component: "oo-switch",
              class: "col-md-6 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Bezorgadres is tevens factuuradres",
                field_identifier: "shipping_is_billing",
                value: this.workbench.shipping_is_billing,
              },
            }
          ]
        },
        {
          _uid: "b0a4bc75-208b-487d-9396-6d9b1bbb749c",
          component: "oo-detail-card",
          class: "col-12 pa-8",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "b0a4bc75-208e-487d-9296-6d9e1bbb719d",
              component: "oo-order-line-crud",
              class: "col-12 pa-0",
              props: {
                singularTitle: 'Product',
                pluralTitle: 'Producten',
                customEntityFetch: {
                  key: 'orders/fetchGenerics',
                  payload: this.id
                },
                filter: {
                  order_uuid: this.id.toString(),
                  type: 'generic'
                },
              }
            },
          ]
        },
        /*{
          _uid: "b0a4bc75-208e-487d-9296-6d9e1bbb719e",
          component: "oo-detail-card",
          class: "col-12 pa-8",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "b0a4bc75-208e-487d-9296-6d9e1bbb719d",
              component: "oo-order-line-crud",
              class: "col-12 pa-0",
              props: {
                singularTitle: 'Dienst',
                pluralTitle: 'Diensten',
                customEntityFetch: {
                  key: 'orders/fetchServices',
                  payload: this.id
                },
                filter: {
                  order_uuid: this.id.toString(),
                  type: 'service'
                },
              }
            },
          ]
        },*/
        {
          _uid: "b0a4bc75-208e-487d-9296-6d9e1bbb719f",
          component: "oo-detail-card",
          class: "col-12 pa-8",
          props: {
            title: "Bezorging"
          },
          actions: [
            {
              _uid: "f0e4bd33-234a-487d-9246-6d1e1bfe331c",
              component: "oo-btn",
              class: "mr-2",
              events: {
                'click': 'openProductLabels',
              },
              props: {
                label: "Download Productlabels",
              }
            },
            {
              _uid: "f0e4bd33-234a-487d-9246-6d1e1bfe332c",
              component: "oo-btn",
              events: {
                'click': 'openPackingSlip',
              },
              props: {
                label: "Download pakbon",
              }
            },
          ],
          slot: [
            {
              _uid: "f0e4bc33-234a-487d-9246-6d9e1bbe331c",
              component: "oo-select",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Methode",
                field_identifier: "shipping_method_uuid",
                value: this.workbench.shipping_method_uuid,
                items: this.shippingMethodOptions
              }
            },
            {
              _uid: "f0e4bc75-234a-487d-9246-6d9e1bbe339c",
              component: "oo-select",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Soort",
                field_identifier: "shipping_type_uuid",
                value: this.workbench.shipping_type_uuid,
                items: this.shippingTypeOptions
              },
            },
            {
              _uid: "f0e4bc75-234a-487d-9246-6d9e1bbe329c",
              component: "oo-date-picker",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              renderWhen: this.workbench.order_delivery_date !== null,
              props: {
                label: "Datum",
                field_identifier: "order_delivery_date",
                value: this.workbench.order_delivery_date
              },
            }
          ]
        },
        {
          _uid: "b0a4bc75-208e-487d-9296-6d9e1bbb719h",
          component: "oo-detail-card",
          class: "col-12 col-md-6 pa-8",
          props: {
            title: "Financieel"
          },
          actions: [
            {
              _uid: "f2e4bd33-234a-487d-9216-6d1e1bfe312c",
              component: "oo-btn",
              events: {
                'click': 'sendInvoice',
              },
              props: {
                primary: true,
                label: "Factuur versturen",
              }
            }
          ],
          slot: [
            /*{
              _uid: "f0f4bc75-234a-482d-9246-6d9e1bfe619a",
              component: "oo-select",
              class: "col-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Betaalmethode",
                field_identifier: "payment_method_uuid",
                value: this.workbench.payment_method_uuid,
                items: this.paymentMethodOptions
              },
            },*/
            {
              _uid: "f0f4bc75-234a-482d-9246-6d9e1aaa119a",
              component: "oo-transactions-crud",
              events: {
                'store:entity': 'insertTransaction',
                'delete:entity': 'deleteTransaction'
              },
              props: {
                totalDueToPay: this.workbench.totals.totalDueToPay,
                items: this.workbench.order_transactions.filter(e => e.storeAction !== 'remove')
              },
              class: "col-12",
            },
          ]
        },
        {
          _uid: "b0a4bc75-208e-487d-9296-6d9e1bbb719i",
          component: "oo-detail-card",
          class: "col-12 col-md-6 pa-8",
          props: {
            title: "Overzicht"
          },
          slot: [
           /* {
              _uid: "f0e4bc33-234a-487d-9246-6d9e1bbe331c",
              component: "oo-select",
              class: "col-md-4 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "BTW Tarief",
                field_identifier: "tax_uuid",
                value: this.workbench.tax_uuid,
                items: this.taxOptions
              }
            },*/
            {
              _uid: "f0e4bc75-234a-487d-9346-6d9e1bbe329f",
              component: "oo-order-overview",
              class: "col-md-12 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                order: this.workbench,
              },
            },
          ]
        },
        {
          _uid: "b0a4bc75-208e-487d-9296-6d9e1bbb719j",
          component: "oo-detail-card",
          class: "col-12 pa-8",
          props: {
            title: "Opmerkingen"
          },
          slot: [
            {
              _uid: "f3e4bc75-234a-487d-9246-6d9e1fff629e",
              component: "oo-textarea",
              class: "col-md-6 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Opmerkingen intern",
                field_identifier: "note_private",
                value: this.workbench.note_private
              },
            },
            {
              _uid: "f4e4bc75-234a-487d-9246-6d9e1fff629e",
              component: "oo-textarea",
              class: "col-md-6 col-sm-12",
              events: {
                'update:field': 'updateField',
              },
              props: {
                label: "Opmerkingen extern",
                field_identifier: "note_public",
                value: this.workbench.note_public
              },
            }
          ]
        },
        {
          _uid: "b0a4bc75-208e-487d-9396-6d9b1bab739c",
          component: "oo-detail-card",
          class: "col-12 pa-8",
          props: {
            noContentPadding: true
          },
          slot: [
            {
              _uid: "243f8a9a-681a-4377-b28a-e9869747dff0",
              component: "oo-data-table",
              class: "col-12 pa-0",
              events: {
                'click:row': 'openDocument'
              },
              props: {
                title: 'Bestanden',
                headers: [
                  {
                    text: 'Bestand',
                    value: 'file_name',
                    sortable: true
                  },
                  {
                    text: 'Soort',
                    value: 'type',
                    sortable: true
                  },
                  {
                    text: 'Type',
                    value: 'file_type',
                    sortable: true
                  }
                ],
                items: this.workbench.order_documents,
                loading: false,
                selectable: false,
                actions: false,
                bare: true,
                page: 1,
                'serverItemsLength': 1
              },
            }
          ]
        },
      ];
    }
  },
  data() {
    return {
      workbench: {
        totals:[],
        order_flow: 0,
        order_delivery_date: '',
        order_transactions:[],
        order_documents:[],
        ...this.$store.getters['orders/init']
      },
      components: {
        'oo-status-header': () => import('@/components/common/ooStatusHeader/index.vue'),
        'oo-select': () => import('@/components/common/ooSelect/index.vue'),
        'oo-btn': () => import('@/components/common/ooBtn/index.vue'),
        'oo-address-selector': () => import('@/components/common/ooAddressSelector/index.vue'),
        'oo-date-picker': () => import('@/components/common/ooDatePicker/index.vue'),
        'oo-text-field': () => import('@/components/common/ooTextField/index.vue'),
        'oo-phone-input': () => import('@/components/common/ooPhoneInput/index.vue'),
        'oo-textarea': () => import('@/components/common/ooTextarea/index.vue'),
        'oo-detail-card': () => import('@/components/common/ooDetailCard/index.vue'),
        'oo-order-line-crud': () => import('@/components/common/ooOrderLineCrud/index.vue'),
        'oo-switch': () => import('@/components/common/ooSwitch/index.vue'),
        'oo-order-overview': () => import('@/components/common/ooOrderOverview/index.vue'),
        'oo-transactions-crud': () => import('@/components/common/ooTransactionsCrud/index.vue'),
        'oo-data-table': () => import('@/components/common/ooDataTable/index.vue')
      }
    }
  }
}
</script>
