/* https://scotch.io/tutorials/how-to-use-sass-mixins */

/* @include flex; */
@mixin shadow {
  box-shadow: 0px 3px 6px #0000001A;
  opacity: 1;
}

/* Fonts */
@mixin font-regular {
  font-family: upgrade,sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin font-bold {
  font-family: upgrade,sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin font-semibold {
  font-family: upgrade,sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin font-italic {
  font-family: upgrade,sans-serif;
  font-weight: 300;
  font-style: italic;
}
