/* Color-pallette */
$oo-white: #FFFFFF;
$oo-light-blue-gray: #F9FAFB;
$oo-light-gray: #F5F5F5;
$oo-gray: #B9B7C3;
$oo-dark-gray: #333241;
$oo-light-blue: #23223A;
$oo-blue: #0A0924;

/* UI-Elements */
$status-red: #DB3535;
$status-orange: #F4AA1F;
$status-green: #13C735;

$label-yellow: #FFD800;
$label-orange: #FF9D00;
$label-green: #00CB3E;
$label-blue: #1400FF;
$label-purple: #9300FF;
$label-pink: #FF00E2;

/* Background colors */
$bg-dark-primary: $oo-blue;
$bg-dark-secondary: $oo-light-blue;
$bg-light-primary: $oo-white;
$bg-light-secondary: $oo-light-blue-gray;

/* Theme colors */
$brand-primary: #e62a49;
$brand-secondary: $oo-light-blue;
