/* Vuetify imports scss/variables.scss by default */
@import '~@/scss/oo_variables.scss';
@import '~@/scss/oo_mixins.scss';
@import '~vuetify/src/styles/styles.sass';

/* UI Elements */
$list-item-dense-title-font-weight: 300;


/* Background colors */
$material-light: (
        app-bar: $bg-light-primary,
        background: $bg-light-primary,
        surface: $bg-light-primary,
        navigation-drawer: $bg-light-primary,
        toolbar: $bg-light-primary,
);

$material-dark: (
        app-bar: $bg-dark-primary,
        background: $bg-dark-secondary,
        surface: $bg-dark-primary,
        navigation-drawer: $bg-dark-primary,
        toolbar: $bg-dark-primary,
);

/* Global vuetify font */
$body-font-family: 'Upgrade', sans-serif;
$font-weights: (
        'thin': 100,
        'light': 250,
        'regular': 300,
        'medium': 500,
        'bold': 600,
        'black': 900
);