<template>
  <span>
     <!--{{$store.state['orderLines']}} {{namespace}}-->
     <oo-edit-modal
         v-if="this.actions"
         @cancel="closeItem"
         @save="handleStoreItem"
         @reset:apiErrors="resetApiErrors"
         :dialog="this.dialog"
         :title="this.dialogTitle"
         :field-meta="this.editFields"
         :fields="this.workbench"
         :key="this.namespace + '_' + this.dialogIteration"
     />
      <oo-data-table
          @remove:item="deleteEntity"
          @open:item="openItem"
          @click:header-action="createItem"
          @click:row="clickRow"

          :title="this.pluralTitle"
          :headers="this.headers"
          :items="this.storeItems"

          :selectable="false"
          :actions="this.actions"
          :bare="true"
          :page="1"
          :serverItemslength="1"
      />
  </span>
</template>

<script>
import ooDataTable from "@/components/common/ooDataTable/index";
import ooEditModal from "@/components/common/ooEditModal/index";
import {mapActions} from "vuex";

export default {
  name: 'ooMiniCrud',
  components: {
    ooDataTable,
    ooEditModal
  },
  beforeCreate() {
    /**
     * Note!
     * props are unavailable during the execution of the regular methods:{},
     * therefore we're unable to use mapActions inside methods:{} when using a component-prop as namespace inside a vuex-mapper.
     * As a workaround, the affected mappers are placed inside beforeCreate.
     *
     * This is a known 'challenge', more information can be found here:
     * https://github.com/vuejs/vuex/issues/863
     */

    let namespace = this.$options.propsData.namespace;
    this.$options.methods = {
      ...this.$options.methods,
      ...mapActions(namespace, [
          "storeEntity",
          "deleteEntity",
          "resetFlags",
          "resetApiErrors"
      ])
    };
  },
  created() {
      if(this.customEntityFetch)
        this.$store.dispatch(
            this.customEntityFetch.key,
            this.customEntityFetch.payload
        );

      else this.$store.dispatch(this.namespace + '/fetchPage', 1);
  },
  methods: {
    /* Regular mappers are still where they are supposed to be */
    ...mapActions('toast', {
      successToast: 'success',
      warningToast: 'warning',
      errorToast: 'error'
    }),
    closeItem() {
      this.dialogIteration++;
      this.dialog = false;
    },
    async handleStoreItem(e) {
      await this.storeEntity(e);

      if(this.storeData.success) {
        this.resetFlags();
        this.successToast(this.singularTitle + ' opgeslagen')
        this.dialogIteration++;
        this.dialog = false;
      }
    },
    openItem(e) {
      this.dialogTitle = this.singularTitle + " " + e.name + " bewerken";

      let workbench = {uuid: e.uuid};
      this.editFields.forEach((field) => {
        workbench[field.entity] = e[field.entity];
      })
      this.workbench = workbench;

      this.dialog = true;
    },
    clickRow(e) {
      this.$emit('click:row', e)
    },
    createItem() {
      this.dialogTitle = this.singularTitle + " toevoegen";

      let workbench = {uuid: ''};
      this.editFields.forEach((field) => {
        workbench[field.entity] = this.filter ? this.filter[field.entity] ?? undefined : undefined;
      })
      this.workbench = workbench;

      this.dialog = true;
    }
  },
  props: {
    singularTitle: {
      type: String,
      default: "",
      required: false
    },
    pluralTitle: {
      type: String,
      default: "",
      required: false
    },
    namespace: {
      type: String,
      required: true
    },
    actions: {
      type: Boolean,
      default: true,
      required: false
    },
    filter: {
      type: Object,
      required: false
    },
    customEntityFetch: {
      type: Object,
      required: false
    }
  },
  computed: {
    editFields() {
      return this.$store.getters[this.namespace + '/getEditFields'];
    },
    listFields() {
      return this.$store.getters[this.namespace + '/getListFields']
    },
    localEntitiesByProps() {
      return this.$store.getters[this.namespace + '/getLocalEntitiesByProps']
    },
    storeData() {
      return this.$store.state[this.namespace];
    },
    headers() {
      if(this.listFields === undefined)
        return [];

      return this.listFields.map(x => ({
        'text': x.label,
        'value': x.entity,
        'sortable': false
      }));
    },
    storeItems(){
      if(this.$store.state[this.namespace] === undefined)
        return [];

      if(this.filter !== undefined) {
        return this.localEntitiesByProps(
          this.filter
        );
      }

      return this.$store.state[this.namespace].data;
    }
  },
  data() {
    return {
      dialogIteration: 0,
      dialog: false,
      dialogTitle: "",
      workbench: {},
    }
  }
}
</script>