<template>
  <span class="orderProcessingFlowHandlerContainer">
    <oo-select label="Orderverwerkingsgroep" :disabled="orders.loading" :value="$route.params.id" @change="emitChange" :items="flowOptions" />
  </span>
</template>

<script>
import {mapState} from 'vuex';
//import {eventbus} from '@/main';
import ooSelect from '@/components/common/ooSelect/index.vue';

export default {
  name: 'orderProcessing_flow_handler',
  methods: {
    emitChange(e) {
      //eventbus.$emit('orderProcessingEditSelectFlow');
      this.$router.push({
        name: 'orderProcessing-edit',
        params: {id: e}
      })
    }
  },
  computed: {
    ...mapState(["flows", "swimlanes", "orders"]),
    flowOptions() {
      return this.flows.data.map((x) => ({
            'text': x.name,
            'value': x.uuid
          }),
      );
    },
  },
  components: {
    ooSelect
  },
}
</script>

<style lang="scss">
.orderProcessingFlowHandlerContainer {
  .v-input__slot {
    margin-bottom: 0;
  }
  .v-text-field__details {
    display: none;
  }
}
</style>
