<template>
  <span class="orderProcessingUserHandlerContainer">
    <!--<oo-select disabled label="Gebruiker (fake)" @change="emitChange" :items="userOptions" />-->
  </span>
</template>


<script>
import {mapActions, mapState} from 'vuex';
import {eventbus} from '@/main';
/*import ooSelect from '@/components/common/ooSelect/index.vue';*/

export default {
  name: 'orderProcessing_user_handler',
  async created() {
    await this.fetchUsers({});
  },
  methods: {
    ...mapActions('users', {
      fetchUsers: 'fetch',
    }),
    emitChange() {
      eventbus.$emit('orderProcessingEditSelectFlow');
    }
  },
  computed: {
    ...mapState(["users"]),
    userOptions() {
      return this.users.data.map((x) => ({
            'text': x.name,
            'value': x.uuid
          }),
      );
    },
  },
 /* components: {
    ooSelect
  },*/
}
</script>

<style lang="scss">
.orderProcessingUserHandlerContainer {
  .v-input__slot {
    margin-bottom: 0;
  }
  .v-text-field__details {
    display: none;
  }
}
</style>
