<route>
{
"name": "orderProcessing",
"meta": {
"title": "Orderverwerking",
"label": "Orderverwerking",
"show": true,
"order":"4",
"icon": "mdi-cube-send",
"layout": "oo-main-layout",
"requiresAuth": true
}
}
</route>

<script>
import {mapActions, mapState} from 'vuex';

export default {
  name: 'flow_index',

  async created() {
    await this.fetchFlows({});
    if (this.$route.params?.id === undefined) {
      this.$router.push({
        name: 'orderProcessing-edit',
        params: {id: this.flows.data[0].uuid}
      })
    }
  },

  methods: {
    ...mapActions('toast', {
      successToast: 'success',
    }),
    ...mapActions('flows', {
      fetchFlows: 'fetch'
    }),
  },

  computed: {
    ...mapState(["flows"])
  },
}
</script>

<template>
  <router-view></router-view>
</template>