<route>
{
"name": "order",
"meta": {
"label": "Orders",
"show": true,
"order":"3",
"icon": "mdi-format-list-bulleted",
"layout": "oo-main-layout"
},
"children": [
{ "path": "", "redirect": "list" }
]
}
</route>

<template>
  <span>
      <router-view></router-view>
  </span>
</template>