<template>
  <oo-modal :dialog="true">
    <oo-modal-row>
      <oo-modal-card :keep-title-margin="true" title="Klant aanmaken" column>
        <v-form
            ref="form"
            v-model="valid"
        >
          <span class="customerAndShippingAddress">
            <v-row>
              <v-select
                class="mr-4"
                outlined
                label="Klantgroep"
                v-model="localFields.customer.customer_group_uuid"
                :items="customerGroups.data.map(e => ({value:e.uuid,text:e.name}))"
                :rules="getFieldValidation('customer', 'name')"
              />
            </v-row>
            <v-row>
              <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Naam"
                  :rules="getFieldValidation('customer', 'name')"
                  v-model="localFields.customer.name"
              />
              <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Bedrijfsnaam"
                  :rules="getFieldValidation('customer', 'company_name')"
                  v-model="localFields.customer.company_name"
              />
            </v-row><v-row>
              <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Postcode"
                  :rules="getFieldValidation('customerAddress', 'zipcode')"
                  v-model="localFields.customerShippingAddress.zipcode"
              />
              <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Huisnummer"
                  :rules="getFieldValidation('customerAddress', 'street_number')"
                  v-model="localFields.customerShippingAddress.street_number"
              />
            <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Huisnummertoevoeging"
                  :rules="getFieldValidation('customerAddress', 'street_number_addition')"
                  v-model="localFields.customerShippingAddress.street_number_addition"
              />
            </v-row><v-row>
              <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Straatnaam"
                  :rules="getFieldValidation('customerAddress', 'street_line_1')"
                  v-model="localFields.customerShippingAddress.street_line_1"
              />
              <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Woonplaats"
                  :rules="getFieldValidation('customerAddress', 'city')"
                  v-model="localFields.customerShippingAddress.city"
              />
            </v-row><v-row>
              <v-select
                  outlined
                  class="mr-4"
                  type="text"
                  label="Land"
                  :items="getFieldOptions('country')"
                  :rules="getFieldValidation('customerAddress', 'country')"
                  v-model="localFields.customerShippingAddress.country"
              />
              <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="E-mailadres"
                  :rules="getFieldValidation('customer', 'email')"
                  v-model="localFields.customer.email"
              />
            </v-row><v-row>
              <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Telefoonnummer"
                  :rules="getFieldValidation('customer', 'phone_number')"
                  v-model="localFields.customer.phone_number"
              />
            </v-row>
          </span>
          <v-checkbox v-model="shipping_is_billing" label="Afleveradres is gelijk aan factuuradres"/>
          <span v-if="!shipping_is_billing" class="billingAddress">
            <v-row>
              <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Naam"
                  :rules="getFieldValidation('customerAddress', 'name')"
                  v-model="localFields.customerBillingAddress.name"
              />
              <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Bedrijfsnaam"
                  :rules="getFieldValidation('customer', 'company_name')"
                  v-model="localFields.customer.company_name"
              />
            </v-row><v-row>
              <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Postcode"
                  :rules="getFieldValidation('customerAddress', 'zipcode')"
                  v-model="localFields.customerBillingAddress.zipcode"
              />
              <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Huisnummer"
                  :rules="getFieldValidation('customerAddress', 'street_number')"
                  v-model="localFields.customerBillingAddress.street_number"
              />
            <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Huisnummertoevoeging"
                  :rules="getFieldValidation('customerAddress', 'street_number_addition')"
                  v-model="localFields.customerBillingAddress.street_number_addition"
              />
            </v-row><v-row>
              <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Straatnaam"
                  :rules="getFieldValidation('customerAddress', 'street_line_1')"
                  v-model="localFields.customerBillingAddress.street_line_1"
              />
              <v-text-field
                  outlined
                  class="mr-4"
                  type="text"
                  label="Woonplaats"
                  :rules="getFieldValidation('customerAddress', 'city')"
                  v-model="localFields.customerBillingAddress.city"
              />
            </v-row><v-row>
              <v-select
                  outlined
                  class="mr-4"
                  type="text"
                  label="Land"
                  :items="getFieldOptions('country')"
                  :rules="getFieldValidation('customerAddress', 'country')"
                  v-model="localFields.customerBillingAddress.country"
              />
            </v-row>
          </span>
        </v-form>
      </oo-modal-card>
    </oo-modal-row>

    <oo-modal-row>
      <oo-modal-card>
        <v-btn outlined elevation="0" @click="$emit('cancel')">Annuleren</v-btn>
        <v-btn :disabled="!valid" elevation="0" class="primary" @click="storeFields">Opslaan</v-btn>
      </oo-modal-card>
    </oo-modal-row>
  </oo-modal>
</template>

<script>
import ooModal from "@/components/common/ooModal/index";
import ooModalRow from "@/components/common/ooModalRow/index";
import ooModalCard from "@/components/common/ooModalCard/index";
import {mapActions, mapState} from "vuex";

export default {
  name: 'ooCustomerCreator',
  components: {
    ooModal,
    ooModalRow,
    ooModalCard
  },
  created() {
    this.fetchCustomerGroupsPage(1);
  },
  data() {
    return {
      valid: false,
      shipping_is_billing: true,
      localFields: {
        customer: {
          customer_group_uuid: 0,
          name: '',
          company_name: '',
          email: '',
          phone_number: ''
        },
        customerShippingAddress: {
          name: '',
          zipcode: '',
          street_number: '',
          street_number_addition: '',
          street_line_1: '',
          city: '',
          country: '',
        },
        customerBillingAddress: {
          name: '',
          zipcode: '',
          street_number: '',
          street_number_addition: '',
          street_line_1: '',
          city: '',
          country: '',
        },
      }
    }
  },
  methods: {
    ...mapActions('customerGroups', {
      fetchCustomerGroupsPage: 'fetchPage'
    }),
    async storeFields() {
      await this.$refs.form.validate()
      if (this.valid) this.$emit('save', this.localFields);
    },
    resetApiErrors() {
      this.$emit('reset:apiErrors', this.localFields);
    },
    updateField(fieldname, value) {
      this.localFields[fieldname] = value;
      this.localfields = {...this.localfields};
    },
    hasApiError(field) {
      if (field.apiErrors.length > 0) return field.apiErrors.join(', ');
      return true;
    },
    getFieldOptions(entity) {
      return this.customerFields.find(e => e.entity === entity)?.options
          ??  this.customerAddresFields.find(e => e.entity === entity)?.options
          ?? [];
    },
    getFieldValidation(entity, field) {
       if(entity === 'customer')
         return this.customerFields.find(e => e.entity === field).validation

       if(entity === 'customerAddress')
         return this.customerAddresFields.find(e => e.entity === field).validation

       return {};
     }
  },
  watch: {
    'localFields.customer.name': {
      handler() {
        this.localFields.customerShippingAddress.name = this.localFields.customer.name;
      }
    },
    'localFields.customerShippingAddress': {
      deep: true,
      handler() {
        if(this.shipping_is_billing) {
          this.localFields.customerBillingAddress = {...this.localFields.customerShippingAddress};
        }
      }
    },
  },

  computed: {
    ...mapState(["customerGroups"]),
    customerFields() {
      return this.$store.getters['customers/getEditFields'];
    },
    customerAddresFields() {
      return this.$store.getters['customerAddresses/getEditFields'];
    },
    headers() {
      return this.listFields.map(x => ({
        'text': x.label,
        'value': x.entity,
        'sortable': false
      }));
    },
  }
}
</script>

<style lang="scss" scoped>
.customerAndShippingAddress {
  position: relative;
}
.row>* {
  width: 25%;
}
</style>
