<template>
  <span>
    <v-autocomplete outlined clearable @input="onInput" v-bind="{...$props, ...$attrs}" height="100px">
      <template v-slot:selection="data">
         <v-list-item-content>
          <oo-address :data="data.item.data"/>
        </v-list-item-content>
      </template>

      <template v-slot:item="data">
        <v-list-item-content>
          <oo-address :data="data.item.data"/>
        </v-list-item-content>
      </template>
    </v-autocomplete>
  </span>
</template>

<script>
import ooAddress from "@/components/common/ooAddress/index";
export default {
  name: 'ooAddressSelector',
  components: {
    ooAddress
  },
  props: {
    field_identifier: {
      type: String,
      required: false
    },
  },
  methods: {
    onInput(e) {
      this.$emit('update:field', this.field_identifier, e);
    },
  }
}
</script>