<template>
    <v-card class="card pa-6 pl-6 pr-6" v-bind:class="{ primary }">
      <span v-if="this.title" class="title highlight">{{this.title}}</span>
      <div class="statistics mt-8 mb-8" v-bind:class="{ large, horizontal }">
        <div :key="statistic.label" v-for="statistic in statistics">
          <span class="highlight">{{statistic.label}}</span>
          <span>{{statistic.value}}</span>
        </div>
      </div>
    </v-card>
</template>

<script>
export default {
  name: 'ooSmallStatisticsCard',
  props: {
    horizontal: {
      type: Boolean,
      required: false
    },
    large: {
      type: Boolean,
      required: false
    },
    primary: {
      type: Boolean,
      required: false
    },
    title: {
      type: String,
      required: false
    },
    statistics: {
      type: Array,
      required: true,
    },
  }
}
</script>

<style lang="scss" scoped>
  .title {
    @include font-bold;
    font-size: 24px;
    line-height: 29px;
  }

  .statistics {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
    }

    &:not(.horizontal) {
      flex-direction: column;
      justify-content: flex-start;
      div {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &.horizontal {
      flex-direction: row;
      flex-wrap: wrap;
      div {
        margin: 8px;
        flex-direction: column;
      }
    }

    &:not(.large) {
      min-height: 175px;
    }

    &.large {
      div {
        @include font-bold;

        :first-child {
          font-size: 16px;
          line-height: 19px;
        }
        :nth-child(2) {
          color: $oo-blue;
          font-size: 48px;
          line-height: 57px;
        }
      }
    }
  }

  .primary {
    background: $brand-primary !important;
    * {
      color: $oo-white !important;
    }
  }
</style>
